<div class='pageHeader'>
	<h3>Frequently Asked Questions</h3>
	<div class='headerUnderline'></div>
</div>

<p class='pageDirections'>
	Many of our customers tend to ask us the same questions, so we bundled those questions together onto this page
	and answered them all at once. We hope we can address any concerns you have. <span class='spaceBeforeAndAfter bolded'>
	To see the answers to any of the questions below, simply click on that question to reveal the answer.</span>
	If your question isn't answered here, feel free to <a href='/contactUs' class='spaceBefore'>contact us</a>.
</p>
<div class='separator'></div>

<div class='faqsQuestionContainer'>
	<div class='faqsQuestion'>
		Can I order railings online?
	</div>
	<div class='faqsQuestionUnderline'></div>
	<p class='faqsAnswer'>
		Yes, you can. Just click <a href='/createOrder' class='spaceBefore'>here</a>.
	</p>
</div>

<div class='faqsQuestionContainer'>
	<div class='faqsQuestion'>
		Are your railings made to order?
	</div>
	<div class='faqsQuestionUnderline'></div>
	<p class='faqsAnswer'>
		Yes. We build all our railings from scratch according to your needs. During the
		ordering process, we will ask you to provide initial measurements so that we can begin work on your order,
		but soon after, one of our salesmen will come by your location to confirm or correct your measurements and draw a more
		accurate picture of the space where the railings will be installed. Therefore, you can rest assured that any
		railings you order with us will be tailor-made to your exact needs.
	</p>
</div>

<div class='faqsQuestionContainer'>
	<div class='faqsQuestion'>
		What kind of metals do you work with?
	</div>
	<div class='faqsQuestionUnderline'></div>
	<p class='faqsAnswer'>
		We primarily work with aluminum, but we also work with iron and stainless steel depending on your needs.
	</p>
</div>

<div class='faqsQuestionContainer'>
	<div class='faqsQuestion'>
		Are your products maintenance-free?
	</div>
	<div class='faqsQuestionUnderline'></div>
	<p class='faqsAnswer'>
		Yes. For outdoor jobs, we use aluminum railings, which cannot rust. For interior jobs, we use iron railings, but
		because those railings are never exposed to the harsh effects of rain, you can rest assured they will not rust
		either. As for the paint on the railings, we finish all our products with two coats of powder coating.
		The powder coating gives our railings a lasting luster and renders them practically impervious to any corrosion.
	</p>
</div>

<div class='faqsQuestionContainer'>
	<div class='faqsQuestion'>
		What kind of finish do you apply to the railings? Is any powder-coating involved?
	</div>
	<div class='faqsQuestionUnderline'></div>
	<p class='faqsAnswer'>
		We finish all our products with not one, but two coats of powder coating to render the railings practically
		invincible against corrosion. And unlike some of the other railings shops in New Jersey, we manage the powder
		coating within our own facilities, thereby ensuring the quality of the finish.
	</p>
</div>

<div class='faqsQuestionContainer'>
	<div class='faqsQuestion'>
		What differentiates you from the other railings manufacturers in New Jersey and New York?
	</div>
	<div class='faqsQuestionUnderline'></div>
	<p class='faqsAnswer'>
		With all due respect to the other companies working alongside us in the region, we offer a dramatically better experience.
		Our mantra has always been to simplify the process of buying railings, from start to finish. With that mantra in mind,
		we have prided ourselves on offering fantastic service that matches the quality of the craftsmanship behind our railings.
		<br /><br />
		Not only is our online ordering system the very first of its kind, but we promise that all our railings that are ordered
		online <b class='spaceBefore'>will be installed within 15 days</b>. No other company will match that guarantee - you don't
		have to go far to hear about customers that ordered railings and ended up waiting months for installation.
		<br /><br />
		We are willing to put our money where our mouth is. If you place an order <b class='spaceBeforeAndAfter'>online</b>
		and we do not come to install those railings within 15 days, we will refund 25% of your money back.
		<br /><br />
		Furthermore, should there be any measurement defect with your railing upon installation, we promise to replace
		those railings for you, free of charge. On top of that, since we messed up, we'll also refund 25% of the money
		you paid to us. We don't con our customers, period. In our 40 collective years of experience in this industry,
		we've heard too many stories of companies messing up orders and then <i class='spaceBeforeAndAfter'>charging</i>
		the customer to fix those orders. We refuse to engage in such shady practices.
	</p>
</div>

<div class='faqsQuestionContainer'>
	<div id='stairwayMeasuringHelp' class='faqsQuestion'>
		I'm trying to place an order for railings for my stairway, but you guys are asking me to estimate the length of railing needed.
		How do I do that?!
	</div>
	<div class='faqsQuestionUnderline'></div>
	<p class='faqsAnswer'>
		Pretty simple. First, count the number of steps on your stairway. Then figure out the length of railing needed for
		the landing area (the area where the steps leads into). After that, add both numbers together to figure out the
		number of feet of railing needed for your stairway. For example, check out the picture below.
		<br />
		<img src='client/images/landing-area.jpg' />
		<br />
		In the picture above, let's say railings are needed along the left edge of the porch (where the arrows are).
		The red arrow represents the railing needed for the stairs while the purple arrow represents the railing needed
		for the landing area. Since we have three steps, we need three feet of railing for the stairs alone. The landing area
		at the top of the stairs spans two feet (from the top step to the door). Altogether, we need five feet
		of railing for the left edge of the stairs.
		<br />
		Rarely do measurements round out nicely to whole numbers, however. Likely, whatever final number you end up with
		will be a decimal value. In that case, just round the number to the nearest whole number. So let's say you
		need 7.4 feet of railing, just round that figure down to 7 feet. And don't worry about giving us a number that's
		not exact - when we come by to confirm your measurements, we will take note of the exact length.
		<br />
		Please keep in mind that if the stairwell features curves that need to be railed, then please give up
		trying to measure out the length yourself and <a href='/contactUs' class='spaceBeforeAndAfter'>reach out to us</a>
		so that we can handle it.
	</p>
</div>

<div class='faqsQuestionContainer'>
	<div id='deckMeasuringHelp' class='faqsQuestion'>
		I'm trying to place an order for railings for my deck/balcony/enclosure, but you guys are asking me to estimate
		the length of railing needed. How do I do that?!
	</div>
	<div class='faqsQuestionUnderline'></div>
	<p class='faqsAnswer'>
		Even simpler than measuring the length of railing needed for stairways. Just measure the edges of your deck that will need
		to be railed in. Sum up all those measurements and you'll figure out the length of railing in feet that's needed.
		Any part of the deck that is lined up against a wall or an opening should not be measured. That's it.
		Honestly, think back to the days of your childhood when you were sitting in math class learning about how to
		calculate the perimeters of geometrical figures. It took awhile, but you could finally apply those skills here!
		<br />
		Rarely do measurements round out nicely to whole numbers, however. Likely, whatever final number you end up with
		will be a decimal value. In that case, just round that number to the nearest whole number. So let's say you
		need 9.6 feet of railing, just round that figure up to 10 feet. And don't worry about giving us a number that's
		not exact - when we come by to confirm your measurements, we will take note of the exact length.
		<br />
		Please keep in mind that if your deck has any curves need to be railed, then at that point, give up trying to
		measure out the length yourself and <a href='/contactUs' class='spaceBeforeAndAfter'>reach out to us</a> so that
		we can handle it.
	</p>
</div>

<div class='faqsQuestionContainer'>
	<div class='faqsQuestion'>
		What colors do you offer? Can I request a color different from the ones you offer by default?
	</div>
	<div class='faqsQuestionUnderline'></div>
	<p class='faqsAnswer'>
		We offer stock colors for free, but if you want a more specific color, we'd be happy to oblige you, so long
		as you provide us a sample of the color you want when we come by to measure. Keep in mind that opting for a
		more specific color will raise the price of the railings, as we need to research and procure the powders
		necessary to create that color.
	</p>
</div>

<div class='faqsQuestionContainer'>
	<div class='faqsQuestion'>
		How do you install your railings?
	</div>
	<div class='faqsQuestionUnderline'></div>
	<p class='faqsAnswer'>
		Using a small <a href='https://en.wikipedia.org/wiki/Core_drill' class='spaceBefore'>core drill</a>, we drill holes into the ground several
		inches deep so that we can place the posts that will support the railings. Any gaps in the holes are then filled
		with a specialized cement that will not expand or contract regardless of the weather. The cement only takes up to
		one hour to fully dry and lock the posts into place.
		<br /><br />
		Of course, we will NOT be using a core drill if the railings need to be anchored into wood or somewhere inside a
		building. Instead, we use metal plates. Metal plates will be welded onto the bottom of the posts. Those same
		metal plates will then be screwed directly into the wood or floor in order to ensure the stability of our railings.
	</p>
</div>

<div class='faqsQuestionContainer'>
	<div class='faqsQuestion'>
		Will my railings be made to code?
	</div>
	<div class='faqsQuestionUnderline'></div>
	<p class='faqsAnswer'>
		Yes. We guarantee that the railings will be designed to abide by all state-level regulations. We also guarantee
		our railings will pass any inspections.
	</p>
</div>

<div class='faqsQuestionContainer'>
	<div class='faqsQuestion'>
		Are more design options available?
	</div>
	<div class='faqsQuestionUnderline'></div>
	<p class='faqsAnswer'>
		Yes. Just note that if you want your railings to sport more decorative designs, the price will likely rise in
		accordance with the added complexity of the job.
	</p>
</div>

<div class='faqsQuestionContainer'>
	<div class='faqsQuestion'>
		Where are your railings made?
	</div>
	<div class='faqsQuestionUnderline'></div>
	<p class='faqsAnswer'>
		Made in America, from our facilities here in New Jersey.
	</p>
</div>

<div class='faqsQuestionContainer'>
	<div class='faqsQuestion'>
		Will you supervise the job from start to finish? Will I have to deal with any third-party contractors?
	</div>
	<div class='faqsQuestionUnderline'></div>
	<p class='faqsAnswer'>
		Yes, we handle every aspect of the job from start to finish. We promise not to introduce any third parties
		into the mix. Everybody you meet in the process will be an employee of Metro Railings.
	</p>
</div>

<div class='faqsQuestionContainer'>
	<div class='faqsQuestion'>
		Can you install your railings during the wintertime? Are there any circumstances in which you will be unable
		to install your railings?
	</div>
	<div class='faqsQuestionUnderline'></div>
	<p class='faqsAnswer'>
		Yes, we can install railings during the wintertime. Just give us a bit more time to deal with cold weather
		conditions.
		<br /><br />
		And yes, we will refuse to install railings on days when it's raining heavily or snowing. Heavy rain or snow can
		potentially lead to hazardous working conditions for our installation technicians.
	</p>
</div>

<div class='faqsQuestionContainer'>
	<div class='faqsQuestion'>
		I saw some beautiful railings in a picture! Can you make me the same exact railings if I can provide you
		with that picture?
	</div>
	<div class='faqsQuestionUnderline'></div>
	<p class='faqsAnswer'>
		Sure, we can. In that case, no need to order online. Instead, <a href='/contactUs' class='spaceBeforeAndAfter'>contact us</a> directly and
		we will come over your house to discuss the railings you want.
	</p>
</div>

<div class='faqsQuestionContainer'>
	<div class='faqsQuestion'>
		How soon can you deliver my railings?
	</div>
	<div class='faqsQuestionUnderline'></div>
	<p class='faqsAnswer'>
		It depends on our current backlog of orders and the complexity of the job. When we go to take measurements of
		the space where you want railings, we will give you an estimated timeline. Should you need the railings as
		soon as possible, we can rush orders for an additional fee.
		<br /><br />
		Generally speaking, regular jobs take between 1-2 weeks to fulfill. Larger jobs take approximately 3-4 weeks
		to complete.
		<br /><br />
		Please keep in mind that you can check the <a href='/checkOrder' class='spaceBeforeAndAfter'>status</a> of your order anytime.
	</p>
</div>

<div class='faqsQuestionContainer'>
	<div class='faqsQuestion'>
		Are you fully insured?
	</div>
	<div class='faqsQuestionUnderline'></div>
	<p class='faqsAnswer'>
		Yes, we are.
	</p>
</div>

<div class='faqsQuestionContainer'>
	<div class='faqsQuestion'>
		Do you only do residential work or can you handle commercial work as well?
	</div>
	<div class='faqsQuestionUnderline'></div>
	<p class='faqsAnswer'>
		Yes, we handle both residential and commercial work.
	</p>
</div>

<div class='faqsQuestionContainer'>
	<div class='faqsQuestion'>
		What geographic areas do you serve?
	</div>
	<div class='faqsQuestionUnderline'></div>
	<p class='faqsAnswer'>
		Generally, we serve Central Jersey, North Jersey, and the five boroughs of New York City. We are willing
		to take jobs in South Jersey and Eastern Pennsylvania depending on the magnitude of the job.
	</p>
</div>

<div class='faqsQuestionContainer'>
	<div class='faqsQuestion'>
		How do you price your work?
	</div>
	<div class='faqsQuestionUnderline'></div>
	<p class='faqsAnswer'>
		For standard jobs, we price by foot. For jobs that require complicated decorations or curves, we may add fees
		to the price to account for the added complexity of the work. These fees will be discussed in person when we
		come to take measurements.
	</p>
</div>

<div class='faqsQuestionContainer'>
	<div class='faqsQuestion'>
		What kind of guarantees or warranties do you offer?
	</div>
	<div class='faqsQuestionUnderline'></div>
	<p class='faqsAnswer'>
		We guarantee that all orders placed online will be satisfied within 15 days. Any longer than that and a quarter of
		the money you paid will be refunded back to you. Furthermore, should there be any measurement defects upon installation,
		we will replace those railings free of charge and refund 25% of your money back to you.
		<br /><br />
		We guarantee all our work abides by state-level code. We also provide a lifetime warranty on the aluminum
		material we use in our railings. Lastly, we also provide a 10-year limited warranty on the powder coating
		we apply to the railings.
	</p>
</div>