<div id='agreementSection'>

    <p>
        By making an order online, you agree to the statements outlined below. Please take a few minutes to read the
        statements below and confirm that you agree to them by checking off the box underneath the statements. Then
        we'll proceed with the order.
    </p>

    <ul>
        <li>
            After completing this order, we will charge your credit card for the total price indicated above in the invoice.
        </li>
        <li>
            After booking the order, we will contact you shortly via phone or e-mail to schedule an appointment to come over
            and confirm the measurements you have given us as well as discuss details about the order with you.
        </li>
        <li>
            Should our measurements be <b class='spaceBeforeAndAfter'><i>less</i></b> than the measurements you provided us, we'll refund some money back to you.
            The amount we refund depends on the difference between the length you provided us and the length we measured.
        </li>
        <li>
            Should our measurements be <b class='spaceBeforeAndAfter'><i>more</i></b> than the measurements you provided us, we'll charge your credit card to account
            for the additional length we have measured.
        </li>
		<li>
			Orders that call for custom styling and/or decorations will increase the total price. Once we determine the extent of the customizations involved, we will
			determine the additional amount to charge you. If you approve of the additional amount, we will charge your credit card for that additional
			amount. If you want to cancel the order, we will not charge your card for any additional amount and refund the initial amount we charged you.
		</li>
        <li>
            Once we visit you, you will have a 24-hour grace period to call us and cancel the order. Should you cancel the order,
            we will refund the money we charged you <i class='spaceBefore'>in full</i>.
        </li>
        <li>
            Our products come with a 10-year warranty. Should there be any manufacturing or installation-related defect
            on the railings we provide you, we will work swiftly to correct that defect or make you new railings altogether!
        </li>
    </ul>

	<span class='regularRadioInput'>
	    <input id='agreedToTerms' type='radio' name='agreedToTerms' value='y'/>
	    <label id='agreedText' for='agreedToTerms'>I agree to the terms stated above.</label>
	</span>
</div>