<div id='ccSection'>

	<p>
	    In order to fulfill this online order, we will need your credit card. As we explained before, we will charge
	    your card in order to place your order, but we will honor a full refund up until a full 24 hours after we visit the
	    location to properly verify the measurements you have supplied us.
	</p>

	<div class='sectionHeadline'>Your Credit Card Details</div>

	<div id='creditCardNumberContainer' class='formRow'>
        <span class='controlGrouping'>
            <label for='creditCardNumber'>Credit Card Number</label>
            <input type='tel' id='creditCardNumber' maxlength='16' />
        </span>
		<span id='ccMerchantsAccepted'>
			<i id='visaCCIcon' class='fa fa-cc-visa'></i>
			<i id='mastercardCCIcon' class='fa fa-cc-mastercard'></i>
			<i id='discoverCCIcon' class='fa fa-cc-discover'></i>
		</span>
	</div>

	<div id='creditCardSecurityInfo' class='formRow'>
        <span class='controlGrouping'>
            <label for='expirationDateMonth'>Expiration Date</label>
            <span class='controlGroupingRow'>
                <select id='expirationDateMonth' >
                    <option value='' selected='selected' disabled>Month</option>
                    <option value='1'>January</option>
                    <option value='2'>February</option>
                    <option value='3'>March</option>
                    <option value='4'>April</option>
                    <option value='5'>May</option>
                    <option value='6'>June</option>
                    <option value='7'>July</option>
                    <option value='8'>August</option>
                    <option value='9'>September</option>
                    <option value='10'>October</option>
                    <option value='11'>November</option>
                    <option value='12'>December</option>
                </select>
                <select id='expirationDateYear' >
                    <option value='' selected='selected' disabled>Year</option>
                    {{#each expirationYears }}
                        <option value='{{this}}'>{{this}}</option>
                    {{/each}}
                </select>
            </span>
        </span>
        <span class='controlGrouping'>
            <label for='securityCode'>Security Code</label>
            <span class='controlGroupingRow'>
                <input type='tel' id='securityCode' maxlength='4' />
                <span id='creditCardSecurityCodeHelp' data-tooltip-position='right middle' data-tooltip='<div class="tooltipMedium">The security code is either 3 or 4 digits that stand out on the back of your card.</div>'>
                    <i class='fa fa-question-circle'></i>
                </span>
            </span>
        </span>
	</div>

</div>