<div id='personalInfoSection'>

	<div class='sectionHeadline'>Your Personal Details</div>

	<div class='formRow'>
        <span class='controlGrouping'>
            <label for='customerName' class='required'>Your Name</label>
            <input type='text' id='customerName' />
        </span>
    </div>

    <div class='formRow'>
        <span class='controlGrouping'>
            <label for='customerPhoneAreaCode' class='required'>Your Phone Number</label>
            <span id='customerPhoneNumberInputs' class='controlGroupingRow'>
                (<input type='tel' id='customerPhoneAreaCode' maxlength='3' placeholder='Area Code' />)
                <input type='tel' id='customerPhoneNumber1' maxlength='3' placeholder='###' >-
                <input type='tel' id='customerPhoneNumber2' maxlength='4' placeholder='####' >
                <span class='formDescriptiveText'>Please give us the best phone number that we can use to reach you during afternoon hours.</span>
            </span>
        </span>
    </div>

    <div class='formRow'>
        <span class='controlGrouping'>
            <label for='customerEmail' class='required'>Your E-mail Address</label>
            <input type='email' id='customerEmail'/>
		</span>
    </div>

    <div class='requiredWarning'>
        * indicates that the field is required to be filled out
    </div>
</div>