/* ----------------------- IMPORTS ----------------------------- */

@import '../foundation/responsive';

/* ----------------------- STYLES ----------------------------- */

#addressRow > .controlGrouping
{
	@include tabletUp()
	{
		width: 48%;
	}
}

#cityStateRow > .controlGrouping
{
	@include tabletUp()
	{
		&:nth-of-type(1)
		{
			width: 40%;
		}

		&:nth-of-type(2)
		{
			width: 25%;
		}

		&:nth-of-type(3)
		{
			width: 25%;
		}
	}
}

// Input lengths
// Keep in mind that these lengths are relative to the lengths of the container group that house these inputs
#streetAddress
{
	@include tabletUp()
	{
		width: 35%;
	}
}

#aptSuiteNumber
{
	@include tabletUp()
	{
		width: 25%;
	}
}

#city
{
	@include tabletUp()
	{
		width: 60%;
	}
}

#state
{
	@include tabletUp()
	{
		width: 60%;
	}
}

#addressZipCode
{
	@include tabletUp()
	{
		width: 50%;
	}
}