/* ----------------------- IMPORTS ----------------------------- */

@import '../foundation/animations';
@import '../foundation/colors';
@import '../foundation/responsive';

/* ----------------------- STYLES ----------------------------- */

#ccSection > .sectionHeadline
{
	@include tabletUp()
	{
		margin-bottom: 40px;
	}
}

#creditCardNumberContainer
{
	@include tabletUp()
	{
		// Must flex this input container in order to properly align the credit card input field
		// with the credit card icons that are placed right next to it
		display: flex;
		align-items: center;

		& > .controlGrouping
		{
			width: 40%;
		}
	}
}

#ccMerchantsAccepted
{
	text-align: left;

	@include tabletUp()
	{
		margin-left: 25px;
	}

	@include phoneOnly()
	{
		margin-bottom: 20px;
	}

	& > i
	{
		@include transitionSettings($property: opacity, $duration: 0.75s);

		font-size: 48px;

		margin:
		{
			left: 5px;
			right: 5px;
		}

		opacity: 1.0;

		&.shade
		{
			opacity: 0.2;
		}
	}
}

#creditCardSecurityInfo > .controlGrouping
{
	&:first-of-type
	{
		@include tabletUp()
		{
			width: 60%;
		}
	}
}

// The hint icon for the credit card security code
#creditCardSecurityCodeHelp
{
	margin-left: 10px;

	cursor: default;

	& > i
	{
		font-size: 32px;
		color: map-get($COLORS, darkBlueTheme);
	}
}

// Input lengths
// Keep in mind that these lengths are relative to the lengths of the container group that house these inputs
#creditCardNumber
{
	@include tabletUp()
	{
		width: 50%;
	}
}

#expirationDateYear
{
	margin-left: 10px;
}

#securityCode
{
	@include tabletUp()
	{
		width: 100px;
	}

	@include phoneOnly()
	{
		width: 80px;
	}
}