/* ----------------------- IMPORTS ----------------------------- */

@import '../foundation/fonts';
@import '../foundation/responsive';

/* ----------------------- STYLES ----------------------------- */

#personalInfoSection
{
	& > .formRow >.controlGrouping
	{
		width: 100%;
	}
}

// Input lengths
#customerName
{
	@include desktopOnly()
	{
		width: 25%;
	}

	@include mobileOnly()
	{
		width: 280px;
	}
}

#customerPhoneNumberInputs
{
	@extend %regularText;

	display: flex;
	align-items: center;
	flex-wrap: wrap;

	& > input
	{
		margin:
		{
			left: 10px;
			right: 10px;
		}

		@include tabletUp()
		{
			width: 100px;
		}

		@include phoneOnly()
		{
			width: 70px;

			// Shrink the font size so that we can safely fit all three phone input fields on the same row
			font-size: 14px;
		}
	}

	& > .formDescriptiveText
	{
		margin-top: 10px;
		width: 90%;
	}
}

#customerEmail
{
	@include desktopOnly()
	{
		width: 25%;
	}

	@include mobileOnly()
	{
		width: 280px;
	}
}