<div id='advancedDesignSection'>
	{{> designCategory categoryName='Center Design' fieldId='orderCenterDesign' modelName='centerDesign' designOptionName='centerDesigns' disableDefault=false }}
	{{> designCategory categoryName='Collars' fieldId='orderCollars' modelName='collars' designOptionName='collars' disableDefault=false }}
	{{> designCategory categoryName='Baskets' fieldId='orderBaskets' modelName='baskets' designOptionName='baskets' disableDefault=false }}
	{{> designCategory categoryName='Valence' fieldId='orderValence' modelName='valence' designOptionName='valences' disableDefault=false }}
</div>