<div id='baseDesignSection'>

	{{> designCategory categoryName='Post Size' fieldId='orderPost' modelName='post' designOptionName='posts' disableDefault=false }}
	{{> designCategory categoryName='Handrailing' fieldId='orderHandrailing' modelName='handrailing' designOptionName='handrailings' disableDefault=false }}
	{{> designCategory categoryName='Post End Design' fieldId='orderPostEnd' modelName='postEnd' designOptionName='postEnds' disableDefault=false }}
	{{> designCategory categoryName='Post Cap Design' fieldId='orderPostCap' modelName='postCap' designOptionName='postCaps' disableDefault=false }}
	{{> designCategory categoryName='ADA Handrail' fieldId='orderAda' modelName='ada' designOptionName='ada' disableDefault=false }}

	<div class='dataGrouping'>
		<span class='specializedLabel'>
		    Color
		</span>
		<select id='orderColor'>
			<option value='' selected>Select a color...</option>
			{{#each designs.colors}}
				<option value='{{ this.id }}'>{{ this.label }}</option>
			{{/each}}
			<option value='OTHER'>- Other -</option>
		</select>

		<input id='otherColor' type='text' class='otherTextfield' />
	</div>

</div>