<div id='cableDesignSection'>
	{{> designCategory categoryName='Cable Size' fieldId='orderCableSize' modelName='cableSize' designOptionName='cableSizes' disableDefault=false }}
	{{> designCategory categoryName='Cable Cap' fieldId='orderCableCap' modelName='cableCap' designOptionName='cableCaps' disableDefault=false }}
</div>