<div id='depositModal'>

	<div class='modalRow'>
		<span class='modalLabel'>Order Total</span>
		<span class='staticValue'>${{#to_fixed orderTotal 2 }}{{/to_fixed}}</span>
	</div>

	<div class='modalStack'>
		<span>
			What should the deposit amount be?
		</span>
		<span>
			$<input type='tel' id='depositPrice' value='{{ depositAmount }}'/>
		</span>
		<span id='depositPriceAdvisory'>
			Normally, the deposit is 50% of the order total, but exceptions can be made for institutional clients 
			and larger orders
		</span>
	</div>

	<div id='depositModalErrorMessage'>
		Please enter a valid deposit amount here. Please note the deposit has to be less than or equals to the total 
		price on this order.
	</div>
</div>