<div id='glassDesignSection'>
	{{> designCategory categoryName='Glass Type' fieldId='orderGlassType' modelName='glassType' designOptionName='glassTypes' disableDefault=false }}
	{{> designCategory categoryName='Glass Build' fieldId='orderGlassBuild' modelName='glassBuild' designOptionName='glassBuilds' disableDefault=false }}
</div>