<div class='pageHeader'>
	<h3>Order General</h3>
	<div class='headerUnderline'></div>
</div>

<p id='instructionText'>
	Use this form to either create an order or modify an existing one.
</p>

{{> orderId }}

{{> orderCustomer }}

{{> orderStatus }}

{{> orderNotes }}

{{> orderFiles }}

{{> orderLocation }}

{{> orderType }}

{{> orderBaseDesign }}

{{> orderPicketDesign }}

{{> orderAdvancedDesign }}

{{> orderCableDesign }}

{{> orderGlassDesign }}

{{> orderLogistics }}

{{> orderMoney }}

{{> orderPayments }}

{{> orderAgreement }}

{{> saveOrderButton }}

{{> actionModal }}

{{> confirmationModal }}

{{> gallery }}

{{> notesTemplates }}

{{> uploadTemplates }}

<script id='depositModalTemplate' type='text/x-handlebars-template'>
	{{{ depositModal }}}
</script>