<div id='picketSection'>
	{{> designCategory categoryName='Picket Size' fieldId='orderPicketSize' modelName='picketSize' designOptionName='picketSizes' disableDefault=false }}
	{{> designCategory categoryName='Picket Styling' fieldId='orderPicketStyle' modelName='picketStyle' designOptionName='picketStyles' disableDefault=false }}
</div>