<div id='submissionSection'>
	<button id='saveButton' class='navButton'>Create/Update an Order</button>

	{{#if_cond order.status 'prospect'}}
		<button id='tempButton' class='navButton'>Save and Finish Later</button>
	{{/if_cond}}
</div>

<!-- Store the deposit amount here should we be dealing with an existing order -->
<input id='hiddenDepositPrice' type='hidden' value='{{ order.pricing.depositAmount }}' />

<div id='designErrorsContainer'><!-- Design validation error messages will go here --></div>

<script id='designErrorsTemplate' type='text/x-handlebars-template'>
	{{{ designErrorsTemplate }}}
</script>