/* ----------------------- IMPORTS ----------------------------- */

@import '../foundation/form';
@import '../foundation/colors';
@import '../foundation/fonts';
@import '../foundation/responsive';

/* ----------------------- STYLES ----------------------------- */

#contractorAgreementSignatureSection
{
	border:
	{
		width: 1.5px;
		style: solid;
		color: map-get($COLORS, blackTheme);
	}

	padding:
	{
		top: 15px;
	}

	margin:
	{
		top: 15px;
	}

	@include printOnly()
	{
		page-break-inside: avoid;
	}
}

.signatureRow
{
	margin:
	{
		top: 40px;
		bottom: 40px;
	}

	width: 100%;

	display: flex;
	justify-content: center;
	align-items: center;

	& > span
	{
		flex: 1;
	}
}

.significantText
{
	@extend %significantText;

	text-decoration: underline;
}

.signatureCompanyName
{
	@extend %regularPlusText;
}

#signatureCustomerName
{
	width: 250px;

	@include printOnly()
	{
		text-align: center;
	}
}