<div id='drCustomerDetails'>

	<div class='dataGrouping'>
		<span class='specializedLabel'>Customer Name</span>
		<input id='customerName' type='text' />
	</div>

	<div class='dataGrouping'>
		<span class='specializedLabel'>
		    Street Address
		</span>
		<input id='customerAddress' type='text' />
	</div>

	<div class='dataGrouping'>
		<span class='specializedLabel'>
		    City
		</span>
		<input id='customerCity' type='text' />

		<span class='specializedLabel'>
		    State
		</span>
		<select id='customerState'>
			<option value='NJ' selected>NJ</option>
			<option value='NY'>NY</option>
		</select>
	</div>

</div>