<div class='pageHeader'>
	<h3>Deck Remodelers - New Customer Form</h3>
	<div class='headerUnderline'></div>
</div>

<p id='drInstructionalText'>
	Use this form to relay details on a new customer order to us.
</p>

{{> drCustomerDetails }}

{{> drRailingDetails }}

{{> drMiscInfo }}

<div id='submissionSection'>
	<button id='submitButton'>Submit</button>
</div>