<div id='drMiscellaneousDetails'>

	<div class='openText'>
		<div class='openTextQuestion'>Are there any gates?</div>
		<textarea id='gates' class='openTextResponse' />
	</div>

	<div class='openText'>
		<div class='openTextQuestion'>Is there anything out of the normal for this particular order?</div>
		<textarea id='unusualDetails' class='openTextResponse' />
	</div>

	<div class='openText'>
		<div class='openTextQuestion'>Is there anything we need to know about this particular customer?</div>
		<textarea id='customerSpecifics' class='openTextResponse' />
	</div>

</div>