<div id='drRailingsDetails'>

	<div class='optionPicker'>
		<div class='optionPickerHeader'>STYLE</div>
		<div class='optionPickerItems'>

			<span class='optionPickerItem'>
				<div class='optionPickerItemHeader'>Traditional Railing</div>
				<img src='client/images/deckRemodelers/traditionalFullBody.jpg' alt='Traditional' />
				<div class='regularRadioInput'>
					<input type='radio' name='style' value='traditional' id='traditionalStyle' />
					<label for='traditionalStyle'></label>
				</div>
			</span>

			<span class='optionPickerItem'>
				<div class='optionPickerItemHeader'>Vista Railing</div>
				<img src='client/images/deckRemodelers/vistaFullBody.jpg' alt='Vista' />
				<div class='regularRadioInput'>
					<input type='radio' name='style' value='vista' id='vistaStyle' />
					<label for='vistaStyle'></label>
				</div>
			</span>

			<span class='optionPickerItem'>
				<div class='optionPickerItemHeader'>Cable Railing (Not Curvable)</div>
				<img src='client/images/deckRemodelers/cableFullBody.jpg' alt='Cable' />
				<div class='regularRadioInput'>
					<input type='radio' name='style' value='cable' id='cableStyle' />
					<label for='cableStyle'></label>
				</div>
			</span>

		</div>
	</div>

	<div class='optionPicker'>
		<div class='optionPickerHeader'>HANDRAILING</div>
		<div class='optionPickerItems'>

			<span class='optionPickerItem'>
				<div class='optionPickerItemHeader'>Dixie (Curvable)</div>
				<img src='client/images/deckRemodelers/standardHandrail.jpg' alt='Standard' />
				<div class='regularRadioInput'>
					<input type='radio' name='handrailing' value='dixie' id='dixieHandrail' />
					<label for='dixieHandrail'></label>
				</div>
			</span>

			<span class='optionPickerItem'>
				<div class='optionPickerItemHeader'>Colonial</div>
				<img src='client/images/deckRemodelers/colonialHandrail.jpg' alt='Colonial' />
				<div class='regularRadioInput'>
					<input type='radio' name='handrailing' value='colonial' id='colonialHandrail' />
					<label for='colonialHandrail'></label>
				</div>
			</span>

			<span class='optionPickerItem'>
				<div class='optionPickerItemHeader'>Modern</div>
				<img src='client/images/deckRemodelers/modernHandrail.jpg' alt='Modern' />
				<div class='regularRadioInput'>
					<input type='radio' name='handrailing' value='modern' id='modernHandrail' />
					<label for='modernHandrail'></label>
				</div>
			</span>

		</div>
	</div>

	<div class='optionPicker'>
		<div class='optionPickerHeader'>POST CAP</div>
		<div class='optionPickerItems'>

			<span class='optionPickerItem'>
				<div class='optionPickerItemHeader'>Square</div>
				<img src='client/images/deckRemodelers/squareCap.jpg' alt='Square' />
				<div class='regularRadioInput'>
					<input type='radio' name='cap' value='square' id='squareCap' />
					<label for='squareCap'></label>
				</div>
			</span>

			<span class='optionPickerItem'>
				<div class='optionPickerItemHeader'>Pyramid</div>
				<img src='client/images/deckRemodelers/pyramidCap.jpg' alt='Pyramid' />
				<div class='regularRadioInput'>
					<input type='radio' name='cap' value='pyramid' id='pyramidCap' />
					<label for='pyramidCap'></label>
				</div>
			</span>

		</div>
	</div>

	<div class='optionPicker'>
		<div class='optionPickerHeader'>COLOR</div>
		<div class='optionPickerItems'>

			<span class='optionPickerItem'>
				<div class='optionPickerItemHeader'>Textured Black</div>
				<img src='client/images/deckRemodelers/texturedBlack.png' alt='Textured Black' class='colorImage' />
				<div class='regularRadioInput'>
					<input type='radio' name='color' value='texturedBlack' id='texturedBlackColor' />
					<label for='texturedBlackColor'></label>
				</div>
			</span>

			<span class='optionPickerItem'>
				<div class='optionPickerItemHeader'>Textured Bronze</div>
				<img src='client/images/deckRemodelers/texturedBronze.png' alt='Textured Bronze' class='colorImage' />
				<div class='regularRadioInput'>
					<input type='radio' name='color' value='texturedBronze' id='texturedBronzeColor' />
					<label for='texturedBronzeColor'></label>
				</div>
			</span>

			<span class='optionPickerItem'>
				<div class='optionPickerItemHeader'>Matte Black</div>
				<img src='client/images/deckRemodelers/matteBlack.png' alt='Matte Black' class='colorImage' />
				<div class='regularRadioInput'>
					<input type='radio' name='color' value='matteBlack' id='matteBlackColor' />
					<label for='matteBlackColor'></label>
				</div>
			</span>

			<span class='optionPickerItem'>
				<div class='optionPickerItemHeader'>Stainless Steel</div>
				<img src='client/images/deckRemodelers/stainlessSteel.png' alt='Stainless Steel' class='colorImage' />
				<div class='regularRadioInput'>
					<input type='radio' name='color' value='stainlessSteel' id='stainlessSteelColor' />
					<label for='stainlessSteelColor'></label>
				</div>
			</span>

		</div>
	</div>

</div>