<table id='header'>
	<tr>
		<th>Hello, {{ companyName }}!</th>
	</tr>
</table>

<table id='personalizedOrder'>
	<tr>
		<td>
			One of your representatives has filled out an order form for one of your customers. Please see the 
			attached file.
		</td>
	</tr>
</table>