<table id='header'>
	<tr>
		<th>A New Invoice has been Generated for You</th>
	</tr>
</table>

<table id='personalizedOrder'>
	<tr>
		<td>
			We've drawn up an invoice for you detailing charges for services that we have or eventually will
			render for you.
		</td>
	</tr>
	<tr>
		<td>Please click on the link below to go see the invoice and approve it.</td>
	</tr>
	<tr>
		{{ orderInvoiceLink }}
	</tr>
</table>