<table id='personalizedInvoice'>
	<tr>
		<td>
			We've drawn up an invoice detailing charges for services that we may have already provided for you. 
			Please click the link below to access the invoice.
		</td>
	</tr>
	<tr>
		<td>
			<a id='invoiceButton' href='{{ orderInvoiceLink }}'>See Invoice</a>
		</td>
	</tr>
</table>