<table id='header'>
	<tr>
		<th>Hello, {{ companyName }}!</th>
	</tr>
</table>

<table id='personalizedOrder'>
	<tr>
		<td>
			One of your representatives has filled out an order form for one of your customers. Click the button 
			below to see the order details.
		</td>
	</tr>
	<tr>
		<td>
			<a id='formButton' href='{{ formLink }}'>See Form</a>
		</td>
	</tr>
</table>