<table id='header'>
	<tr>
		<th>Your Personalized Quote</th>
	</tr>
</table>

<table id='personalizedOrder'>
	<tr>
		<td>
			One of our representatives has set up a new quote in the system for you. Click the button below to see 
			the quote.
		</td>
	</tr>
	<tr>
		<td>
			<a id='quoteButton' href='{{ orderInvoiceLink }}'>See Quote</a>
		</td>
	</tr>
</table>