<table id='receiptHeader'>
    <tr>
        <th>Thank you for your business, {{customer.nickname}}</th>
    </tr>
    <tr>
		<!-- @TODO: Include a link to allow the user to check the status of his or her order -->
		<td>
            When we are ready to install your railings, we will be calling you at&nbsp;<a href='#' class='telLink'>
			({{customer.areaCode}}) {{customer.phoneOne}}-{{customer.phoneTwo}}</a>&nbsp;in order to schedule an
			appointment.
        </td>
    </tr>
	<tr>
		<td>
			Please see the attachment below for details about your order.
		</td>
	</tr>
</table>