<div id='drCustomerDetails'>

	<div class='rowColumnGrouping'>
		<span class='dataGroupingII'>
			<span class='specializedLabel'>Customer Name</span>
			<input id='customerName' type='text' />
		</span>
		<span class='dataGroupingII'>
			<span class='specializedLabel'>Project Manager</span>
			<select id='projectManager'>
				<option value='' disabled selected>Select...</option>
				<option value='hackney'>Dave Hackney</option>
				<option value='hall'>David Hall</option>
				<option value='michael'>Michael</option>
				<option value='dan'>Dan</option>
			</select>
		</span>
	</div>

	<div class='rowColumnGrouping'>
		<div class='dataGroupingII'>
			<span class='specializedLabel'>
				Street Address
			</span>
			<input id='customerAddress' type='text' />
		</div>
		<div class='dataGroupingII'></div>
	</div>

	<div class='rowGrouping'>
		<span class='dataGroupingII'>
			<span class='specializedLabel'>
				City
			</span>
			<input id='customerCity' type='text' />
		</span>

		<span class='dataGroupingII'>
			<span class='specializedLabel'>
				State
			</span>
			<select id='customerState'>
				<option value='NJ' selected>NJ</option>
				<option value='NY'>NY</option>
			</select>
		</span>

	</div>

</div>