<div id='agreementSection'>

	<div class='dataGrouping'>
		<span class='specializedLabel'>Time Limit to Finish Order (Days) </span>
		<input type='tel' id='timeLimit' class='optionalField' value='{{ defaultTimeLimit }}'/>
		<i class='fa fa-question-circle' data-tooltip-position='right middle'
		   data-tooltip='<div class="tooltipMedium">If you leave this field blank, then this order will have no short-term time limit it must abide by.</div>'></i>
	</div>

	<div class='dataGrouping'>
		<span class='specializedLabel'>Agreement</span>
		<textarea id='agreement'>{{agreement}}</textarea>
	</div>
	<div class='centeredDescriptiveText'>
		Use <a class='regularLink spaceBeforeAndAfter' href='https://www.markdownguide.org/basic-syntax'>Markdown</a>
		semantics whenever you have to edit the agreement text above.
	</div>

</div>