<div id='railingsSection'>

	<div class='dataGrouping'>
		<span class='specializedLabel'>
		    Post Design
		</span>
		<select id='orderPost'>
			<option value='' disabled>Select...</option>
			<option value='P-BPC'>2.5"</option>
			<option value='P-SP'>1.5"</option>
			<option value='OTHER'>- Other -</option>
		</select>

		<input id='otherPost' type='text' class='otherTextfield' />
	</div>

	<div class='dataGrouping'>
		<span class='specializedLabel'>
		    Handrailing
		</span>
		<select id='orderHandrailing'>
			<option value='' disabled>Select...</option>
			<option value='H-COL'>Colonial</option>
			<option value='H-STD'>Standard</option>
			<option value='OTHER'>- Other -</option>
		</select>

		<input id='otherHandrailing' type='text' class='otherTextfield' />
	</div>

	<div class='dataGrouping'>
		<span class='specializedLabel'>
		    Picket Size
		</span>
		<select id='orderPicketSize'>
			<option value='' disabled>Select...</option>
			<option value=''>None</option>
			<option value='PCKT-1/2'>1/2"</option>
			<option value='PCKT-5/8'>5/8"</option>
			<option value='PCKT-3/4'>3/4"</option>
			<option value='PCKT-1'>1"</option>
		</select>
	</div>

	<div class='dataGrouping'>
		<span class='specializedLabel'>
		    Post End Design
		</span>
		<select id='orderPostEnd'>
			<option value=''>None</option>
			<option value='PE-VOL'>Volute</option>
			<option value='PE-LT'>Lamb's Tongue</option>
			<option value='PE-SCRL'>Scroll</option>
			<option value='OTHER'>- Other -</option>
		</select>

		<input id='otherPostEnd' type='text' class='otherTextfield'/>
	</div>

	<div class='dataGrouping'>
		<span class='specializedLabel'>
		    Post Cap Design
		</span>
		<select id='orderPostCap'>
			<option value=''>None</option>
			<option value='PC-BALL'>Ball</option>
			<option value='PC-SQ'>Square</option>
			<option value='OTHER'>- Other -</option>
		</select>

		<input id='otherPostCap' type='text' class='otherTextfield' />
	</div>

	<div class='dataGrouping'>
		<span class='specializedLabel'>
		    Center Design
		</span>
		<select id='orderCenterDesign'>
			<option value='CD-NONE'>None needed</option>
			<option value='CD-SC'>S/C Scrolls</option>
			<option value='CD-DHRT'>Hearts</option>
			<option value='CD-GALE'>Gale</option>
			<option value='CD-SNC'>Scroll & Collar</option>
			<option value='OTHER'>- Other -</option>
		</select>

		<input id='otherCenterDesign' type='text' class='otherTextfield' />
	</div>

	<div class='dataGrouping'>
		<span class='specializedLabel'>
		    Color
		</span>
		<select id='orderColor'>
			<option value='' disabled>Select a color...</option>
			<option value='white'>White</option>
			<option value='black'>Black</option>
			<option value='silver'>Silver</option>
			<option value='bronze'>Bronze</option>
			<option value='OTHER'>- Other -</option>
		</select>

		<input id='otherColor' type='text' class='otherTextfield' />
	</div>

	<div class='dataGrouping'>
		<span class='specializedLabel'>
			Cover Plates?
		</span>
		<span id='coverPlatesButtonSet' class='buttonSet'>
			<input type='radio' class='yesRadio' id='coverPlatesYes' name='coverPlates' value='y' />
			<label for='coverPlatesYes'>Yes</label>
			<input type='radio' class='noRadio' id='coverPlatesNo' name='coverPlates' value='' />
			<label for='coverPlatesNo'>No</label>
		</span>
	</div>

	<div class='dataGrouping'>
		<span class='specializedLabel'>
			Platform Type
		</span>
		<select id='orderPlatformType'>
			<option value='' disabled>Select a platform type...</option>
			<option value='earth'>Earth</option>
			<option value='concrete'>Concrete</option>
			<option value='tile'>Tile</option>
			<option value='wood'>Wood</option>
			<option value='limestone'>Limestone</option>
			<option value='sheetrock'>Sheetrock</option>
			<option value='brick'>Brick</option>
			<option value='concrete'></option>
		</select>
	</div>

	<div class='dataGrouping'>
		<span class='specializedLabel'>
		    Order Length (feet)
		</span>
		<input type='tel' id='orderLength' />
		<span class='hint hint--right hint--always' data-hint=''></span>
	</div>

	<div class='dataGrouping'>
		<span class='specializedLabel'>
		    Finished Height (inches)
		</span>
		<input id='finishedHeight' type='tel' />
	</div>

	<div class='dataGrouping'>
		<span class='specializedLabel'>
		    Price per Foot
		</span>
		$<input type='tel' id='pricePerFoot' />
		<span class='hint hint--right hint--always' data-hint=''></span>
	</div>

	<div class='dataGrouping'>
		<span class='specializedLabel'>
		    Additional Features
		</span>
		<textarea id='additionalFeatures' class='optionalField'></textarea>
	</div>

	<div class='dataGrouping'>
		<span class='specializedLabel'>
			Total Price for Additional Features
		</span>
		$<input type='tel' id='additionalPrice' class='optionalField' />
		<span class='hint hint--right hint--always' data-hint=''></span>
	</div>

	<div class='dataGrouping'>
		<span class='specializedLabel'>
			Deductions
		</span>
		$<input type='tel' id='deductions' class='optionalField' />
		<span class='hint hint--right hint--always' data-hint=''></span>
	</div>

	<div class='dataGrouping'>
		<span class='specializedLabel'>
			Order Description
		</span>
		<textarea id='notes'></textarea>
	</div>

</div>