/* ----------------------- IMPORTS ----------------------------- */

@import '../foundation/colors';
@import '../foundation/fonts';
@import '../foundation/responsive';

/* ----------------------- STYLES ----------------------------- */

#invoice
{
	border:
	{
		style: solid;
		color: map-get($COLORS, blackTheme);
		width: 1px;
		radius: 10px;
	}

	margin:
	{
		left: auto;
		right: auto;
	}

	width: 90%;
	overflow: hidden;
}

#invoiceHeader
{
	@extend %tabularSlimHeaderText;

	border-bottom:
	{
		width: 1px;
		color: map-get($COLORS, blackTheme);
		style: solid;
	}

	padding:
	{
		top: 10px;
		bottom: 10px;
	}

	font-size: 10px;

	background-color: map-get($COLORS, lighterGrayTheme);
}

#invoiceBody
{
	& > div
	{
		border-bottom:
		{
			width: 1px;
			style: solid;
			color: map-get($COLORS, darkGrayTheme);
		}

		display: flex;
		align-items: center;
		justify-content: center;
		flex-wrap: wrap;

		&:nth-child(2n)
		{
			background-color: map-get($COLORS, lightBlueTheme);
		}
	}
}

#invoiceFooter
{
	@extend %tabularHeaderText;

	font-size: 12px;

	display: flex;
	align-items: center;
	justify-content: center;

	height: 25px;

	& > span
	{
		border:
		{
			style: solid;
			color: map-get($COLORS, blackTheme);
			width: 1px;

			bottom: none;
		}

		display: flex;
		align-items: center;

		height: 100%;

		&:first-of-type
		{
			border-left: none;
			justify-content: flex-end;

			padding-right: 20px;
			width: 75%;

			background-color: map-get($COLORS, lighterGrayTheme);
		}

		&:last-of-type
		{
			justify-content: center;
			width: 25%;
		}
	}
}

.invoiceSectionHeader
{
	@extend %tabularSlimHeaderText;

	padding:
	{
		top: 5px;
		bottom: 15px;
	}

	font-size: 8px;

	width: 100%;

	text-align: center;
}

.textField
{
	@extend %regularText;

	padding-bottom: 10px;
	font-size: 8px;

	display: flex;
	align-items: center;
	justify-content: center;
}

.invoiceLabel
{
	margin-right: 4px;

	font-weight: 700;
}

.invoiceCell
{
	@extend %regularText;

	font-size: 10px;

	min-width: 25px;
	height: 25px;
	flex: 1;
}

#additionalFeaturesCell, #notesCell
{
	max-width: 80%;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}