/* ----------------------- IMPORTS ----------------------------- */

@import '../foundation/colors';
@import '../foundation/fonts';
@import '../foundation/loader';
@import '../foundation/general';
@import '../foundation/form';
@import '../foundation/animations';
@import '../foundation/adminOnly';

/* ----------------------- STYLES ----------------------------- */

#companyLogo
{
	margin-top: 15px;

	max-width: 250px;
	max-height: 125px;
}

#idBox
{
	border:
	{
		width: 1px;
		style: solid;
		color: map-get($COLORS, blackTheme);
	}

	position: absolute;

	display: flex;
	align-items: center;
	justify-content: flex-start;
	flex-direction: column;

	top: 10px;
	left: 80%;

	width: 75px;
	height: 55px;

	& > span
	{
		@extend %majorText;

		padding-top: 5px;
		height: 25px;

		&:first-of-type
		{
			font-size: 8px;
		}

		&:last-of-type
		{
			font-size: 12px;
		}
	}
}

#agreementSection, #closingAgreementSection, #invoice, #dateSection, #paymentHistorySection, #tipSection, #personalInfoSection
{
	border-bottom:
	{
		width: 2px;
		style: solid;
		color: map-get($COLORS, blackTheme);
	}

	page-break-after: auto;
}

#companyInfo, #invoice
{
	margin:
	{
		top: 15px;
		bottom: 15px;
	}
}

#companyInfo
{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
}

.infoBlock
{
	@extend %tinyText;

	line-height: 16px;

	flex: 1;
}

.fieldSet
{
	margin:
	{
		bottom: 5px;
	}

	display: flex;
	flex-direction: row;
}

.fieldLabel
{
	@extend %smallerSignificantText;

	white-space: nowrap;
}

.textBox
{
	border-bottom:
	{
		color: map-get($COLORS, blackTheme);
		style: solid;
		width: 1px;
	}

	margin:
	{
		left: 10px;
		right: 10px;
	}

	padding:
	{
		left: 4px;
	}

	min-width: 150px;
	text-align: left;
	font-size: 11px;
}

.numberBox
{
	border:
	{
		color: map-get($COLORS, blackTheme);
		style: solid;
		width: 1px;
	}

	margin:
	{
		left: 10px;
		right: 10px;
	}

	width: 40px;
	height: 12px;
}