/* ----------------------- IMPORTS ----------------------------- */

@import '../foundation/colors';
@import '../foundation/fonts';
@import '../foundation/responsive';

/* ----------------------- STYLES ----------------------------- */

#paymentHistorySection
{
	padding:
	{
		top: 10px;
		bottom: 10px;
	}

	border:
	{
		width: 2px;
		style: solid;
		color: map-get($COLORS, blackTheme);

		left: none;
		right: none;
	}

	& > p
	{
		font-size: map-get($FONTS, print-regularFontSize);
		line-height: 22px;

		text-align: left;
	}
}

.priceAmount
{
	font-size: map-get($FONTS, print-regularPlusFontSize);

	margin-right: 2px;

	@include printOnly()
	{
		margin-right: 0px;
	}
}

#amountPaid, #balanceRemaining
{
	@include printOnly()
	{
		padding:
		{
			left: 1px;
			right: 2px;
			top: 0px;
			bottom: 0px;
		}

		margin: 0px;
		border: none;
		box-shadow: none;
	}
}