/* ----------------------- IMPORTS ----------------------------- */

@import '../foundation/colors';
@import '../foundation/fonts';

/* ----------------------- STYLES ----------------------------- */

#tipSection
{
	& > p
	{
		font-size: 12px;
		line-height: 20px;

		text-align: left;
	}

	& > div
	{
		margin-bottom: 20px;

		display: flex;
		justify-content: center;
		align-items: center;
	}
}

#tipField
{
	display: flex;
	justify-content: center;
	align-items: center;

	& > .fieldLabel
	{
		font-size: 12px;
	}

	& > .numberBox
	{
		width: 200px;
	}
}