/* ----------------------- IMPORTS ----------------------------- */

@import '../foundation/colors';
@import '../foundation/fonts';

/* ----------------------- STYLES ----------------------------- */

#tipSection
{
	& > p
	{
		font-size: 12px;
		line-height: 20px;

		text-align: left;
	}
}