<div id='orderSearch'>

	<p>
		Please fill out at least two of the three search filters below in order to find your order(s).
	</p>

	<div class='formRow'>
        <span class='controlGrouping'>
            <label class='searchLabel' for='orderId'>Order ID</label>
            <input id='orderId' type='tel' />
        </span>

        <span class='controlGrouping'>
            <label class='searchLabel' for='orderEmail'>E-mail</label>
            <input id='orderEmail' type='text' />
        </span>

        <span class='controlGrouping'>
            <label class='searchLabel' for='orderPhoneTwo'>Last 4 digits of your phone number</label>
            <input id='orderPhoneTwo' type='tel' maxlength=4 />
        </span>
	</div>

    <div id='orderSearchButtonContainer' class='hint hint--medium hint--top' data-hint=''>
        <button id='orderSearchButton'>
            Search for Orders<i class='fa fa-search'></i>
        </button>
    </div>

</div>