# Created by .ignore support plugin (hsz.mobi)

prod/buildScript.sh
prod/build.src.js
prod/app.js
**/*.map
client/scripts/jspm_packages
node_modules
MetroRailings.iml
.idea/
client/images/gallery
**/*.DS_Store
client/styles/**/page.css