/* ----------------------- IMPORTS ----------------------------- */

@import '../foundation/animations';
@import '../foundation/responsive';

/* ----------------------- STYLES ----------------------------- */

.galleriaPack
{
	@include transitionSettings($property: max-height, $duration: 3s, $timing: ease-out);

	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;

	max-height: 0px;
	overflow: hidden;

	&.show
	{
		max-height: 3000px;
	}

	& > span
	{
		margin:
		{
			top: 15px;
			bottom: 15px;
		}

		@include tabletUp()
		{
			width: 33%;
		}

		@include phoneOnly()
		{
			width: 50%;
		}

		& > img
		{
			cursor: pointer;
		}
	}
}