/* ----------------------- IMPORTS ----------------------------- */

@import '../foundation/colors';
@import '../foundation/form';

/* ----------------------- STYLES ----------------------------- */

#orderSection
{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

	background-color: map-get($COLORS, paleVioletRedTheme);
	color: map-get($COLORS, smokeWhiteTheme);

	& > p
	{
		width: 90%;
	}
}

#orderCreationButton
{
	@include button($bgColor: indianRedTheme);

	width: 250px;
	margin-top: 25px;

	& > i
	{
		margin-left: 10px;
	}
}