/* ----------------------- IMPORTS ----------------------------- */

@import '../foundation/colors';
@import '../foundation/form';

/* ----------------------- STYLES ----------------------------- */

#salesPitchSection
{
	background-color: map-get($COLORS, smokeTheme);
}

#orderCreationButton
{
	@include button($bgColor: indianRedTheme);

	width: 250px;
	margin-top: 25px;

	& > i
	{
		margin-left: 10px;
	}
}