/* ----------------------- IMPORTS ----------------------------- */

@import '../foundation/colors';
@import '../foundation/responsive';

/* ----------------------- STYLES ----------------------------- */

#thankYouSection
{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

	background-color: map-get($COLORS, smokeTheme);
}

#techLogos
{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;

	& > img
	{
		margin: 10px;

		@include tabletUp()
		{
			max-width: 70px;
			max-height: 70px;
		}

		@include phoneOnly()
		{
			max-width: 25px;
			max-height: 25px;
		}
	}
}