/* ----------------------- IMPORTS ----------------------------- */

@import '../foundation/colors';
@import '../foundation/responsive';

/* ----------------------- STYLES ----------------------------- */

#thankYouSection
{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

#techLogos
{
	margin:
	{
		bottom: 15px;
	}

	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	flex-wrap: wrap;

	& > span
	{
		display: flex;
		justify-content: center;
		align-items: center;

		@include desktopOnly()
		{
			width: 25%;
			height: 200px;
		}

		@include tabletOnly()
		{
			width: 33%;
			height: 200px;
		}

		@include phoneOnly()
		{
			width: 50%;
			height: 125px;
		}

		& > img
		{
			@include tabletUp()
			{
				max-width: 200px;
				max-height: 200px;
			}

			@include phoneOnly()
			{
				max-width: 125px;
				max-height: 125px;
			}
		}
	}
}