<div id='statusModal'>

	<div>
		Cuál es el nuevo estado que quiere asignar a esta orden?
	</div>
	<div id='shopStatusIcons'>
		<span class='statusIcon' data-status='material'>
			<img src='client/images/shopImages/material.jpg' />
			<div>Material</div>
		</span>
		<span class='statusIcon' data-status='layout'>
			<img src='client/images/shopImages/layout.jpg' />
			<div>Trazar</div>
		</span>
		<span class='statusIcon' data-status='welding'>
			<img src='client/images/shopImages/welding.jpg' />
			<div>Soldar</div>
		</span>
		<span class='statusIcon' data-status='grinding'>
			<img src='client/images/shopImages/grinding.jpg' />
			<div>Pulir</div>
		</span>
		<span class='statusIcon' data-status='painting'>
			<img src='client/images/shopImages/painting.jpg' />
			<div>Pintar</div>
		</span>
		<span class='statusIcon' data-status='install'>
			<img src='client/images/shopImages/install.jpg' />
			<div>Instalar</div>
		</span>
	</div>

</div>