/* ----------------------- IMPORTS ----------------------------- */

@import '../foundation/responsive';

/* ----------------------- STYLES ----------------------------- */

#otherMetalDescription
{
	margin:
	{
		left: auto;
		right: auto;
	}

	width: 90%;
	height: 100px;
}