<div id='locationSummary'>

	<div class='dataGrouping'>
		<span class='specializedLabel'>
		    Address
		</span>
		<input type='text' id='address' />
	</div>

	<div class='dataGrouping'>
		<span class='specializedLabel'>
		    Apt. Number / Suite
		</span>
		<input type='text' id='aptSuiteNo' class='optionalField' />
	</div>

	<div class='dataGrouping'>
		<span class='specializedLabel'>
		    City
		</span>
		<input type='text' id='city' />
	</div>

	<div class='dataGrouping'>
		<span class='specializedLabel'>
		    State
		</span>
		<select id='state'>
			<option value='' disabled>Select a state...</option>
			<option value='NJ'>New Jersey</option>
			<option value='NY'>New York</option>
			<option value='PA'>Pennsylvania</option>
		</select>
	</div>

	<div class='dataGrouping'>
		<span class='specializedLabel'>
		    Zip Code
		</span>
		<input type='text' id='zipCode' maxlength="5" class='optionalField' />
		<span class='hint hint--right hint--always' data-hint=''></span>
	</div>

</div>