/* ----------------------- IMPORTS ----------------------------- */

@import '../foundation/form';
@import '../foundation/form';
@import '../foundation/gallery';
@import '../foundation/loader';
@import '../foundation/animations';

/* ----------------------- STYLES ----------------------------- */

#picturesListing
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

	& > span
	{
		position: relative;

		& > .deleteImage
		{
			@include shiftTransition($x: -5%, $y: -50%);

			margin:
			{
				top: 15px;
				left: -20px;
			}

			position: absolute;
			top: 0%;
			left: 100%;

			z-index: 20;
			cursor: pointer;
			color: map-get($COLORS, indianRedTheme);
		}
	}
}

.uploadedImageThumbnail
{
	margin:
	{
		left: 20px;
		right: 20px;
		top: 15px;
		bottom: 15px;
	}

    max-width: 150px;
    max-height: 150px;

	cursor: pointer;
}

#uploadPictureButtonContainer
{
	margin:
	{
		top: 15px;
		bottom: 15px;
		left: 10px;
	}

	text-align: left;
}

#uploadPictureButton
{
	@include squareButton($bgColor: indianRedTheme);

	width: 250px;
	text-align: left;
}