/* ----------------------- IMPORTS ----------------------------- */

@import '../foundation/general';
@import '../foundation/fonts';
@import '../foundation/form';
@import '../foundation/responsive';
@import '../foundation/colors';
@import '../foundation/modal';

/* ----------------------- STYLES ----------------------------- */

#prospectSummary, #customerSummary, #locationSummary, #submissionSection
{
	padding:
	{
		top: 25px;
		bottom: 25px;
	}

	border-top:
	{
		style: solid;
		width: 2px;
		color: map-get($COLORS, blackTheme);
	}
}

#instructionText > i
{
	padding-right: 5px;
	color: map-get($COLORS, darkGreenTheme);
}

.dataGrouping
{
	@extend %regularText;

	margin:
	{
		top: 35px;
		bottom: 35px;
		left: 15px;
		right: 15px;
	}

	display: flex;
	align-items: center;

	& > .staticValue, & > textarea, & > .buttonSet
	{
		width: 70%;
		text-align: left;
	}

	&.disabled
	{
		opacity: 0.6;
	}
}

.staticValue
{
	@extend %regularPlusText;

	display: flex;
	align-items: center;
	align-self: baseline;

	& > i
	{
		@extend %significantIcons;

		margin-left: 10px;

		&.fa-bank
		{
			color: map-get($COLORS, mahoganyTheme);
		}

		&.fa-credit-card
		{
			color: map-get($COLORS, darkBlueTheme);
		}
	}
}

.specializedLabel
{
	@extend %formLabelText;

	width: 20%;
	margin-right: 20px;
	text-align: right;

	& > i
	{
		padding:
		{
			left: 5px;
			top: 5px;
		}

		visibility: hidden;
		color: map-get($COLORS, darkGreenTheme);

		&.reveal
		{
			visibility: visible;
		}
	}
}

.optionalField
{
	background-color: map-get($COLORS, lightBlueTheme);
}