/* ----------------------- IMPORTS ----------------------------- */

@import '../foundation/colors';
@import '../foundation/fonts';

/* ----------------------- STYLES ----------------------------- */

#balanceRemaining
{
	@extend %largePlusText;

	text-decoration: underline;

	width: auto;
}

#priceModifications, #additionalPrice, #deductions, #pricePerFoot
{
	margin-left: 5px;
}

#additionalFeatures
{
	height: 140px;
}