/* ----------------------- IMPORTS ----------------------------- */

@import '../foundation/colors';
@import '../foundation/fonts';

/* ----------------------- STYLES ----------------------------- */

#balanceRemaining
{
	@extend %largePlusText;

	width: auto;

	& > .orderTaxAmount
	{
		@extend %regularPlusText;

		text-decoration: none;
	}
}

.orderValueAmount
{
	margin:
	{
		right: 10px;
	}
}

.orderTaxAmount
{
	margin:
	{
		left: 10px;
	}
}

#priceModifications, #additionalPrice, #deductions, #pricePerFoot
{
	margin-left: 5px;
}

#additionalFeatures
{
	height: 140px;
}