/* ----------------------- STYLES ----------------------------- */

#cannotModifyTermsMessage
{
	margin-bottom: 20px;
}

#orderDescription, #agreement
{
	height: 200px;

	&:disabled
	{
		opacity: 0.8;
	}
}