<div id='customerSummary'>

	<div class='dataGrouping'>
		<span class='specializedLabel'>Customer Name</span>
		<span class='staticValue'>{{ name }}</span>
	</div>

	<div class='dataGrouping'>
		<span class='specializedLabel'>
            <i class='fa fa-tag fa-rotate-180'></i>
		    E-mail Address
		</span>
        <input id='customerEmail' type='email' />
		<span class='hint hint--right hint--always' data-hint=''></span>
	</div>

	<div class='dataGrouping'>
		<span class='specializedLabel'>
            <i class='fa fa-tag fa-rotate-180'></i>
		    Phone Number
		</span>
		(<input id='areaCode' type='tel' maxlength='3' placeholder='Area Code' />)
		<span class='hint hint--right hint--always' data-hint=''></span>
        <input id='phoneOne' type='tel' maxlength='3' placeholder='###' />
		<span class='hint hint--right hint--always' data-hint=''></span>
		<input id='phoneTwo' type='tel' maxlength='4' placeholder='####' />
		<span class='hint hint--right hint--always' data-hint=''></span>
	</div>

</div>