<div id='locationSummary'>

	<div class='dataGrouping'>
		<span class='specializedLabel'>
            <i class='fa fa-tag fa-rotate-180'></i>
		    Address
		</span>
		<input type='text' id='address' />
	</div>

	<div class='dataGrouping'>
		<span class='specializedLabel'>
            <i class='fa fa-tag fa-rotate-180'></i>
		    Apt. Number / Suite
		</span>
		<input type='text' id='aptSuiteNo' />
	</div>

	<div class='dataGrouping'>
		<span class='specializedLabel'>
            <i class='fa fa-tag fa-rotate-180'></i>
		    City
		</span>
		<input type='text' id='city' />
	</div>

	<div class='dataGrouping'>
		<span class='specializedLabel'>
            <i class='fa fa-tag fa-rotate-180'></i>
		    State
		</span>
		<select id='state'>
			<option value='' disabled>Select a state...</option>
            <option value='NJ'>New Jersey</option>
			<option value='NY'>New York</option>
		</select>
	</div>

	<div class='dataGrouping'>
		<span class='specializedLabel'>
            <i class='fa fa-tag fa-rotate-180'></i>
		    Zip Code
		</span>
		<input type='text' id='zipCode' maxlength="5" />
		<span class='hint hint--right hint--always' data-hint=''></span>
	</div>

</div>