<div id='locationSummary'>

	<div class='dataGrouping {{#if_cond status 'closed'}} disabled {{/if_cond}}'>
		<span class='specializedLabel'>
            <i class='fa fa-tag fa-rotate-180'></i>
		    Address
		</span>
		<input type='text' id='address' value='{{ customer.address }}' {{#if_cond status 'closed'}} disabled {{/if_cond}} />
	</div>

	<div class='dataGrouping {{#if_cond status 'closed'}} disabled {{/if_cond}}'>
		<span class='specializedLabel'>
            <i class='fa fa-tag fa-rotate-180'></i>
		    Apt. Number / Suite
		</span>
		<input type='text' id='aptSuiteNo' value='{{#if customer.aptSuiteNo }} {{ customer.aptSuiteNo }} {{/if}}'
			   {{#if_cond status 'closed'}} disabled {{/if_cond}} />
	</div>

	<div class='dataGrouping {{#if_cond status 'closed'}} disabled {{/if_cond}}'>
		<span class='specializedLabel'>
            <i class='fa fa-tag fa-rotate-180'></i>
		    City
		</span>
		<input type='text' id='city' value='{{ customer.city }}' {{#if_cond status 'closed'}} disabled {{/if_cond}} />
	</div>

	<div class='dataGrouping {{#if_cond status 'closed'}} disabled {{/if_cond}}'>
		<span class='specializedLabel'>
            <i class='fa fa-tag fa-rotate-180'></i>
		    State
		</span>
		<select id='state' {{#if_cond status 'closed'}} disabled {{/if_cond}} >
			<option value='' disabled>Select a state...</option>
            <option value='NJ' {{#if_cond customer.state 'NJ'}}selected{{/if_cond}}>New Jersey</option>
			<option value='NY' {{#if_cond customer.state 'NY'}}selected{{/if_cond}}>New York</option>
			<option value='PA' {{#if_cond customer.state 'PA'}}selected{{/if_cond}}>Pennsylvania</option>
		</select>
	</div>

	<div class='dataGrouping {{#if_cond status 'closed'}} disabled {{/if_cond}}'>
		<span class='specializedLabel'>
            <i class='fa fa-tag fa-rotate-180'></i>
		    Zip Code
		</span>
		<input type='text' id='zipCode' maxlength='5' value='{{ customer.zipCode }}' {{#if_cond status 'closed'}} disabled {{/if_cond}} />
		<span class='hint hint--right hint--always' data-hint=''></span>
	</div>

</div>