<div id='orderSpecifics'>

	<div class='dataGrouping'>
		<span class='specializedLabel'>
            <i class='fa fa-tag fa-rotate-180'></i>
		    Order Type
		</span>
		<select id='orderType'>
			<option value='' disabled>Select a type...</option>
			<option value='stairs'>Stairs</option>
			<option value='deck'>Deck</option>
		</select>
	</div>

	<div class='dataGrouping'>
		<span class='specializedLabel'>
            <i class='fa fa-tag fa-rotate-180'></i>
		    Order Style
		</span>
		<select id='orderStyle'>
			<option value='' disabled>Select a style...</option>
			<option value='bars'>Bars</option>
			<option value='collars'>Collars</option>
			<option value='custom'>Custom</option>
		</select>
	</div>

	<div class='dataGrouping'>
		<span class='specializedLabel'>
            <i class='fa fa-tag fa-rotate-180'></i>
		    Order Color
		</span>
		<select id='orderColor'>
			<option value='' disabled>Select a color...</option>
			<option value='white'>White</option>
			<option value='black'>Black</option>
			<option value='silver'>Silver</option>
			<option value='mahogany'>Mahogany</option>
		</select>
	</div>

	<div class='dataGrouping'>
		<span class='specializedLabel'>
            <i class='fa fa-tag fa-rotate-180'></i>
		    Order Length
		</span>
		<input type='tel' id='orderLength' />
		<span class='hint hint--right hint--always' data-hint=''></span>
	</div>

	<div class='dataGrouping'>
		<span class='specializedLabel'>
            <i class='fa fa-tag fa-rotate-180'></i>
		    Total Price
		</span>
		$<input type='tel' id='totalPrice' />
		<span class='hint hint--right hint--always' data-hint=''></span>
	</div>

</div>