<div class='pageHeader'>
	<h3>Order Details</h3>
	<div class='headerUnderline'></div>
</div>

<p id='instructionText'>
    You can modify any part of the order on this page. Please be aware that all fields marked blue are not required to
    be filled out. Also, any change you make will be marked with a <i class='fa fa-tag fa-rotate-180'></i>
</p>

<!-- Display a heads-up message here indicating that the order cannot be modified now that it has been closed -->
{{#if_cond order.status 'closed'}}
	<div id='closedCannotModifyMessage' class='specialMessageSection'>
		<span>
			<i class='fa fa-exclamation-circle'></i>
		</span>
		<p>
			The order can no longer be modified now that it has been closed. However, you're free to attach more
			pictures to the order, if you want.
		</p>
	</div>
{{/if_cond}}

{{> orderSummary order }}

{{> customerSummary order }}

{{> locationSummary order }}

{{> orderSpecifics order }}

{{> installationSection order }}

{{> pricingSummary order }}

{{> saveOrderChangesButton order }}

{{> confirmationModal }}

<script id='orderPicturesTemplate' type='text/x-handlebars-template'>
    {{{ picturesTemplate }}}
</script>