<div class='pageHeader'>
	<h3>Modify an Order</h3>
	<div class='headerUnderline'></div>
</div>

<p id='instructionText'>
	Use this form to modify order properties at any given stage.
</p>

{{> orderId }}

{{> orderCustomer }}

{{> orderNotes }}

{{> orderPictures }}

{{> orderLocation }}

{{> orderType }}

{{> orderBaseDesign }}

{{> orderPicketDesign }}

{{> orderAdvancedDesign }}

{{> orderCableDesign }}

{{> orderGlassDesign }}

{{> orderLogistics }}

{{> orderMoney }}

{{> orderAgreement }}

{{> saveOrderButton }}

{{> actionModal }}

{{> confirmationModal }}

{{> gallery }}

<script id='depositModalTemplate' type='text/x-handlebars-template'>
	{{{ depositModal }}}
</script>