<div id='submissionSection'>
    <span id='saveChangesButtonContainer' class='hint hint--medium hint--top' data-hint=''>
        <button id='saveChangesButton' class='navButton'>Save Changes</button>
    </span>
</div>