/* ----------------------- IMPORTS ----------------------------- */

@import '../foundation/form';
@import '../foundation/colors';

/* ----------------------- STYLES ----------------------------- */

#customInvoiceFormSection
{
	border:
	{
		width: 2px;
		style: solid;
		color: map-get($COLORS, blackTheme);

		left: none;
		right: none;
	}

	padding:
	{
		top: 10px;
		bottom: 10px;
		left: 15px;
	}
}

.controlGrouping
{
	margin:
	{
		top: 20px;
		bottom: 20px;
	}

	justify-content: center;
}

#customerAddress
{
	width: 250px;
}