/* ----------------------- IMPORTS ----------------------------- */

@import '../foundation/fonts';
@import '../foundation/form';
@import '../foundation/colors';

/* ----------------------- STYLES ----------------------------- */

#customInvoiceItemsTable
{
	margin:
	{
		top: 25px;
		bottom: 25px;
		left: auto;
		right: auto;
	}

	width: 90%;
}

#invoiceHeader
{
	width: 100%;
	display: flex;
	flex-direction: column;
}

#invoiceTitle
{
	@extend %specialSectionHeader;

	padding:
	{
		top: 10px;
		bottom: 10px;
	}

	border:
	{
		top-left-radius: 20px;
		top-right-radius: 20px;

		color: map-get($COLORS, grayTheme);
		style: solid;
		width: 0.5px;
	}

	background-color: map-get($COLORS, duskTheme);

	letter-spacing: 4px;
	text-transform: uppercase;
	text-align: center;
}

#invoiceColumnHeaders
{
	@extend %tabularHeaderText;

	border:
	{
		color: map-get($COLORS, grayTheme);
		style: solid;
		width: 0.5px;

		top: none;
		bottom: none;
	}

	display: flex;
	width: 100%;

	& > span
	{
		padding:
		{
			top: 10px;
			bottom: 10px;
		}

		text-align: center;

		&:nth-of-type(1)
		{
			flex: 6;
		}

		&:nth-of-type(2)
		{
			flex: 3;
		}

		&:nth-of-type(3)
		{
			flex: 1;
		}
	}
}

#itemsListing
{
	@extend %regularPlusText;

	border:
	{
		color: map-get($COLORS, grayTheme);
		style: solid;
		width: 0.5px;

		top: none;
		bottom: none;
	}

	display: flex;
	flex-direction: column;
}

.itemRow
{
	display: flex;
	width: 100%;
}

.itemDescription, .itemPrice, .itemRemove
{
	padding:
	{
		top: 20px;
		bottom: 20px;
	}

	display: flex;
	align-items: center;
	justify-content: center;
}

.itemDescription
{
	flex: 6;
}

.itemDescriptionField
{
	width: 90%;
	line-height: 40px;
}

.itemPrice
{
	flex: 3;
}

.itemRemove
{
	flex: 1;

	& > i
	{
		color: map-get($COLORS, indianRedTheme);

		cursor: pointer;
	}
}

.itemPriceField
{
	margin-left: 3px;
}

#tableActionsRow
{
	padding:
	{
		top: 10px;
		bottom: 10px;
	}

	border:
	{
		color: map-get($COLORS, grayTheme);
		style: solid;
		width: 0.5px;

		top: none;
		bottom: none;
	}

	text-align: center;

	width: 100%;
}

#addNewItemLink
{
	@extend %regularLinkText;

	cursor: pointer;

	&:hover
	{
		text-decoration: underline;
	}

	& > i
	{
		margin-right: 5px;
	}
}

#invoiceFooter
{
	border:
	{
		color: map-get($COLORS, grayTheme);
		style: solid;
		width: 0.5px;

		bottom-left-radius: 20px;
		bottom-right-radius: 20px;
	}

	display: flex;
	flex-direction: column;
	width: 100%;

	background-color: map-get($COLORS, duskTheme);

	& > div
	{
		display: flex;

		&:last-of-type
		{
			border-bottom: none;
		}
	}
}

.invoiceFooterHeader
{
	@extend %tabularSmallerHeaderText;

	padding:
	{
		top: 10px;
		bottom: 10px;
		right: 20px;
	}

	flex: 5;

	text-align: right;
}

.invoiceFooterValue
{
	@extend %numberText;

	padding:
	{
		top: 10px;
		bottom: 10px;
		left: 20px;
	}

	flex: 1;

	text-align: left;
}

#waiveTaxSection
{
	@extend %tabularLabelText;

	margin:
	{
		top: 10px;
		bottom: 20px;
	}

	display: flex;
	align-items: center;
	justify-content: center;
}