<div id='helpSection'>
	<div id='enclosureHelp' class='specialMessageSection'>
		<span>
			<div><i class='fa fa-question-circle'></i></div>
			<div>Decks/Patios/Balconies</div>
		</span>
		<p>
			For decks, use measuring tape to measure the perimeter of the deck. Please only measure the edges of the deck
			that will need railings. Any part of the deck that is lined up against a wall or an opening should not be
			measured. If you need more help, please click
			<a href='faqs#deckMeasuringHelp' class='spaceBefore' target='_blank'>here</a>.
		</p>
	</div>

	<div id='stairsHelp' class='specialMessageSection'>
		<span>
			<div><i class='fa fa-question-circle'></i></div>
			<div>Stairs</div>
		</span>
		<p>
			To figure out the amount of railing needed for a set of steps, count the number of steps in the staircase.
			Roughly speaking, every step will need one foot of railing (more or less). So if you have 10 steps to rail,
			you'll need 10 feet of railing to rail in one side of the stairway (20 if you want to rail in both sides).
		</p>
	</div>
</div>