<div id='helpSection'>

	<div id='roundingSpecialMessage' class='specialMessageSection'>
		<span>
			<div><i class='fa fa-exclamation-circle'></i></div>
		</span>
		<p>
			If you actually measured in inches, you'll need to convert to footage.
		</p>
	</div>

	<div id='stairsHelp' class='specialMessageSection'>
		<span>
			<div><i class='fa fa-question-circle'></i></div>
			<div>Stairs</div>
		</span>
		<p>
			To figure out the amount of railing needed for a set of steps, count the number of steps in the staircase.
			Roughly speaking, every step will need one foot of railing (more or less). So if you have 10 steps to rail,
			you'll need 10 feet of railing to rail in one side of the stairway (20 if you want to rail in both sides).
		</p>
	</div>
</div>