<div id='valuesSection'>

	<div id='roundingSpecialMessage' class='specialMessageSection'>
		<span>
			<i class='fa fa-exclamation-circle'></i>
		</span>
		<p>
			If you actually measured in inches, you'll need to convert to footage. Round up if you do not have a
			whole number.
		</p>
	</div>

	<div class='headlineQuestion'>
		How many feet of railing you need? Just give us a rough range here.
	</div>

	<div id='lengthInputs'>
		<span>From</span>
		<input id='fromFootage' type='tel' maxlength='4' />
		<span id='toKeyword'>to</span>
		<input id='toFootage' type='tel' maxlength='4' />
		<span>feet</span>
	</div>

</div>