/* ----------------------- IMPORTS ----------------------------- */

@import '../foundation/responsive';

/* ----------------------- STYLES ----------------------------- */

.formRow
{
	margin-left: 15px;
}

#addressRow > .controlGrouping
{
	@include desktopOnly()
	{
		width: 50%;
	}
}

#cityStateRow > .controlGrouping
{
	@include desktopOnly()
	{
		&:nth-of-type(1)
		{
			width: 40%;
		}

		&:nth-of-type(2)
		{
			width: 30%;
		}

		&:nth-of-type(3)
		{
			width: 30%;
		}
	}
}

// Input lengths
// Keep in mind that these lengths are relative to the lengths of the container group that house these inputs
#streetAddress
{
	@include desktopOnly()
	{
		width: 50%;
	}

	@include mobileOnly()
	{
		width: 280px;
	}
}

#aptSuiteNumber
{
	@include desktopOnly()
	{
		width: 35%;
	}

	@include mobileOnly()
	{
		width: 150px;
	}
}

#city
{
	@include desktopOnly()
	{
		width: 60%;
	}

	@include mobileOnly()
	{
		width: 280px;
	}
}

#state
{
	@include desktopOnly()
	{
		width: 60%;
	}

	@include mobileOnly()
	{
		width: 200px;
	}
}

#addressZipCode
{
	@include desktopOnly()
	{
		width: 50%;
	}

	@include mobileOnly()
	{
		width: 200px;
	}
}