<div class='pageHeader'>
	<h3>Prospect Details</h3>
	<div class='headerUnderline'></div>
</div>

<p id='instructionText'>
	You can modify any part of the prospect on this page. Please be aware that all fields marked blue are not
	required to be filled out. Also, any change you make will be marked with a <i class='fa fa-tag fa-rotate-180'></i>
</p>

{{> prospectSummary prospect }}

{{> customerSummary prospect }}

{{> locationSummary prospect }}

{{> saveProspectChangesButton prospect }}

{{> confirmationModal }}

<script id='prospectPicturesTemplate' type='text/x-handlebars-template'>
	{{{ picturesTemplate }}}
</script>