<div id='picturesListing'>
	{{#pictures}}
		<span>
            <img src='{{shareLink}}' class='uploadedImageThumbnail' data-index="{{@index}}" data-prospect-ID='{{_id}}'/>
			<i class='fa fa-times-circle deleteImage'></i>
        </span>
	{{/pictures}}
</div>

<div id="uploadPictureButtonContainer">
	<span id='uploadPictureButton'>Upload a New Picture</span>
	<input type='file' id='uploadPictureInput' multiple />
</div>