<div id='prospectSummary'>

	<div class='dataGrouping'>
		<span class='specializedLabel'>Prospect Number</span>
		<span class='staticValue'>{{ _id }}</span>
	</div>

	<div class='dataGrouping'>
		<span class='specializedLabel'>Prospect Created By</span>
		<span class='staticValue'>{{ conception.user }} ({{#capitalize conception.userType}}{{/capitalize}}) </span>
	</div>

	<div class='dataGrouping'>
		<span class='specializedLabel'>
            <i class='fa fa-tag fa-rotate-180'></i>
		    Notes
		</span>
		{{> prospectNotes }}
	</div>

	<div class='dataGrouping'>
		<span class='specializedLabel'>
            <i class='fa fa-tag fa-rotate-180'></i>
		    Add a New Note
		</span>
		<textarea id='prospectNotes' class='optionalField'></textarea>
	</div>

	<div class='dataGrouping'>
		<span class='specializedLabel'>Pictures</span>
		<span id='picturesListingContainer'>{{> prospectPictures }}</span>
		<span id='picturesListingLoadingIcons'>
			<span id='uploadingText'>Processing</span>
			<span class='loadingBall'></span>
			<span class='loadingBall'></span>
			<span class='loadingBall'></span>
		</span>
	</div>

</div>

{{> gallery }}