<div id='galleria{{group}}' class='galleriaPack {{#if show}}show{{/if}}'>
    {{#pictures}}
        <span>
            <img src='{{desktopThumbnail}}' data-index='{{index}}' srcset='' />
        </span>
    {{/pictures}}
</div>