<div id='gallerySection'>
    <div class='homeLightSectionHeader'>GALLERY</div>
    <p>We are proud of all our past work. Check out a sampling of the railings we craft with pride.</p>
    <div id='galleria'>
        {{{ defaultGalleria }}}
    </div>
    <div id='expandGalleryRow'>
        <span id='expandGalleryLink'>- click here for more pictures -</span>
    </div>
</div>

<script id='galleriaTemplate' type='text/x-handlebars-template'>
    {{{ galleriaTemplate }}}
</script>