<div id='orderSection'>
	<div class='homeLightSectionHeader'>PLACE AN ORDER WITH US</div>

    <p>
        Whenever you're ready to place an order with us, please click the button below. If you have any questions or
        concerns, feel free to <a class='spaceBeforeAndAfter' href='/contactUs'>contact us</a> or consult our
        <a href='/faq' class='spaceBeforeAndAfter'>FAQ</a> page to look at answers to some of the most common questions
        we get.
    </p>

	<button id='orderCreationButton' class='navButton'>Place an Order<i class='fa fa-arrow-circle-o-right'></i></button>
</div>