<div id='salesPitchSection'>
	<div>
		Fabricating and installing artisan railings
	</div>
	<button id='orderCreationButton' class='navButton'>Start Your Design<i class='fa fa-arrow-circle-o-right'></i></button>
</div>