<div id='thankYouSection'>
	<div class='homeDarkSectionHeader'>SPECIAL THANKS</div>

    <p>We want to sincerely thank the people behind these technologies for helping us in building this website.</p>

    <div id='techLogos'>
        {{#thankYouImages}}
            <img src='{{path}}' />
        {{/thankYouImages}}
    </div>
</div>