<div id='thankYouSection'>
	<div class='homeDarkSectionHeader'>SPECIAL THANKS</div>

    <p>We want to sincerely thank the people behind these technologies for helping us in building this website.</p>

    <div id='techLogos'>
        {{#thankYouImages}}
            <img srcset='{{ desktopPath.path }} 70w, {{ phonePath.path }} 50w'
				 size='(max-width: 729px) 50px, 70px'
				 src='{{ desktopPath.path }}' />
        {{/thankYouImages}}
    </div>
</div>