/* ----------------------- IMPORTS ----------------------------- */

@import '../foundation/general';
@import '../foundation/fonts';
@import '../foundation/form';
@import '../foundation/responsive';
@import '../foundation/colors';
@import '../foundation/modal';

/* ----------------------- STYLES ----------------------------- */

#customerSummary, #locationSummary, #notesSection, #submissionSection
{
	padding:
	{
		top: 25px;
		bottom: 25px;
	}

	border-top:
	{
		style: solid;
		width: 2px;
		color: map-get($COLORS, blackTheme);
	}
}

.dataGrouping
{
	@extend %regularText;

	margin:
	{
		top: 35px;
		bottom: 35px;
		left: 15px;
		right: 15px;
	}

	display: flex;
	align-items: center;
	flex-flow: wrap;

	&.hide
	{
		display: none;
	}

	& > textarea
	{
		width: 70%;
		height: 100px;

		text-align: left;
	}

	& > .subtleHeadsUp
	{
		margin:
		{
			left: calc(15%);
			top: 10px;
		}

		width: 100%;
	}
}

.specializedLabel
{
	@extend %formLabelText;

	width: 15%;
	margin-right: 20px;
	text-align: right;
}

.optionalField
{
	background-color: map-get($COLORS, lightBlueTheme);
}