<div id='orderFilter'>

    <div id='stateFilter'>
        <span class='filterHeader translate'>Status:</span>
        <span class='statusFilter translate' data-value=''>All</span>
        <span class='statusFilter translate' data-value='prospect'>Prospect</span>
        <span class='statusFilter translate' data-value='pending'>Pending Payment</span>
		<span class='statusFilter translate' data-value='queue'>Queued</span>
		<span class='statusFilter translate' data-value='production'>Production</span>
		<span class='statusFilter translate' data-value='finishing'>Finishing</span>
		<span class='statusFilter translate' data-value='install'>Install</span>
		<span class='statusFilter translate' data-value='closed'>Closed</span>
        <span class='statusFilter translate' data-value='cancelled'>Cancelled</span>
    </div>

    <div id='searchFilter'>
        <span class='filterHeader translate'>Search:</span>
        <span class='inputTextIcon'>
            <input id='searchFilterTextfield' type='text' placeholder="Search by any keyword....">
            <i id='resetSearch' class='fa fa-times-circle'></i>
        </span>
    </div>
</div>