<div id='orderFilter'>

    <div id='stateFilter'>
        <span class='filterHeader'>Status:</span>
        <span>All</span>
        <span>Open</span>
		<span>Production</span>
		<span>Install</span>
		<span>Closed</span>
    </div>

    <div id='searchFilter'>
        <span class='filterHeader'>Search:</span>
        <span class='inputTextIcon'>
            <input id='searchFilterText' type='text' placeholder="Search by a customer's name, a location, order details, etc.">
            <i id='resetSearch' class='fa fa-times-circle'></i>
        </span>
    </div>
</div>