<div id='orderFilter'>

    <div id='stateFilter'>
        <span class='filterHeader'>Status:</span>
        <span class='statusFilter' data-value=''>All</span>
        <span class='statusFilter' data-value='open'>Open</span>
        <span class='statusFilter' data-value='consult'>Consult</span>
		<span class='statusFilter' data-value='production'>Production</span>
		<span class='statusFilter' data-value='install'>Install</span>
		<span class='statusFilter' data-value='closed'>Closed</span>
        <span class='statusFilter' data-value='cancelled'>Cancelled</span>
    </div>

    <div id='searchFilter'>
        <span class='filterHeader'>Search:</span>
        <span class='inputTextIcon'>
            <input id='searchFilterTextfield' type='text' placeholder="Search by any keyword....">
            <i id='resetSearch' class='fa fa-times-circle'></i>
        </span>
    </div>
</div>