<div class='scrollableHorizontal'>
	<p id='instructionText'>
		Over here, we can look and inspect all the orders in our system as well as the tasks that need to be addressed.
	</p>

	{{> officeTasks }}

	<div id='buttonSection'>
		<button id='prospectCreationButton' class='navButton'>Set Up New Prospect<i class='fa fa-user-circle-o'></i></button>
		<button id='orderCreationButton' class='navButton'>Create Invoice<i class='fa fa-shopping-cart'></i></button>
	</div>

    {{> orderFilter }}

	<div id='orderListing'></div>

    {{> confirmationModal }}

	<script id='orderListingTemplate' type='text/x-handlebars-template'>
        {{{ orderListingTemplate }}}
	</script>

	<script id='orderPicturesTemplate' type='text/x-handlebars-template'>
		{{{ orderPicturesTemplate }}}
	</script>

	<script id='orderPrintTemplate' type='text/x-handlebars-template'>
		{{{ orderPrintTemplate }}}
	</script>

	<script id='orderNotesTemplate' type='text/x-handlebars-template'>
		{{{ orderNotesTemplate }}}
	</script>

</div>

{{> gallery }}