{{#if order._id}}
	<div class='picturesContainer' data-id='{{ id }}'>
		{{#pictures}}
			<img src='{{shareLink}}' class='uploadedImageThumbnail' data-index="{{@index}}"/>
		{{/pictures}}
	</div>	
{{/if}}