<div class='scrollableHorizontal'>
	<p id='instructionText' class='translate'>
		Over here, we can look and inspect all the orders in our system as well as the tasks that need to be addressed.
	</p>

	<div id='buttonSection'>
		<a id='orderCreationButton' class='navButton' href='/orderGeneral'>
			<span class='translate'>Create Order</span>
			<i class='fa fa-shopping-cart'></i>
		</a>
	</div>

    {{> orderFilter }}

	<div id='orderListing'></div>

    {{> confirmationModal }}

	<script id='orderListingTemplate' type='text/x-handlebars-template'>
        {{{ orderListingTemplate }}}
	</script>

	<script id='orderPicturesTemplate' type='text/x-handlebars-template'>
		{{{ orderPicturesTemplate }}}
	</script>

	<script id='orderPrintTemplate' type='text/x-handlebars-template'>
		{{{ orderPrintTemplate }}}
	</script>

	<script id='orderNotesTemplate' type='text/x-handlebars-template'>
		{{{ orderNotesTemplate }}}
	</script>

</div>

{{> gallery }}