<div class='scrollableHorizontal'>
	<p id='instructionText'>
		Over here, we can look and inspect all the orders in our system. Feel free to use the status and search filters below
		to help you find certain orders quicker.
	</p>

    {{> orderFilter }}

	<div id='orderListing'></div>

    {{> confirmationModal }}

	<script id='orderListingTemplate' type='text/x-handlebars-template'>
        {{{ orderListingTemplate }}}
	</script>

	<script id='orderPicturesTemplate' type='text/x-handlebars-template'>
		{{{ orderPicturesTemplate }}}
	</script>

	<script id='orderPrintTemplate' type='text/x-handlebars/template'>
		{{{ orderPrintTemplate }}}
	</script>

</div>

{{> gallery }}