<div class='scrollableHorizontal'>
	<p id='instructionText'>
		Over here, we can look and inspect all the orders in our system. Feel free to use the status and search filters below
		to help you find certain orders quicker.
	</p>

	<button id='orderCreationButton' class='navButton'>Create Order<i class='fa fa-arrow-circle-o-right'></i></button>
	<button id='printPaperOrder' class='navButton'>Print Paper Order<i class='fa fa-print'></i></button>

    {{> orderFilter }}

	<div id='orderListing'></div>

    {{> confirmationModal }}

	<script id='orderListingTemplate' type='text/x-handlebars-template'>
        {{{ orderListingTemplate }}}
	</script>

	<script id='orderPicturesTemplate' type='text/x-handlebars-template'>
		{{{ orderPicturesTemplate }}}
	</script>

	<script id='orderPrintTemplate' type='text/x-handlebars/template'>
		{{{ orderPrintTemplate }}}
	</script>

</div>

{{> gallery }}