<div class='filesListing'>

	{{> uploadSection _id=order._id }}

	{{#if order.pictures.length}}
		<div class='picturesContainer'>
			<div class='uploadContainerHeader'>Pictures</div>
			{{#unless doNotLoadOnInit}}
				{{#each order.pictures}}
					{{> fileThumbnail shareLink=shareLink index=@index orderId=../order._id }}
				{{/each}}
			{{/unless}}

			{{#if doNotLoadOnInit}}
				{{#if order.pictures.length}}
					<div class='loadPicturesLink' data-id='{{ order._id }}'>Load All Pictures...</div>
				{{/if}}
			{{/if}}
		</div>
	{{/if}}

	{{#if order.drawings.length}}
		<div class='drawingsContainer'>
			<div class='uploadContainerHeader'>Drawings</div>
			{{#unless doNotLoadOnInit}}
				{{#each order.drawings}}
					{{> fileThumbnail shareLink=shareLink index=@index orderId=../order._id }}
				{{/each}}
			{{/unless}}

			{{#if doNotLoadOnInit}}
				{{#if order.drawings.length}}
					<div class='loadDrawingsLink' data-id='{{ order._id }}'>Load All Drawings...</div>
				{{/if}}
			{{/if}}
		</div>
	{{/if}}

	{{#if order.files.length}}
		<div class='filesContainer'>
			<div class='uploadContainerHeader'>Files</div>
			{{#unless doNotLoadOnInit}}
				{{#each order.files}}
					{{> fileThumbnail shareLink=shareLink index=@index orderId=../order._id }}
				{{/each}}
			{{/unless}}
	
			{{#if doNotLoadOnInit}}
				{{#if order.files.length}}
					<div class='loadFilesLink' data-id='{{ order._id }}'>Load All Files...</div>
				{{/if}}
			{{/if}}
		</div>
	{{/if}}

</div>