<div class='filesListing'>

	{{> uploadSection _id=order._id }}

	<div class='picturesContainer {{#unless order.pictures.length}} hide {{/unless}}'>
		<div class='uploadContainerHeader'>Pictures</div>
		{{#unless doNotLoadOnInit}}
			{{#each order.pictures}}
				{{> fileThumbnail }}
			{{/each}}
		{{/unless}}

		{{#if doNotLoadOnInit}}
			{{#if order.pictures.length}}
				<div class='loadPicturesLink' data-order-id='{{ order._id }}'>Load All Pictures...</div>
			{{/if}}
		{{/if}}
	</div>

	<div class='drawingsContainer  {{#unless order.drawings.length}} hide {{/unless}}'>
		<div class='uploadContainerHeader'>Drawings</div>
		{{#unless doNotLoadOnInit}}
			{{#each order.drawings}}
				{{> fileThumbnail }}
			{{/each}}
		{{/unless}}

		{{#if doNotLoadOnInit}}
			{{#if order.drawings.length}}
				<div class='loadDrawingsLink' data-order-id='{{ order._id }}'>Load All Drawings...</div>
			{{/if}}
		{{/if}}
	</div>

	<div class='filesContainer  {{#unless order.files.length}} hide {{/unless}}'>
		<div class='uploadContainerHeader'>Files</div>
		{{#unless doNotLoadOnInit}}
			{{#each order.files}}
				{{> fileThumbnail }}
			{{/each}}
		{{/unless}}

		{{#if doNotLoadOnInit}}
			{{#if order.files.length}}
				<div class='loadFilesLink' data-order-id='{{ order._id }}'>Load All Files...</div>
			{{/if}}
		{{/if}}
	</div>

	<a class='downloadLink' href='' download=''></a>
</div>