<div class='fileUploadSection' data-order-id='{{ _id }}'>
	<div class='fileUploadForm'>
		<span class='labelText'>Upload a File?</span>
		<select class='uploadFileType'>
			<option value='' disabled selected>Specify from Below</option>
			<option value='picture'>Picture</option>
			<option value='drawing'>Shop Drawing</option>
			<option value='file'>File</option>
		</select>
		<input type='file' class='uploadFileInput' multiple />
	</div>

	<div class='fileUploadingIndicators hide'>
		<span class='uploadingText'>Processing</span>
		<span class='loadingBall'></span>
		<span class='loadingBall'></span>
		<span class='loadingBall'></span>
	</div>
</div>