<div id='contractorAgreementText'>

	<div class='articleSubject'>Article 1: Contract Payment</div>

	<div class='bulletPoint'>
		<span class='bulletPointIdentifier'>A.</span>
		<span class='bulletPointText'>
			The Contractor agrees to pay Subcontractor for satisfactory performance of Subcontractor's work (the “Work”)
			the sum of ${{ order.pricing.orderTotal }} as the Order Total.
		</span>
	</div>

	<div class='bulletPoint'>
		<span class='bulletPointIdentifier'>B.</span>
		<span class='bulletPointText'>
			Upon signing of this Agreement, Contractor shall pay to Subcontractor <input id='depositPercentage' type='text' value='50'/>% 
			of the Order Total (the “Initial Deposit”) before Subcontractor commences any work required.
		</span>
	</div>

	<div class='bulletPoint'>
		<span class='bulletPointIdentifier'>C.</span>
		<span class='bulletPointText'>
			Contractor shall pay the remaining balance of the Order Total to Subcontractor within thirty (30) calendar 
			days after Subcontractor has completed the work required herein. The company holds the right to charge an
			additional 30% on top of the remaining balance should the Contractor fail to pay within thirty (30) 
			calendar days.
		</span>
	</div>

	<div class='articleSubject'>Article 2: Scope of Work</div>

	<div class='bulletPoint'>
		<span class='bulletPointIdentifier'>A.</span>
		<span class='bulletPointText'>
			Subcontractor shall furnish necessary labor, materials, services, tools, equipment and other things 
			necessary to fully perform and complete the Work specified here:
		</span>
	</div>

	<textarea id='descriptionText'>{{ order.notes.order }}</textarea>
	<div id='descriptionTextCloneSpace'></div>

	<div class='bulletPoint'>
		<span class='bulletPointIdentifier'>B.</span>
		<span class='bulletPointText'>
			Subcontractor agrees to commence Work herein described upon being provided the Initial Deposit and 
			notification by Contractor, and to perform and complete such Work in accordance with this Agreement under
			the general direction of Contractor in accord with Contractor's schedule.
		</span>
	</div>

	<div class='articleSubject'>Article 3: Schedule of Work</div>

	<div class='bulletPoint'>
		<span class='bulletPointIdentifier'>A.</span>
		<span class='bulletPointText'>
			The expected date of completion for the Work is between <input class='contractorDate' type='text' /> and 
			<input class='contractorDate' type='text' />. Both parties are responsible for ensuring that the Work 
			is completed timely and neither party shall delay the other from achieving the completion of the Work.
		</span>
	</div>

	<div class='bulletPoint'>
		<span class='bulletPointIdentifier'>B.</span>
		<span class='bulletPointText'>
			Both parties agree that they shall not employ any labor which will interfere with labor harmony at the 
			job site or with the introduction and storage of materials and execution of Work by other subcontractors.
			If Contractor breaches this covenant and such breach shall cause a stoppage of Work at the job site, 
			Contractor shall be liable for all damages suffered by Subcontractor caused by such delay in completing 
			the job.
		</span>
	</div>

	<div class='bulletPoint'>
		<span class='bulletPointIdentifier'>C.</span>
		<span class='bulletPointText'>
			If any part of Subcontractor&#39;s work depends for proper execution or results upon the work of any 
			other subcontractor, Subcontractor shall inspect and promptly report to Contractor any defects in such 
			work that render it unsuitable for such proper execution and results. Subcontractor&#39;s failure to 
			inspect and report shall constitute an acceptance of the other Subcontractor&#39;s work as fit and proper
			for the reception of Subcontractor&#39;s work.
		</span>
	</div>

	<div class='bulletPoint'>
		<span class='bulletPointIdentifier'>D.</span>
		<span class='bulletPointText'>
			Subcontractor shall provide Contractor with any requested scheduling information of Subcontractor&#39;s 
			Work. The Schedule of Work, including that of this Subcontract shall be prepared by Contractor and may be
			revised as the Work progresses. Subcontractor recognizes that changes may be made in the Schedule of Work
			and agrees to comply with such changes. In such events, Subcontractor reserves the right to charge 
			additional fees for any additional time or expense it incurs outside the normal scope of the original 
			Work. Contractor shall coordinate Subcontractor’s work with all other contractors, subcontractors, and 
			suppliers on the Project so as not to delay or damage their performance, work, or the Project.
		</span>
	</div>

	<div class='articleSubject'>Article 4: Changes</div>

	<div class='bulletPoint'>
		<span class='bulletPointIdentifier'>A.</span>
		<span class='bulletPointText'>
			Contractor or Owner may authorize changes to or deductions from the Work, said authorization to be 
			effective and binding only when written and agreed to by both Contractor and Subcontractor (the "Extra 
			Work").
		</span>
	</div>

	<div class='bulletPoint'>
		<span class='bulletPointIdentifier'>B.</span>
		<span class='bulletPointText'>
			Whenever Extra Work is requested by Owner and the scope and nature of same is reasonably susceptible to 
			lump sum quotation, Subcontractor shall provide such quotation within five (5) days of a request for same.
		</span>
	</div>

	<div class='bulletPoint'>
		<span class='bulletPointIdentifier'>C.</span>
		<span class='bulletPointText'>
			Any claim for compensation for Extra Work, whether lump sum or otherwise, must be presented to Contractor
			within five (5) days of authorization of the Extra Work.  Claims for extra work received thereafter will 
			not be considered.  Proper claims for Extra Work shall be paid in accordance with this Agreement.
		</span>
	</div>

	<div class='bulletPoint'>
		<span class='bulletPointIdentifier'>D.</span>
		<span class='bulletPointText'>
			Contractor, without nullifying the Agreement, may direct Subcontractor to make changes to Subcontractor's
			Work. Adjustment, if any, in the contract price or contract time resulting from such changes shall be set
			forth in a Subcontractor's Change Order pursuant to the Contract Documents.
		</span>
	</div>

	<div class='articleSubject'>Article 5: Indemnification</div>

	<div class='bulletPoint'>
		<span class='bulletPointText'>
			To the fullest extent permitted by law, Contractor shall indemnify and hold harmless Subcontractor from 
			all damages, losses, or expenses, including attorneys fees, from any claims or damages for bodily injury,
			sickness, disease, or death, or from claims for damages to tangible property, other than the Work itself.
			This indemnification shall extend to claims resulting from performance of this Agreement and shall apply 
			to the extent that the claim or loss is caused in whole or in part by any act or omission of Contractor 
			or any of its agents, employees, or subcontractors.  This indemnity shall be effective regardless of 
			whether the claim or loss is caused in some part by a party to be indemnified.  Contractor agrees to hold
			Subcontractor harmless in the event of damages or injuries due to any negligence of its part, and that it
			will pay all legal and defense costs associated with any damage or injury claims.
		</span>
	</div>

	<div class='articleSubject'>Article 6: Warranty</div>

	<div class='bulletPoint'>
		<span class='bulletPointText'>
			Subcontractor warrants its work against all deficiencies and defects in workmanship and agrees to satisfy 
			same at its expense for a period of three (3) months from the date of completion of its Work.
		</span>
	</div>

	<div class='articleSubject'>Article 7: Miscellaneous</div>

	<div class='bulletPoint'>
		<span class='bulletPointIdentifier'>A.</span>
		<span class='bulletPointText'>
			<span class='bulletPointHeader'>Insurance.</span>
			Contractor shall maintain insurance coverage and minimum coverage limits for its business as required by 
			any applicable law or regulation, including Workers’ Compensation insurance as required by any applicable
			law or regulation, or otherwise as determined by Contractor in its reasonable discretion.
		</span>
	</div>

	<div class='bulletPoint'>
		<span class='bulletPointIdentifier'>B.</span>
		<span class='bulletPointText'>
			<span class='bulletPointHeader'>Severability.</span>
			Contractor shall maintain insurance coverage and minimum coverage limits for its business as required by 
			any applicable law or regulation, including Workers’ Compensation insurance as required by any applicable
			law or regulation, or otherwise as determined by Contractor in its reasonable discretion.
		</span>
	</div>

	<div class='bulletPoint'>
		<span class='bulletPointIdentifier'>C.</span>
		<span class='bulletPointText'>
			<span class='bulletPointHeader'>Relationship of Parties.</span>
			Nothing contained in this Agreement shall create an employer and employee relationship, a master and 
			servant relationship, or a principal and agent relationship between Subcontractor and/or any 
			Subcontractor employee(s) and Contractor. Contractor and Subcontractor agree that Subcontractor is, and 
			at all times during this Agreement shall remain, an independent Subcontractor.  The Subcontractor shall 
			at all times be responsible for all Subcontractor’s employees’, agents, and subcontractor’s actions, 
			shall be responsible for any applicable taxes or insurance, and shall comply with any applicable public 
			laws or regulations.
		</span>
	</div>

	<div class='bulletPoint'>
		<span class='bulletPointIdentifier'>D.</span>
		<span class='bulletPointText'>
			<span class='bulletPointHeader'>Force Majeure.</span>
			Neither party shall be liable for any failure to perform under this Agreement when such failure is due to
			causes beyond that party’s reasonable control, including, but not limited to, acts of state or 
			governmental authorities, acts of terrorism, natural catastrophe, fire, storm, flood, earthquakes, 
			accident, and prolonged shortage of energy.  In the event of such delay the date of delivery or time for 
			completion will be extended by a period of time reasonably necessary by both Subcontractor and Contractor.
			If the delay remains in effect for a period in excess of thirty days, Contractor may terminate this 
			Agreement immediately upon written notice to Subcontractor, and Subcontractor shall be paid any remaining
			balance of the Order Total due.
		</span>
	</div>

	<div class='bulletPoint'>
		<span class='bulletPointIdentifier'>E.</span>
		<span class='bulletPointText'>
			<span class='bulletPointHeader'>Entire Agreement.</span>
			This document and all attached or incorporated documents contains the entire agreement between the 
			Parties and supersedes any previous understanding, commitments or agreements, oral or written.  Further, 
			this Subcontractor Agreement may not be modified, changed, or otherwise altered in any respect except by 
			a written agreement signed by both Parties.
		</span>
	</div>

	<div class='bulletPoint'>
		<span class='bulletPointIdentifier'>F.</span>
		<span class='bulletPointText'>
			<span class='bulletPointHeader'>Headings.</span>
			The section headings contained in this Agreement are for reference purposes only and shall not affect
			in any way the meaning or interpretation of this Agreement.
		</span>
	</div>

	<div class='bulletPoint'>
		<span class='bulletPointIdentifier'>G.</span>
		<span class='bulletPointText'>
			<span class='bulletPointHeader'>Binding Agreement.</span>
			The provisions of this Agreement will be binding upon, and will inure to the benefit of, the respective 
			heirs, legal representatives, successors and assigns of the parties.
		</span>
	</div>
</div>