<div id='contractorAgreementSignatureSection'>

	<div class='signatureRow'>
		<span class='significantText'>Subcontractor</span>
		<span class='significantText'>Contractor</span>
	</div>

	<div class='signatureRow'>
		<span class='signatureCompanyName'>Metro Railings</span>
		<span class='signatureCompanyName'><input id='signatureCustomerName' type='text' value='{{ order.customer.name }}' /></span>
	</div>

	<div class='signatureRow'>
		<span>______________________________________</span>
		<span>______________________________________</span>
	</div>

</div>