<div id='centerDesignSection' class='designSection' data-vm-prop='centerDesign'>

	<p>
		For those that want to further dress up their railings, take a look into possibly adding center designs.
	</p>

	<div class='headlineQuestion'>
		Would you like any designs along the center of your railings?
	</div>

	<div id='centerDesignCarousel' class='designCarousel'></div>

</div>