<div id='colorSection' class='designSection'>

	<p>
		Finally, let's figure out how you want the railings to be colored. In order to ensure that all our railings retain
		their luster for as long as possible, we apply powder coating to all our railings. It is through powder coating
		that the railings achieve whatever color you want them to be.
	</p>

	<div class='headlineQuestion'>What color would you like the railings to be?</div>

    <div id='colorPicker'>

        <div id='colorDemo'>
            <span><img id='colorDemoPicture' src='' /></span>
            <span id='colorDemoName'></span>
        </div>

        <div id='colorSelector'>

            <span>
                <span class='colorContainer'>
                    <i class='fa fa-long-arrow-down selectedArrow' data-color='white'></i>
                </span>
                <span class='colorContainer'>
                    <span id='whiteColor' class='colorOption' data-color='white' data-image-url='client/images/designs/colors/white-rails.jpg'></span>
                </span>
            </span>

            <span>
                <span class='colorContainer'>
                    <i class='fa fa-long-arrow-down selectedArrow' data-color='black'></i>
                </span>
                <span class='colorContainer'>
        			<span id='blackColor' class='colorOption' data-color='black' data-image-url='client/images/designs/colors/black-rails.jpg'></span>
                </span>
    		</span>

            <span>
                <span class='colorContainer'>
                    <i class='fa fa-long-arrow-down selectedArrow' data-color='silver'></i>
                </span>
                <span class='colorContainer'>
        			<span id='silverColor' class='colorOption' data-color='silver' data-image-url='client/images/designs/colors/silver-railings.jpg'></span>
                </span>
            </span>

            <span>
                <span class='colorContainer'>
                    <i class='fa fa-long-arrow-down selectedArrow' data-color='mahogany'></i>
                </span>
                <span class='colorContainer'>
        			<span id='mahoganyColor' class='colorOption' data-color='mahogany' data-image-url='client/images/designs/colors/mahogany-rails.jpg'></span>
                </span>
    		</span>

        </div>

    </div>
</div>