<div class='pageHeader'>
	<h3>Design your Railings</h3>
	<div class='headerUnderline'></div>
</div>

{{> selectedOptionsSection }}

{{> featureSection }}

{{> gallery }}

<script id='optionsCarouselTemplate' type='text/x-handlebars-template'>
    {{{ optionsCarouselTemplate }}}
</script>

<script id='designTemplate' type='text/x-handlebars-template'>
    {{{ designTemplate }}}
</script>