<div class='pageHeader'>
	<h3>Design your Railings</h3>
	<div class='headerUnderline'></div>
</div>

<p>
    Let's begin the design process.
</p>

{{> designRailingsPostSection }}

{{> designRailingsPostEndSection }}

{{> designRailingsPostCapSection }}

{{> designRailingsCenterDesignSection }}

{{> designRailingsColorSection }}

{{> designRailingsSubmissionButton }}

{{> scrollDownLabel }}

{{> gallery }}

<script id='optionsCarouselTemplate' type='text/x-handlebars-template'>
    {{{ optionsCarouselTemplate }}}
</script>

<script id='designTemplate' type='text/x-handlebars-template'>
    {{{ designTemplate }}}
</script>