<div class='pageHeader'>
	<h3>Design your Railings</h3>
	<div class='headerUnderline'></div>
</div>

<p>
    Let's begin the design process. We offer a set of standard design options below. If you wish for something more ambitious
	with more railings, we can make your vision come to reality. In that case, though, you're better off directly
	<a href='contactUs' class='spaceBeforeAndAfter'>contacting us</a> for a better customized quote instead.
</p>

{{> designRailingsPostSection }}

{{> designRailingsPostEndSection }}

{{> designRailingsPostCapSection }}

{{> designRailingsCenterDesignSection }}

{{> designRailingsColorSection }}

{{> designRailingsSubmissionButton }}

{{> scrollDownLabel }}

{{> gallery }}

<script id='optionsCarouselTemplate' type='text/x-handlebars-template'>
    {{{ optionsCarouselTemplate }}}
</script>

<script id='designTemplate' type='text/x-handlebars-template'>
    {{{ designTemplate }}}
</script>