<div id='notDoneYet'>

    <p>
        As soon as you answer enough design-related questions above so that we know how you like your railings, come back
        here so that you can proceed to the final step of the order. If you're here thinking you have answered all the
        questions above, go over the questions above once more as you missed answering at least one question.
    </p>

    <p>
        Please note that any question tinged with a light blue background indicates that the question has not been
        answered yet.
    </p>

</div>