<div id='postEndSection' class='designSection' data-vm-prop='postEndDesign'>

	<p>
		Let's begin the process of determining the look of your railings. First, we need to understand what type of post
		you want connecting your railings together.
	</p>

	<div class='headlineQuestion'>
		What design do you want on both ends of the top railing?
	</div>

	<div id='postEndDesignCarousel' class='designCarousel'></div>

</div>