<div id='post-DesignSection' class='designSection' data-vm-prop='post' data-option-category-name='Type'>

	<div class='headlineQuestion'>
        What size posts do you want joining together your railings?
	</div>

    <div class='carouselContainer' data-data-file='shared/designs/postDesigns'>
		<!-- Data will be generated here through JavaScript -->
	</div>

</div>