<div id='postSection' class='designSection rollDownSection' data-vm-prop='postDesign'>

	<p>
	    First, we need to figure out what type of posts you want. The type of posts you want is critical to determining
		what additional design options we can present to you.
	</p>

	<div class='headlineQuestion'>
        What kind of posts do you want joining together your railings?
	</div>

    <div id='postDesignCarousel' class='designCarousel'></div>
</div>