<div id='postCapSection' class='designSection' data-vm-prop='postCapDesign'>

	<p>
		Given that you requested bigger-sized posts, now the question becomes what type of decorative cap you want on the top
		of each post.
	</p>

	<div class='headlineQuestion'>
		What type of cap do you want placed on top of each post?
	</div>

	<div id='postCapDesignCarousel' class='designCarousel'></div>

</div>