<div id='postSection' class='designSection rollDownSection' data-vm-prop='postDesign'>

	<p>
	    First, we need to understand what type of post you want connecting your railings together.
	</p>

	<div class='headlineQuestion'>
        What kind of posts do you want joining together your railings?
	</div>

    <div id='postDesignCarousel' class='designCarousel'></div>
</div>