<div id='postEndSection' class='designSection' data-vm-prop='postEndDesign'>

	<p>
		Now that you selected standard-sized railings, we want to begin dressing up your railings so that they fit you better.
		Let's determine what type of design you want off the ends of the handrailing.
	</p>

	<div class='headlineQuestion'>
		What design do you want on the ends of the top railing?
	</div>

	<div id='postEndDesignCarousel' class='designCarousel'></div>

</div>