<div id='type-DesignSection' class='designSection activeSection' data-vm-prop='type' data-option-category-name='Type'>

	<div class='headlineQuestion'>
		What type of railings would you like?
	</div>

	<div class='listContainer' data-data-file='shared/designs/typeDesigns'>
		<!-- Data will be generated here through JavaScript --->
	</div>

</div>