<div id='typeSection' class='designSection' data-vm-prop='type'>

	<div class='headlineQuestion'>
		What type of railings do you like?
	</div>

	<div id='typeCarousel' class='designCarousel'></div>

</div>