<div id='agreementSection'>

	<p>
		By booking this estimate online, we promise to come to your location as soon as possible. Generally, we are
		able to come within a day or two, but sometimes, we may come later depending on how far your location is from
		our offices and how busy our representatives may be at the moment.
	</p>

</div>