<div id='invoiceSection'>

	<span id='totalPrice'>
		<div id='priceLabel'>
			Total Price for Estimate
		</div>
		<div id='totalPriceCell'>
			${{totalPrice}}
		</div>
		<div id='pricingNote'>
			Pricing based on distance between your location and our offices
		</div>
	</span>

	<span id='estimatesCostMoney'>
		As our time is especially valuable during the summer, we must charge for our estimates. But don't worry...
		<span class='spaceBeforeAndAfter bolded'>if you decide to go ahead and do business with us following our
		visit, we will apply whatever you paid for the estimate towards the price of whatever railings you buy
		.</span> Frankly, we're confident that once you spend a bit of time with us, you will be convinced of our
		expertise in all things railings.
	</span>
</div>