<div class='pageHeader'>
	<h3>C-Suite</h3>
</div>

<div id='adminLogInSection'>

    <div class='formRow'>
        <span class='controlGrouping'>
            <label for='userName' class='fixedLabel'>Username</label>
            <input type='text' id='userName' />
        </span>
    </div>

    <div class='formRow'>
        <span class='controlGrouping'>
            <label for='password' class='fixedLabel'>Password</label>
            <input type='password' id='password' />
        </span>
    </div>

    <div class='formRow'>
        <span class='controlGrouping checkboxGrouping'>
            <input id='rememberMe' type='checkbox'/><label for='rememberMe'></label>
            <label for='rememberMe'>Remember Me</label>
    	</span>
    </div>

    <button id='adminSubmissionButton' class='navButton'>Log In</button>

</div>