<div id='amountSection'>

	<div class='headlineQuestion'>
		How many <span id='powderCoatingAmount'></span> do you need powder-coated?
	</div>

	<div class='controlGroupingRow'>
		<input id='powderCoatingAmount' type='tel' maxlength=3 />
	</div>

</div>