<div id='otherMetalSection'>

	<div class='headlineQuestion'>Please describe exactly what you need powder-coated. Be as descriptive as possible</div>

	<textarea id='otherMetalDescription'></textarea>

</div>