<div id='customOrderRequiredSection'>

	<div class='headlineQuestion'>Will these railings need to be curved? Is there any part of the railing that will be curved?</div>

	<div id='curveInputContainer' >
		<span class='regularRadioInput'><input id='curvesNo' type='radio' name='curves' value='n'/><label for='curvesNo'>No</label></span>
		<span class='regularRadioInput'><input id='curvesYes' type='radio' name='curves' value='y'/><label for='curvesYes'>Yes</label></span>
	</div>

	<div id='curvesYesMessage'>
		<p>
			Given that your railings need to sport some lovely curves, we will need to inspect the space where you want railings in order
			to properly quote you, as the work becomes significantly more difficult depending on the curvature of railing needed.
			As robust as our online ordering system is, it cannot provide you with an accurate quote when curves are involved.
			Please <a href='/contactUs' class='spaceBeforeAndAfter'>contact us</a> so that we can schedule a time when
			we can come by to make the measurements.
		</p>
	</div>

	<div class='separator'></div>

	<div class='headlineQuestion'>Are you looking for more than 100 feet of railing?</div>

	<div id='bigOrderInputContainer' >
		<span class='regularRadioInput'><input id='bigOrderNo' type='radio' name='bigOrder' value='n'/><label for='bigOrderNo'>No</label></span>
		<span class='regularRadioInput'><input id='bigOrderYes' type='radio' name='bigOrder' value='y'/><label for='bigOrderYes'>Yes</label></span>
	</div>

	<div id='bigOrderYesMessage'>
		<p>
			The online ordering system is only targeted to those people ordering less than one hundred feet of railing. Bigger orders
			require you to talk to one of our salespeople. Please <a href='/contactUs' class='spaceBeforeAndAfter'>contact us</a>
			directly to proceed with your big order.
		</p>
	</div>

</div>