<div id='typeSection'>

	<div class='headlineQuestion'>What do you need powder coated?</div>

	<div id='typeSelection'>
        <span class='pictureButtonContainer'>
            <span>
                <input type='checkbox' id='wheelsCheckbox' value='wheels' /><label for='stairsCheckbox'></label>
            </span>
            <span class='pictureButton' data-type='wheels'>
                <div><img src='client/images/wheels-example.jpg' /></div>
                <div>Wheels</div>
            </span>
        </span>

		<span class='pictureButtonContainer'>
            <span>
                <input type='checkbox' id='motorcycleCheckbox' value='motorcycle' /><label for='motorcycleCheckbox'></label>
            </span>
            <span class='pictureButton' data-type='motorcycle'>
                <div><img src='client/images/motorcycle-example.jpg' /></div>
                <div>Motorcycle Parts / Frame</div>
            </span>
        </span>

		<span class='pictureButtonContainer'>
            <span>
                <input type='checkbox' id='atvCheckbox' value='atv' /><label for='atvCheckbox'></label>
            </span>
            <span class='pictureButton' data-type='atv'>
                <div><img src='client/images/atv-example.jpg' /></div>
                <div>ATV Parts / Frame</div>
            </span>
        </span>

		<span class='pictureButtonContainer'>
            <span>
                <input type='checkbox' id='otherCheckbox' value='other' /><label for='otherCheckbox'></label>
            </span>
            <span class='pictureButton' data-type='other'>
                <div><img src='client/images/other-metals-example.jpg' /></div>
                <div>Other Metals</div>
            </span>
        </span>

	</div>
</div>