/* ----------------------- IMPORTS ----------------------------- */

@import '../foundation/colors';

/* ----------------------- GENERIC STYLES ----------------------------- */

table
{
	border-collapse: collapse;

	& > tr
	{
		width: 100%;

		& > td
		{
			line-height: 1.5em;
		}
	}
}

/* ----------------------- EMAIL STYLES ----------------------------- */

.telLink
{
	color: map-get($COLORS, blackTheme);
	text-decoration: none;
	cursor: text !important;
}

#emailContent
{
	text-align: center;
	border-collapse: collapse;

	font-family: Cardo, Raleway, Times New Roman, Arial, sans-serif;
}

#header
{
	margin:
	{
		top: 25px;
		bottom: 40px;
		left: auto;
		right: auto;
	}

	& > tr > th
	{
		font:
		{
			size: 18px;
			weight: 700;
		}

		padding:
		{
			top: 20px;
			bottom: 30px;
		}
	}

	& > tr > td
	{
		font:
		{
			size: 15px;
			weight: 400;
		}
	}
}

#footer
{
	margin:
	{
		top: 40px;
		bottom: 20px;
	}

	color: map-get($COLORS, whiteTheme);
	letter-spacing: 0.1em;

	width: 100%;

	background-color: map-get($COLORS, blackTheme);

	border-collapse: collapse;

	& > tr > td
	{
		padding:
		{
			top: 20px;
			bottom: 20px;
		}

		font-family: Raleway, Times New Roman, Arial, sans-serif;

		&:first-of-type
		{
			width: 30%;
			padding-left: 20px;

			text-align: left;
			font-size: 16px;
		}

		&:last-of-type
		{
			width: 70%;
			padding-right: 20px;

			text-align: right;
			font-size: 14px;

			& > a:not(.telLink)
			{
				color: map-get($COLORS, blueTheme);
			}
		}
	}
}

.tableHeader
{
	font:
	{
		size: 15px;
		weight: 700;
		style: italic;
	}

	text-align: center;
}

.plainLabel
{
	font:
	{
		size: 12px;
		weight: 700;
	}
}

.specialLabel
{
	font:
	{
		size: 15px;
		weight: 700;
	}
}

.infoCell
{
	font:
	{
		size: 12px;
		weight: 400;
	}
}