/* ----------------------- IMPORTS ----------------------------- */

@import '../foundation/colors';
@import '../foundation/responsive';

/* ----------------------- GENERIC STYLES ----------------------------- */

table
{
	border-collapse: collapse;

	& > tr
	{
		width: 100%;

		& > td
		{
			line-height: 1.5em;
		}
	}
}

/* ----------------------- MIX-INS ----------------------------- */

/*
 * Functional mix-in responsible for setting generic borders around table cells
 *
 * @param [$top] - a flag that allows us to specify whether the cell should have a top-side border
 * @param [$right] - a flag that allows us to specify whether the cell should have a right-hand border
 * @param [$left] - a flag that allows us to specify whether the cell should have a left-hand border
 * @param [$bottom] - a flag that allows us to specify whether the cell should have a bottom-side border
 *
 * @author kinsho
 */
@mixin tabularBorder($top: true, $right: true, $left: true, $bottom: true)
{
	@if ($top)
	{
		border-top:
		{
			width: 1px;
			color: map-get($COLORS, blackTheme);
			style: solid;
		}
	}

	@if ($right)
	{
		border-right:
		{
			width: 1px;
			color: map-get($COLORS, blackTheme);
			style: solid;
		}
	}

	@if ($left)
	{
		border-left:
		{
			width: 1px;
			color: map-get($COLORS, blackTheme);
			style: solid;
		}
	}

	@if ($bottom)
	{
		border-bottom:
		{
			width: 1px;
			color: map-get($COLORS, blackTheme);
			style: solid;
		}
	}
}

/* ----------------------- EMAIL STYLES ----------------------------- */

.telLink
{
	color: map-get($COLORS, blackTheme);
	text-decoration: none;
	cursor: text !important;
}

#logoHeader
{
	background-color: map-get($COLORS, logoBlueTheme);

	text-align: center;
}

#emailContent
{
	text-align: center;
	width: 100%;

	font-family: Cardo, Raleway, Times New Roman, Arial, sans-serif;
}

#header
{
	margin:
	{
		top: 25px;
		bottom: 25px;
		left: auto;
		right: auto;
	}

	& > tr > th
	{
		font:
		{
			size: 18px;
			weight: 700;
		}

		padding:
		{
			top: 20px;
			bottom: 20px;
		}
	}

	& > tr > td
	{
		font:
		{
			size: 15px;
			weight: 400;
		}
	}
}

#footer
{
	margin:
	{
		top: 40px;
		bottom: 20px;
	}

	background-color: map-get($COLORS, blackTheme);
	color: map-get($COLORS, whiteTheme);
	letter-spacing: 0.1em;

	width: 100%;

	& > tr > td
	{
		padding:
		{
			top: 20px;
			bottom: 20px;
		}

		font-family: Raleway, Times New Roman, Arial, sans-serif;

		&:first-of-type
		{
			width: 30%;
			padding-left: 20px;

			text-align: left;
			font-size: 12px;
		}

		&:last-of-type
		{
			width: 70%;
			padding-right: 20px;

			text-align: right;
			font-size: 9px;

			& > a:not(.telLink)
			{
				color: map-get($COLORS, blueTheme);
			}
		}
	}
}

.tableHeader
{
	@include tabularBorder();

	font:
	{
		size: 15px;
		weight: 700;
		style: italic;
	}

	padding: 15px;

	text-align: center;

	background-color: map-get($COLORS, lightBlueTheme);
}

.plainLabel
{
	font:
	{
		size: 12px;
		weight: 700;
	}
}

.specialLabel
{
	font:
	{
		size: 15px;
		weight: 700;
	}
}

.infoCell
{
	font:
	{
		size: 12px;
		weight: 400;
	}
}