/* ----------------------- IMPORTS ----------------------------- */

@import '../email/email';

@import '../foundation/responsive';
@import '../foundation/colors';

/* ----------------------- STYLES ----------------------------- */

#receiptHeader
{
	@extend #header;

	td
	{
		margin:
		{
			top: 15px;
			bottom: 15px;
		}
	}
}