/* ----------------------- IMPORTS ----------------------------- */

@import '../email/email';

@import '../foundation/responsive';
@import '../foundation/colors';

/* ----------------------- STYLES ----------------------------- */

#orderRecap
{
	margin:
	{
		left: auto;
		right: auto;
	}

	width: 100%;

	& > tr > td
	{
		padding:
		{
			left: 20px;
			right: 20px;
		}

		vertical-align: top;

		&:first-child
		{
			width: 60%;
		}

		&:last-child
		{
			width: 40%;
		}
	}
}

#orderDetails
{
	width: 100%;

	.plainLabel, .infoCell
	{
		padding:
		{
			top: 10px;
			bottom: 10px;
		}

		width: 50%;
		text-align: center;
	}

	.plainLabel
	{
		@include tabularBorder($top: false, $right: false, $bottom: false);
	}

	.infoCell
	{
		@include tabularBorder($top: false, $left: false, $bottom: false);
	}
}

#totalPriceRow
{
	background-color: map-get($COLORS, lightGrayTheme);

	& > td
	{
		padding:
		{
			top: 20px;
			bottom: 20px;
		}

		@include tabularBorder();
	}
}

#installationAddress
{
	width: 100%;

	td
	{
		font:
		{
			size: 15px;
			weight: 400;
		}

		padding:
		{
			top: 10px;
			bottom: 10px;
		}

		width: 100%;
		text-align: center;
	}
}

#addressCell, #aptSuiteNumberCell
{
	@include tabularBorder($top: false, $bottom: false);
}

#cityStateCell
{
	@include tabularBorder($top: false);
}