<div class='pageHeader'>
	<h3>Gallery</h3>
	<div class='headerUnderline'></div>
</div>

<div id='galleryCollection'>
	{{#pictures}}
		<span>
            <img src='{{path}}' class='galleryPicture' />
        </span>
	{{/pictures}}
</div>

{{> gallery }}