<div class='pageHeader'>
	<h3>Gallery</h3>
	<div class='headerUnderline'></div>
</div>

<div id='galleryCollection'>
	{{#pictures}}
		<span class='pictureHolder'>
            <img src='{{url}}' class='galleryPicture' />
			<span class='indexBubble'>{{index}}</span>
        </span>
	{{/pictures}}
</div>

{{> gallery }}