/* ----------------------- IMPORTS ----------------------------- */

@import '../foundation/multitext';

/* ----------------------- STYLES ----------------------------- */

#areaCode, #phoneOne, #phoneTwo
{
	width: 100px;
}

#areaCode
{
	margin:
	{
		left: 10px;
		right: 10px;
	}
}

#phoneOne
{
	margin:
	{
		left: 10px;
		right: 10px;
	}
}

#customerName, #companyName
{
	width: 350px;
}

#emailMultitext
{
	width: 500px;
}