/* ----------------------- IMPORTS ----------------------------- */

@import '../foundation/colors';
@import '../foundation/fonts';

/* ----------------------- STYLES ----------------------------- */

#submissionSection
{
	padding:
	{
		top: 50px;
		bottom: 30px;
	}

	display: flex;
	align-items: center;
	justify-content: center;
}

#saveButton, #tempButton
{
	margin:
	{
		left: 50px;
		right: 50px;
	}

	width: 300px;
}

#tempButton
{
	background-color: map-get($COLORS, darkGreenTheme);
}

#designErrorsSection
{
	border:
	{
		width: 0.75px;
		style: solid;
		color: map-get($COLORS, redTheme);
		radius: 10px;
	}

	margin:
	{
		left: auto;
		right: auto;
	}

	width: 80%;

	& > li
	{
		@extend %errorText;

		margin:
		{
			top: 10px;
			bottom: 10px;
		}

		text-align: left;
	}
}