/* ----------------------- IMPORTS ----------------------------- */

@import '../foundation/general';
@import '../foundation/form';
@import '../foundation/responsive';

/* ----------------------- STYLES ----------------------------- */

#adminLogInSection
{
	margin:
	{
		top: 20px;
	}

	& > .formRow
	{
		margin:
		{
			left: 0px;
			top: 0px;
			bottom: 0px;
		}

		display: flex;
		justify-content: center;

		@include tabletUp()
		{
			padding:
			{
				top: 15px;
				bottom: 15px;
			}
		}
	}
}

.fixedLabel
{
	width: 125px;
}

.controlGrouping
{
	display: flex;
	align-items: center;

	& > label
	{
		text-align: center;
	}
}

#userName, #password
{
	@include phoneOnly()
	{
		margin:
		{
			top: 10px;
			bottom: 10px;
		}

		width: 160px;
	}
}

#adminSubmissionButton
{
	margin:
	{
		top: 15px;
		left: auto;
		right: auto;
	}

	@include tabletUp()
	{
		width: 20%;
	}

	@include phoneOnly()
	{
		width: 40%;
	}
}