/* ----------------------- STYLES ----------------------------- */

#pricePerFoot, #additionalPrice, #deductions
{
	margin-left: 10px;

	width: 150px;
}

.otherTextfield
{
	margin-left: 15px;

	display: none;

	&.show
	{
		display: inline-block;
	}
}