<div id='closingAgreementSection'>

	<p>
		Your reception of this document indicates that you have acknowledged that the job is completely fulfilled and
		that you will or have paid the rest of the balance left on your order either by cash, check, or credit card.
	</p>

	<p>Thank you for your business!</p>

</div>