<div id='closingAgreementSection'>

	<p>
		In signing this document, you acknowledge that the job is completely fulfilled and that you have paid the
		rest of	the balance left on your order either by cash, check, or credit card. Note that you are only allowed
		to pay by credit card if and only if you placed the initial deposit through credit card.
	</p>

	<p>Thank you for your business!</p>

</div>