<div id='dateSection'>
	<div class='fieldSet'>
		<span class='fieldLabel'>Date of Proposal:</span>
		<span class='textBox'></span>
	</div>
	<p>
		Metro Railings holds the right to withdraw this proposal if it has not been signed within 7 days of the date
		of proposal.
	</p>
</div>