<div id='invoice'>

	<div id='invoiceHeader'>
		<span>ORDER DETAILS</span>
	</div>

	<div id='invoiceBody'>

		<div>
			<span class='invoiceSectionHeader'>- Amount of Railing Needed -</span>
			<span class='textField'><span class='numberBox'></span> linear feet of railing</span>
		</div>

		<div>
			<span class='invoiceSectionHeader'>- Post Design -</span>
			<span class='descriptionField'></span>
		</div>

		<div>
			<span class='invoiceSectionHeader'>- Other Design Information -</span>
			<span class='descriptionField'></span>
		</div>

		<div>
			<span class='invoiceSectionHeader'>- Additional Features -</span>
			<span class='descriptionField'></span>
		</div>

		<div>
			<span class='invoiceSectionHeader'>- Notes -</span>
			<span class='descriptionField'></span>
		</div>

	</div>

	<div id='invoiceFooter'>
		<span class='keyCell'>Order Total: </span>
		<span></span>
	</div>

</div>