<div id='invoice'>

	<div id='invoiceHeader'>
		<span>PRODUCT / OPTIONS</span>
		<span>UNIT PRICE</span>
		<span class='keyCell'>TOTAL PRICE</span>
	</div>

	<div id='invoiceBody'>

		<div>
			<span id='lengthOfRailing'><span class='numberBox'></span> feet of railing</span>
			<span></span>
			<span></span>
		</div>

		<div>
			<span>Railings Type: </span>
			<span></span>
			<span></span>
		</div>

		<div>
			<span>Post Design: </span>
			<span></span>
			<span></span>
		</div>

		<div>
			<span>Color: </span>
			<span></span>
			<span></span>
		</div>

		<div>
			<span id='designCell'>
				<div>Designs</div>
				<div></div>
			</span>
			<span></span>
			<span></span>
		</div>

	</div>

	<div id='invoiceFooter'>
		<span class='keyCell'>Order Total: </span>
		<span></span>
	</div>

</div>