<img id='companyLogo' src='client/images/logo/png/dark_logo_transparent_background_small_narrow.png' />

<div id='idBox'>
	<span>Order ID</span>
	<span>
		{{#if order._id}}
			{{order._id}}
		{{/if}}
	</span>
</div>

<div id='companyInfo'>
	{{#each companyInfo}}
		<div class='infoBlock'>
			{{{ this }}}
		</div>
	{{/each}}
</div>

{{#unless closing}}
	{{> paperOrderRailingsInvoice }}
{{/unless}}

{{#if closing}}
	{{> paperOrderClosingTerms }}
{{else}}
	{{> paperOrderTermsOfAgreement }}
{{/if}}

{{#unless closing}}
	{{> paperOrderDateOfInvoice }}
{{/unless}}

{{> paperOrderPersonalInfo }}

{{#if closing}}
	{{> paymentHistorySection }}
{{/if}}
{{#if closing}}
	{{> paperOrderTip }}
{{/if}}

{{> paperOrderSignature }}