<div id='personalInfoSection'>

	<div>
		<span class='fieldSet'>
			<span class='fieldLabel'>Customer Name:</span>
			<span id='nameField' class='textBox'></span>
		</span>
	</div>

	<div>
		<span class='fieldSet'>
			<span class='fieldLabel'>E-mail Address:</span>
			<span id='emailField' class='textBox'></span>
		</span>

		<span class='fieldSet'>
			<span class='fieldLabel'>Phone Number:</span>
			<span id='phoneField' class='textBox'></span>
		</span>
	</div>

	<div>
		<span class='fieldSet'>
			<span class='fieldLabel'>Installation Address:</span>
			<span id='installationAddressField' class='textBox'></span>
		</span>
	</div>

</div>