<div id='signatureSection'>

	<div class='signatureRow'>
		<span class='label'>Authorized Representative Name (Print)</span>
		<span class='label'>Authorized Representative Signature</span>
		<span class='label'>Date</span>
	</div>

	<div class='signatureRow'>
		<span class='signatureBox'>Rickin Shah</span>
		<span id='repSignature' class='signatureBox'>Rickin Shah</span>
		<span class='signatureBox'>{{ currentDate }}</span>
	</div>

</div>