<div id='tipSection'>

	<p>
		Our installers work hard aligning and setting your railings in place while making sure to protect the
		railings from any sort of damage during the process. A little tip goes a long way in showing your
		appreciation for their hard work!
	</p>

</div>