<div id='tipSection'>

	<p>
		Our installers work hard aligning and setting your railings in place while making sure to protect the
		railings from any sort of damage during the process. A little tip goes a long way in showing your
		appreciation for their hard work!
	</p>

	<p>
		Please put in a tip in the field below only if you plan on tipping by credit card. Otherwise, just pay our
		guys their tips in cash.
	</p>

	<div>
		<span id='tipField' class='fieldSet'>
			<span class='fieldLabel'>Tip for Installers:</span>
			<span class='numberBox'></span>
		</span>
	</div>

</div>