/* ----------------------- IMPORTS ----------------------------- */

@import '../foundation/colors';
@import '../foundation/fonts';
@import '../foundation/general';
@import '../foundation/form';
@import '../foundation/convention';
@import '../foundation/responsive';
@import '../foundation/animations';
@import '../foundation/optionPicker';

/* ----------------------- STYLES ----------------------------- */

#languageSelection
{
	display: none;
}

.drInstructionalText
{
	@extend %regularPlusText;

	text-align: center;
}

#drCustomerDetails, #drRailingsDetails, #drMiscellaneousDetails, #submissionSection
{
	display: block;
}

#submissionSection
{
	margin-bottom: 25px;
}

.dataGroupingII
{
	@extend %regularText;

	margin:
	{
		top: 20px;
		bottom: 20px;
		left: 15px;
		right: 15px;
	}

	display: flex;
	align-items: center;
	justify-content: flex-start;
	flex: 1;

	@include phoneOnly()
	{
		flex-direction: column;
	}

	input, select
	{
		margin-right: 0px;
	}
}

.rowGrouping
{
	display: flex;
	justify-content: center;
	align-items: center;
}

.rowColumnGrouping
{
	display: flex;
	justify-content: center;
	align-items: center;

	@include phoneOnly()
	{
		flex-direction: column;
	}
}

.specializedLabel
{
	@extend %formLabelText;

	@include tabletUp()
	{
		width: 140px;

		margin-right: 20px;
		text-align: right;
	}

 	@include phoneOnly()
	{
		width: 120px;

		text-align: center;
	}
}

#submitButton
{
	@include button($bgColor: darkBlueTheme);

	width: 300px;
}