<div id='zipCodeSection'>
	<div class='controlGrouping'>
		<label for='zipCode'>Project Zip Code</label>
		<input type='tel' id='zipCode' maxlength='5' placeholder='#####' />
	</div>
	<div id='submissionSection'>
		<button id='submissionButton'>Get Pricing</button>
	</div>
</div>