{{> bannerSection }}

<div class='pageHeader'>
	<h3>Contractor Pricing Guide</h3>
	<div class='headerUnderline'></div>
</div>

<p id='instructionText'>
	Over here, you will get a great idea of the type of pricing you'd be looking at. Just put in your zip code and
	we'll generate pricing unique to that particular zip code. Keep in mind that while this pricing is NOT exact, it
	will apply in 95% of all cases.
</p>

{{> clientInput }}

<div id='pricingTable'>
	<!-- Insert the pricing chart here -->
</div>

<script id='pricingTemplate' type='text/x-handlebars-template'>
	{{{ pricingTemplate }}}
</script>