/* ----------------------- IMPORTS ----------------------------- */

@import '../foundation/fonts';

/* ----------------------- STYLES ----------------------------- */

#enclosureHelp, #stairsHelp
{
	margin:
	{
		top: 10px;
		bottom: 30px;
	}
}

#enclosureTitle
{
	@extend %smallSignificantText;
}