/* ----------------------- IMPORTS ----------------------------- */

/* ----------------------- STYLES ----------------------------- */

#submissionButton
{
	margin:
	{
		top: 25px;
		bottom: 25px;
		left: auto;
		right: auto;
	}

	width: 360px;

	& > i
	{
		margin:
		{
			left: 15px;
			right: 5px;
		}
	}
}