/* ----------------------- IMPORTS ----------------------------- */

@import '../foundation/fonts';
@import '../foundation/responsive';

/* ----------------------- STYLES ----------------------------- */

#roundingSpecialMessage
{
	margin:
	{
		top: 10px;
		bottom: 20px;
	}
}

#lengthInputs
{
	margin: 15px;

	display: flex;
	align-items: center;
	justify-content: center;

	letter-spacing: 0.5px;

	& > input
	{
		width: 80px;
	}

	& > input, & > span
	{
		@extend %significantText;

		margin:
		{
			top: 10px;
			bottom: 10px;
		}

		@include tabletUp()
		{
			margin:
			{
				left: 10px;
				right: 10px;
			}
		}

		@include phoneOnly()
		{
			margin:
			{
				left: 5px;
				right: 5px;
			}
		}
	}
}

#toKeyword
{
	margin:
	{
		left: 15px;
		right: 15px;
	}
}