<div class='noteRecord'>
	<span class='noteMetadata'>
		<div class='noteDate'>
			{{#format_date date}}{{/format_date}}
		</div>
		<div class='noteTime'>
			{{#format_time date}}{{/format_time}}
		</div>
		<div class='noteAuthor'>
			{{ author }}
		</div>
	</span>
	<span class='noteCell translate'>{{{ text }}}</span>
</div>