<div class='noteListing'>
    {{> newNote _id=order._id category='new' type='note' assignTo=users.current assignFrom=users.current }}

	<div class='noteRecordContainer'>
		{{#if notes.length}}
			{{#each notes}}
				{{> noteRecord this}}
			{{/each}}
		{{/if}}
	</div>
</div>