<div class='noteListing'>
    {{> newNote _id=order._id category='new' assignFrom=users.current }}

	{{#if notes.length}}
        {{#each notes}}
            {{> noteRecord this}}
        {{/each}}
    {{/if}}
</div>