<div class='noteListing'>
    {{> newNote _id=order._id category='new' type='note' assignTo=users.current assignFrom=users.current }}

	<div class='noteRecordContainer'>
		{{#unless doNotLoadNotes}}
			{{#if order.notes.length}}
				{{#each order.notes}}
					{{> noteRecord this}}
				{{/each}}
			{{/if}}
		{{/unless}}
	</div>
</div>

{{#if doNotLoadNotes}}
	{{#if order.notes.length}}
		<div class='loadNotesLink' data-id='{{ order._id }}'>Load All Notes...</div>
	{{/if}}
{{/if}}