/* ----------------------- IMPORTS ----------------------------- */

@import '../foundation/general';
@import '../foundation/fonts';
@import '../foundation/form';
@import '../foundation/responsive';
@import '../foundation/colors';

/* ----------------------- STYLES ----------------------------- */

#orderFilter
{
	border-top:
	{
		style: solid;
		width: 2px;
		color: map-get($COLORS, blackTheme);
	}
}

#stateFilter, #generalFilter, #companyFilter, #searchFilter
{
	margin: 25px;

	display: flex;
	align-items: center;
	justify-content: flex-start;
}

.filterHeader
{
	@extend %formLabelText;

	margin:
	{
		right: 25px;
	}

	width: 200px;
	text-align: right;
}

#stateFilter, #generalFilter
{
	& > span:not(:first-of-type)
	{
		@extend %regularLinkText;

		display: flex;
		align-items: center;
		justify-content: center;

		cursor: pointer;

		&.selected
		{
			@extend %regularText;

			color: map-get($COLORS, blackTheme);
			font-weight: 700;

			text-decoration: underline;
			cursor: default;
		}

		&::after
		{
			content: '|';

			padding:
			{
				left: 20px;
				right: 20px;
			}

			font-size: map-get($FONTS, largePlusFontSize);
			font-weight: 200;
			color: map-get($COLORS, blackTheme);

			cursor: default;
		}
	}

	& > span:last-of-type
	{
		&::after
		{
			content: '';

			margin: 0px;
		}
	}
}

#resetSearch, #resetCompany
{
	visibility: hidden;

	&.reveal
	{
		visibility: visible;
	}
}

#resetCompany
{
	margin-left: -40px;

	cursor: pointer;

	color: map-get($COLORS, slateGrayTheme);
}

#companySelector
{
	width: 400px;
}