/* ----------------------- IMPORTS ----------------------------- */

@import '../foundation/general';
@import '../foundation/fonts';
@import '../foundation/form';
@import '../foundation/responsive';
@import '../foundation/colors';
@import '../foundation/modal';
@import '../foundation/adminOnly';
@import '../foundation/notes';
@import '../foundation/fileUpload';

/* ----------------------- STYLES ----------------------------- */

#buttonSection
{
	border-top:
	{
		style: solid;
		width: 2px;
		color: map-get($COLORS, blackTheme);
	}

	padding:
	{
		left: 10px;
		right: 10px;
	}

	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	width: 100%;
}

#orderCreationButton, #prospectCreationButton
{
	@include button($bgColor: darkGreenTheme);

	margin:
	{
		top: 25px;
		bottom: 25px;
		left: 15px;
		right: 15px;
	}

	width: auto;

	text-decoration: none;

	& > i
	{
		margin-left: 10px;
	}
}

#refreshOrdersLink
{
	@extend %regularLinkText;

	margin:
	{
		top: 20px;
		bottom: 20px;
	}

	width: 100%;
	text-align: center;

	cursor: pointer;

	& > i
	{
		margin-right: 5px;
	}

	&:hover
	{
		text-decoration: underline;
	}
}

#prospectCreationButton
{
	background-color: map-get($COLORS, darkBlueTheme);
}