<div class='pageHeader'>
	<h3>Create Custom Order</h3>
	<div class='headerUnderline'></div>
</div>

<p id='instructionText'>
	Use this form to create a custom order that will then generate an agreement for the customer to sign as well as
	a record in our system.
</p>

{{> customOrderCustomerSection }}

{{> customOrderLocationSection }}

{{> customOrderRailingsSection }}

{{> saveCustomOrderButton }}