<div id='railingsSection'>

	<div class='dataGrouping'>
		<span class='specializedLabel'>
		    Order Type
		</span>
		<select id='orderType'>
			<option value='' disabled>Select a type...</option>
			<option value='stairs'>Stairs</option>
			<option value='deck'>Deck</option>
		</select>
	</div>

	<div class='dataGrouping'>
		<span class='specializedLabel'>
		    Order Length
		</span>
		<input type='tel' id='orderLength' />
		<span class='hint hint--right hint--always' data-hint=''></span>
	</div>

	<div class='dataGrouping'>
		<span class='specializedLabel'>
		    Post Design
		</span>
		<select id='orderPost'>
			<option value='' disabled>Select...</option>
			<option value='P-BPC'>Colonial Big Post</option>
			<option value='P-SP'>Standard Small Post</option>
		</select>
	</div>

	<div class='dataGrouping'>
		<span class='specializedLabel'>
		    Post End Design
		</span>
		<select id='orderPostEnd'>
			<option value=''>None</option>
			<option value='PE-VOL'>Volute</option>
			<option value='PE-LT'>Lamb's Tongue</option>
			<option value='PE-SCRL'>Scroll</option>
		</select>
	</div>

	<div class='dataGrouping'>
		<span class='specializedLabel'>
		    Post Cap Design
		</span>
		<select id='orderPostCap'>
			<option value=''>None</option>
			<option value='PC-BALL'>Ball</option>
			<option value='PC-SQ'>Square</option>
		</select>
	</div>

	<div class='dataGrouping'>
		<span class='specializedLabel'>
		    Center Design
		</span>
		<select id='orderCenterDesign'>
			<option value='CD-NONE'>None needed</option>
			<option value='CD-SC'>S/C Scrolls</option>
			<option value='CD-DHRT'>Hearts</option>
			<option value='CD-GALE'>Gale</option>
			<option value='CD-SNC'>Scroll & Collar</option>
		</select>
	</div>

	<div class='dataGrouping'>
		<span class='specializedLabel'>
		    Color
		</span>
		<select id='orderColor'>
			<option value='' disabled>Select a color...</option>
			<option value='white'>White</option>
			<option value='black'>Black</option>
			<option value='silver'>Silver</option>
			<option value='mahogany'>Mahogany</option>
		</select>
	</div>

	<div class='dataGrouping'>
		<span class='specializedLabel'>
		    Custom Features
		</span>
		<textarea id='customFeatures' class='optionalField'></textarea>
	</div>

	<div class='dataGrouping'>
		<span class='specializedLabel'>
		    Price per Foot
		</span>
		$<input type='tel' id='pricePerFoot' />
		<span class='hint hint--right hint--always' data-hint=''></span>
	</div>

	<div class='dataGrouping'>
		<span class='specializedLabel'>
			Total Price for Custom Features
		</span>
		$<input type='tel' id='customPrice' class='optionalField' />
		<span class='hint hint--right hint--always' data-hint=''></span>
	</div>
</div>