<div id='orderSpecifics'>

	<div class='dataGrouping'>
		<span class='specializedLabel'>
		    Order Type
		</span>
		<select id='orderType'>
			<option value='' disabled>Select a type...</option>
			<option value='stairs'>Stairs</option>
			<option value='deck'>Deck</option>
		</select>
	</div>

	<div class='dataGrouping'>
		<span class='specializedLabel'>
		    Order Length
		</span>
		<input type='tel' id='orderLength' />
		<span class='hint hint--right hint--always' data-hint=''></span>
	</div>

	<div class='dataGrouping'>
		<span class='specializedLabel'>
		    Post Design
		</span>
		<select id='orderPost'>
			<option value='' disabled>Select...</option>
			<option value='BPC'>Colonial Big Post</option>
			<option value='SP'>Standard Small Post</option>
		</select>
	</div>

	<div class='dataGrouping'>
		<span class='specializedLabel'>
		    Post End Design
		</span>
		<select id='orderPostEnd'>
			<option value='' disabled>Select...</option>
			<option value='VOL'>Volute</option>
			<option value='LT'>Lamb's Tongue</option>
			<option value='SCRL'>Scroll</option>
		</select>
	</div>

	<div class='dataGrouping'>
		<span class='specializedLabel'>
		    Post Cap Design
		</span>
		<select id='orderPostCap'>
			<option value='' disabled>Select...</option>
			<option value='BALL'>Ball</option>
			<option value='SQ'>Square</option>
			<option value='MIX'>Mixed</option>
		</select>
	</div>

	<div class='dataGrouping'>
		<span class='specializedLabel'>
		    Center Design
		</span>
		<select id='orderCenterDesign'>
			<option value='NONE'>None needed</option>
			<option value='SC'>S/C Scrolls</option>
			<option value='HRT'>Hearts</option>
			<option value='RHRT'>Reverse Hearts</option>
			<option value='DIA'>Diamonds</option>
			<option value='TLP'>Tulip</option>
			<option value='GALE'>Gale</option>
		</select>
	</div>

	<div class='dataGrouping'>
		<span class='specializedLabel'>
		    Color
		</span>
		<select id='orderColor'>
			<option value='' disabled>Select a color...</option>
			<option value='white'>White</option>
			<option value='black'>Black</option>
			<option value='silver'>Silver</option>
			<option value='mahogany'>Mahogany</option>
		</select>
	</div>

	<div class='dataGrouping'>
		<span class='specializedLabel'>
		    Custom Features
		</span>
		<textarea id='customFeatures'></textarea>
	</div>

	<div class='dataGrouping'>
		<span class='specializedLabel'>
		    Price per Foot
		</span>
		$<input type='tel' id='pricePerFoot' />
		<span class='hint hint--right hint--always' data-hint=''></span>
	</div>

	<div class='dataGrouping'>
		<span class='specializedLabel'>
			Total Price for Custom Features
		</span>
		$<input type='tel' id='customPrice' />
		<span class='hint hint--right hint--always' data-hint=''></span>
	</div>
</div>