<div class='pageHeader'>
	<h3>Why Tariffs?</h3>
	<div class='headerUnderline'></div>
</div>

<div id='tariffPage'>

	<div id='twoColumnSection'>
		<p>
			Ever since the Trump administration began enacting tariffs on aluminum and steel back in March, we've seen
			our material costs rise steadily. We held out from raising prices in the hopes that the Trump administration
			would strike deals with our trade partners and back down from the tariffs.
			<br />
			<span class='highlightedText'>Instead, we're seeing redoubled commitment towards these tariffs, and pricesare 
				still at elevated levels.</span>
		</p>
	
		<div id='aluminumPriceChartSection'>
			<img src='client/images/miscellany/aluminumPriceChart.png' />
			<span>A chart demonstrating the rise in aluminum prices over the last year</span>
		</div>
	</div>

	<p>
		After talking with our suppliers, we're having a hard time staying optimistic about the current situation. So
		in order to adjust to the new economic realities, we've begun raising prices. But we want to make sure we 
		raise prices in a way so that you fully understand just how much these tariffs will be impacting our 
		customers at any given moment in time.
	</p>

	<p>
		So that's why we make it a point to separate out the effects of the tariff on the final price. If you want to
		see more infomation about the effects of these tariffs, then click <a href='https://www.bloomberg.com/news/articles/2018-05-31/trump-s-new-tariffs-anger-u-s-manufacturers-and-business-groups'>here.</a>
	</p>
</div>