/* ----------------------- IMPORTS ----------------------------- */

/* ----------------------- STYLES ----------------------------- */

#submissionSection
{
	padding:
	{
		top: 50px;
		bottom: 30px;
	}
}

#estimateSubmissionButton
{
	margin:
	{
		left: auto;
		right: auto;
	}

	width: 270px;
}