<div id='agreementSection'>

	<div class='dataGrouping'>
		<span class='specializedLabel'>Agreement</span>
		<textarea id='agreement'>{{ agreement }}</textarea>
	</div>
	<div class='centeredDescriptiveText'>
		Use <a class='regularLink spaceBeforeAndAfter' href='https://www.markdownguide.org/basic-syntax'>Markdown</a>
		semantics whenever you have to edit the agreement text above.
	</div>

</div>