<div class='pageHeader'>
	<h3>Create an Invoice</h3>
	<div class='headerUnderline'></div>
</div>

<p id='instructionText'>
	Use this form to create an invoice that can be sent to the customer.
</p>

{{> orderCustomer }}

{{> orderLocation }}

{{> orderType }}

{{> orderBaseDesign }}

{{> orderPicketDesign }}

{{> orderAdvancedDesign }}

{{> orderCableDesign }}

{{> orderGlassDesign }}

{{> orderLogistics }}

{{> orderMoney }}

{{> orderAgreement }}

{{> saveOrderButton }}

{{> actionModal }}

<script id='depositModalTemplate' type='text/x-handlebars-template'>
	{{{ depositModal }}}
</script>