<div class='pageHeader'>
	<h3>Create an Invoice</h3>
	<div class='headerUnderline'></div>
</div>

<p id='instructionText'>
	Use this form to create an invoice that can be sent to the customer.
</p>

{{> createQuoteCustomer }}

{{> createQuoteLocation }}

{{> createQuoteType }}

{{> createQuoteBaseDesign }}

{{> createQuoteAdvancedDesign }}

{{> createQuoteCableDesign }}

{{> createQuoteGlassDesign }}

{{> createQuoteLogistics }}

{{> createQuoteExternalCharges }}

{{> createQuoteAgreement }}

{{> saveInvoiceButton }}