<div id='externalChargesSection'>

	<div class='dataGrouping'>
		<span class='specializedLabel'>
			Order Subtotal
		</span>
		<span id='orderSubtotalDisplay' class='staticValue'>0.00</span>
	</div>

	<div class='dataGrouping'>
		<span class='specializedLabel'>
			Apply Taxes ({{ taxRate }}%)?
		</span>
		<span id='applyTaxesButtonSet' class='buttonSet'>
			<input type='radio' id='applyTaxYes' name='applyTax' value='true' checked='checked' />
			<label for='applyTaxYes'>Yes</label>
			<input type='radio' id='applyTaxNo' name='applyTax' value='' />
			<label for='applyTaxNo'>No</label>
		</span>
		<span id='orderTaxDisplay' class='staticValue'>0.00</span>
	</div>

	<div class='dataGrouping'>
		<span class='specializedLabel'>
			Apply Tariff Charge ({{ tariffRate }}%)?
		</span>
		<span id='applyTariffButtonSet' class='buttonSet'>
			<input type='radio' id='applyTariffYes' name='applyTariff' value='true' checked='checked' />
			<label for='applyTariffYes'>Yes</label>
			<input type='radio' id='applyTariffNo' name='applyTariff' value='' />
			<label for='applyTariffNo'>No</label>
		</span>
		<span id='orderTariffDisplay' class='staticValue'>0.00</span>
	</div>

</div>