<div id='logisticsSection'>

	<div class='dataGrouping'>
		<span class='specializedLabel'>
			Cover Plates?
		</span>
		<span id='coverPlatesButtonSet' class='buttonSet'>
			<input type='radio' class='yesRadio' id='coverPlatesYes' name='coverPlates' value='y' />
			<label for='coverPlatesYes'>Yes</label>
			<input type='radio' class='noRadio' id='coverPlatesNo' name='coverPlates' value='' />
			<label for='coverPlatesNo'>No</label>
		</span>
	</div>

	<div class='dataGrouping'>
		<span class='specializedLabel'>
			Platform Type
		</span>
		<select id='orderPlatformType'>
			<option value='' disabled>Select a platform type...</option>
			<option value='earth'>Earth</option>
			<option value='concrete'>Concrete</option>
			<option value='tile'>Tile</option>
			<option value='wood'>Wood</option>
			<option value='limestone'>Limestone</option>
			<option value='sheetrock'>Sheetrock</option>
			<option value='brick'>Brick</option>
			<option value='granite'>Granite</option>
			<option value='rebar'>Rebar</option>
		</select>
	</div>

	<div class='dataGrouping'>
		<span class='specializedLabel'>
		    Order Length (feet)
		</span>
		<input type='tel' id='orderLength' />
		<span class='hint hint--right hint--always' data-hint=''></span>
	</div>

	<div class='dataGrouping'>
		<span class='specializedLabel'>
		    Finished Height (inches)
		</span>
		<input id='finishedHeight' type='tel' />
	</div>

	<div class='dataGrouping'>
		<span class='specializedLabel'>
		    Price per Foot
		</span>
		$<input type='tel' id='pricePerFoot' />
		<span class='hint hint--right hint--always' data-hint=''></span>
	</div>

	<div class='dataGrouping'>
		<span class='specializedLabel'>
		    Additional Features
		</span>
		<textarea id='additionalFeatures' class='optionalField'></textarea>
	</div>

	<div class='dataGrouping'>
		<span class='specializedLabel'>
			Total Price for Additional Features
		</span>
		$<input type='tel' id='additionalPrice' class='optionalField' />
		<span class='hint hint--right hint--always' data-hint=''></span>
	</div>

	<div class='dataGrouping'>
		<span class='specializedLabel'>
			Deductions
		</span>
		$<input type='tel' id='deductions' class='optionalField' />
		<span class='hint hint--right hint--always' data-hint=''></span>
	</div>

	<div class='dataGrouping'>
		<span class='specializedLabel'>
			Order Description
		</span>
		<textarea id='description'></textarea>
	</div>

</div>