<div id='picketSection'>

	<div class='dataGrouping'>
		<span class='specializedLabel'>
		    Picket Size
		</span>
		<select id='orderPicketSize'>
			<option value='' disabled>Select...</option>
			{{#each designs.picketSizes}}
				<option value='{{ this.id }}'>{{ this.label }}</option>
			{{/each}}
		</select>
	</div>

	<div class='dataGrouping'>
		<span class='specializedLabel'>
			Picket Styling
		</span>
		<select id='orderPicketStyle'>
			<option value='' disabled selected>Select...</option>
			{{#each designs.picketStyles}}
				<option value='{{ this.id }}'>{{ this.label }}</option>
			{{/each}}
		</select>

		<input id='picketStyleNotes' type='text' class='noteTextfield' placeholder='Leave here any notes on the way the pickets need to be styled...'/>
	</div>

</div>