<div id='submissionSection'>
	<button id='saveButton' class='navButton'>Save New Quote</button>
</div>

<div id='designErrorsContainer'><!-- Design validation error messages will go here --></div>

<script id='designErrorsTemplate' type='text/x-handlebars-template'>
	{{{ designErrorsTemplate }}}
</script>