<div id='addressSection'>

	<div class='sectionHeadline'>Installation Address</div>

	<div id='addressRow' class='formRow'>
        <span class='controlGrouping'>
            <label for='streetAddress' class='required'>Street Address</label>
            <input type='text' id='streetAddress' value='{{ order.customer.address}}'
				   {{#unless_cond order.status 'pending'}} disabled {{/unless_cond}} />
        </span>
		<span class='controlGrouping'>
            <label for='aptSuiteNumber'>Apt. / Suite</label>
            <input type='text' id='aptSuiteNumber' value='{{ order.customer.aptSuiteNumber }}'
				{{#unless_cond order.status 'pending'}} disabled {{/unless_cond}} />
        </span>
	</div>

	<div id='cityStateRow' class='formRow'>
        <span class='controlGrouping'>
            <label for='city' class='required'>City / Town</label>
            <input type='text' id='city' value='{{ order.customer.city}}'
				   {{#unless_cond order.status 'pending'}} disabled {{/unless_cond}} />
        </span>
		<span class='controlGrouping'>
            <label for='state' class='required'>State</label>
            <select id='state' {{#unless_cond order.status 'pending'}} disabled {{/unless_cond}} >
                <option value='' selected='selected' disabled>Select a state...</option>
                <option value='NJ' {{#if_cond order.customer.state 'NJ'}} selected {{/if_cond}}>New Jersey</option>
                <option value='NY' {{#if_cond order.customer.state 'NY'}} selected {{/if_cond}}>New York</option>
                <option value='PA' {{#if_cond order.customer.state 'PA'}} selected {{/if_cond}}>Pennsylvania</option>
            </select>
        </span>
		<span class='controlGrouping'>
            <label for='addressZipCode'>Zip Code</label>
            <input type='tel' id='addressZipCode' maxlength='5' placeholder='#####' value='{{ order.customer.zipCode}}'
				   {{#unless_cond order.status 'pending'}} disabled {{/unless_cond}} />
        </span>
	</div>

	{{#if_cond order.status 'pending'}}
		<div class='subtleHeadsUp'>
			* indicates that the field is required to be filled out
		</div>
	{{/if_cond}}

</div>