<div id='agreementSection'>

	<p>
		By approving this order, you agree to the statements outlined below. Please take a few minutes to read the
		statements below and confirm that you agree to them by checking off the box underneath the statements. Then
		we can proceed with the approval.
	</p>

	<ul>
		{{#each order.agreement }}
			<li>{{ this }}</li>
		{{/each}}
	</ul>

	<span class='regularRadioInput'>
	    <input id='agreedToTerms' type='radio' name='agreedToTerms' value='y'/>
	    <label id='agreedText' for='agreedToTerms'>I agree to the terms stated above.</label>
	</span>

</div>