<div id='orderInvoiceHeader'>
	<div>
		<img id='companyLogo' src='client/images/logo/png/dark_logo_transparent_background_small_narrow.png' />
	</div>
	<div>
		{{#each companyInfo}}
			<div class='infoBlock'>
				{{{ this }}}
			</div>
		{{/each}}
	</div>
</div>