<div id='adminOrdersButton'>
	<i class='fa fa-arrow-circle-left'></i>Back to Orders Page
</div>

<div class='pageHeader'>
	<h3>Order Summary & Invoice</h3>
	<div class='headerUnderline'></div>
</div>

{{> orderInvoiceRailingsInvoice }}

{{> orderInvoiceTermsOfAgreement }}

{{> orderInvoicePersonalInfoSection }}

{{> orderInvoiceAddressSection }}

{{#if_cond order.status 'pending'}}
	{{> orderInvoicePaymentSection }}
{{/if_cond}}

{{#if_cond order.status 'pending'}}
	{{> orderInvoiceSubmissionSection }}
{{/if_cond}}