/* ----------------------- IMPORTS ----------------------------- */

@import '../foundation/colors';
@import '../foundation/fonts';
@import '../foundation/responsive';

/* ----------------------- STYLES ----------------------------- */

#orderInvoiceHeader
{
	margin:
	{
		top: 20px;
		bottom: 40px;
	}

	& > div
	{
		display: flex;
		justify-content: center;
		align-items: center;
	}
}

#companyLogo
{
	max-width: 230px;
	max-height: 230px;

	margin-bottom: 15px;
}

.infoBlock
{
	@extend %regularText;

	line-height: 28px;
	flex: 1;

	& > b
	{
		text-decoration: underline;
	}
}