/* ----------------------- IMPORTS ----------------------------- */

@import '../foundation/colors';
@import '../foundation/fonts';
@import '../foundation/responsive';

/* ----------------------- STYLES ----------------------------- */

#invoice
{
	border:
	{
		style: solid;
		color: map-get($COLORS, blackTheme);
		width: 1px;
		radius: 10px;
	}

	margin:
	{
		top: 20px;
		bottom: 40px;
		left: auto;
		right: auto;
	}

	width: 90%;
	overflow: hidden;
}

#invoiceHeader
{
	@extend %tabularSpecialHeaderText;

	border-bottom:
	{
		width: 1px;
		color: map-get($COLORS, blackTheme);
		style: solid;
	}

	padding:
	{
		top: 20px;
		bottom: 20px;
	}

	background-color: map-get($COLORS, lightGrayTheme);
}

#invoiceBody
{
	& > div
	{
		border-bottom:
		{
			width: 1px;
			style: solid;
			color: map-get($COLORS, darkGrayTheme);
		}

		display: flex;
		flex-wrap: wrap;

		@include phoneOnly()
		{
			flex-direction: column;
		}

		&:nth-child(2n)
		{
			background-color: map-get($COLORS, lightBlueTheme);
		}
	}
}

.invoiceSectionHeader
{
	@extend %tabularSlimHeaderText;

	padding:
	{
		top: 15px;
		bottom: 15px;
	}

	width: 100%;

	text-align: center;
}

.invoiceLabel
{
	@extend %tabularLabelText;

	margin-right: 5px;
}

.invoiceCell
{
	@extend %tabularRegularText;

	padding:
	{
		top: 15px;
		left: 10px;
		right: 10px;
		bottom: 15px;
	}

	flex: 1;
	min-width: 200px;

	display: flex;
	align-items: center;
	justify-content: center;

	&:last-child
	{
		@include phoneOnly()
		{
			padding-bottom: 25px;
		}
	}
}

#invoiceFooter
{
	@extend %tabularHeaderText;

	display: flex;
	align-items: center;
	justify-content: center;

	height: 75px;

	& > span
	{
		border:
		{
			style: solid;
			color: map-get($COLORS, blackTheme);
			width: 1px;

			bottom: none;
		}

		display: flex;
		align-items: center;

		height: 100%;

		&:first-of-type
		{
			border-left: none;

			justify-content: flex-end;

			padding-right: 20px;

			background-color: map-get($COLORS, lightGrayTheme);

			@include tabletUp()
			{
				width: 75%;
			}

			@include phoneOnly()
			{
				width: 60%;
			}
		}

		&:last-of-type
		{
			border-right: none;

			justify-content: center;

			@include tabletUp()
			{
				width: 25%;
			}

			@include phoneOnly()
			{
				width: 40%;
			}
		}
	}
}