/* ----------------------- IMPORTS ----------------------------- */

@import '../foundation/colors';
@import '../foundation/fonts';
@import '../foundation/responsive';

/* ----------------------- MIX-INS ----------------------------- */

/*
 * Specialized function meant to dictate spacing within the invoice
 */
@mixin invoiceSpacing()
{
	display: flex;
	align-items: center;
	justify-content: center;

	& > span
	{
		padding:
		{
			top: 15px;
			bottom: 15px;
		}

		display: flex;
		align-items: center;
		justify-content: center;

		height: 100%;
	}
}

/* ----------------------- STYLES ----------------------------- */

#invoice
{
	border:
	{
		style: solid;
		color: map-get($COLORS, blackTheme);
		width: 1px;
		radius: 10px;
	}

	margin:
	{
		top: 20px;
		bottom: 40px;
		left: auto;
		right: auto;
	}

	width: 90%;
	overflow: hidden;
}

#invoiceHeader
{
	@extend %tabularSlimHeaderText;
	@include invoiceSpacing();

	height: 75px;

	& > span
	{
		border:
		{
			style: solid;
			color: map-get($COLORS, blackTheme);
			width: 1px;

			top: none;
		}

		padding: 0px;

		&:first-of-type
		{
			border:
			{
				left: none;
			}
		}

		&:last-of-type
		{
			border:
			{
				right: none;
			}
		}
	}
}

#invoiceBody
{
	@extend %tabularRegularText;

	& > div
	{
		@include invoiceSpacing();

		border:
		{
			width: 1px;
			style: solid;
			color: map-get($COLORS, darkGrayTheme);

			left: none;
			right: none;
		}

		&:nth-child(even)
		{
			background-color: map-get($COLORS, lightBlueTheme);
		}

		&:first-of-type, &:last-of-type
		{
			border:
			{
				top: none;
				bottom: none;
			};
		}
	}
}

#additionalFeaturesCell
{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

#invoiceFooter
{
	@extend %tabularHeaderText;

	display: flex;
	align-items: center;
	justify-content: center;

	height: 75px;

	& > span
	{
		border:
		{
			style: solid;
			color: map-get($COLORS, blackTheme);
			width: 1px;

			bottom: none;
		}

		display: flex;
		align-items: center;

		height: 100%;

		&:first-of-type
		{
			border-left: none;
			justify-content: flex-end;

			padding-right: 20px;

			@include tabletUp()
			{
				width: 75%;
			}

			@include phoneOnly()
			{
				width: 60%;
			}
		}

		&:last-of-type
		{
			border-right: none;
			justify-content: center;

			@include tabletUp()
			{
				width: 25%;
			}

			@include phoneOnly()
			{
				width: 40%;
			}
		}
	}
}

.keyCell
{
	background-color: map-get($COLORS, lightGrayTheme);
}

