/* ----------------------- IMPORTS ----------------------------- */

@import '../foundation/fonts';
@import '../foundation/responsive';
@import '../foundation/multitext';
@import '../foundation/form';

/* ----------------------- STYLES ----------------------------- */

#personalInfoSection
{
	display: flex;
	align-items: middle;
	justify-content: flex-start;
	flex-direction: column;

	& > .controlGrouping
	{
		margin:
		{
			top: 10px;
			bottom: 10px;
		}

		flex: 1;
	}

	& > .subtleHeadsUp
	{
		margin:
		{
			top: 5px;
			bottom: 25px;
		}

		&:last-of-type
		{
			margin:
			{
				top: 25px;
				bottom: 5px;
			}
		}
	}
}

// Input lengths
#customerName, #companyName
{
	@include desktopOnly()
	{
		width: 375px;
	}

	@include mobileOnly()
	{
		width: 280px;
	}

	&:disabled
	{
		opacity: 0.9;

		@include printOnly()
		{
			opacity: 1.0;
		}
	}
}

#customerPhoneNumberInputs
{
	@extend %regularText;

	display: flex;
	align-items: center;
	flex-wrap: wrap;

	& > input
	{
		margin:
		{
			left: 10px;
			right: 10px;
		}

		@include tabletUp()
		{
			width: 100px;
		}

		@include phoneOnly()
		{
			width: 70px;

			// Shrink the font size so that we can safely fit all three phone input fields on the same row
			font-size: 14px;
		}

		@include printOnly()
		{
			width: 35px;
		}

		&:disabled
		{
			opacity: 0.9;

			@include printOnly()
			{
				opacity: 1.0;
			}
		}
	}
}

#customerEmail
{
	@include desktopOnly()
	{
		width: 25%;
	}

	@include mobileOnly()
	{
		width: 280px;
	}

	&:disabled
	{
		opacity: 0.9;

		@include printOnly()
		{
			opacity: 1.0;
		}
	}
}