/* ----------------------- IMPORTS ----------------------------- */

@import '../foundation/fonts';
@import '../foundation/responsive';

/* ----------------------- STYLES ----------------------------- */

#personalInfoSection
{
	& > .formRow
	{
		display: flex;

		& > .controlGrouping
		{
			flex: 1;
		}
	}
}

// Input lengths
#customerName
{
	@include desktopOnly()
	{
		width: 25%;
	}

	@include mobileOnly()
	{
		width: 280px;
	}

	&:disabled
	{
		opacity: 0.9;

		@include printOnly()
		{
			opacity: 1.0;
		}
	}
}

#customerPhoneNumberInputs
{
	@extend %regularText;

	display: flex;
	align-items: center;
	flex-wrap: wrap;

	& > input
	{
		margin:
		{
			left: 10px;
			right: 10px;
		}

		@include tabletUp()
		{
			width: 100px;
		}

		@include phoneOnly()
		{
			width: 70px;

			// Shrink the font size so that we can safely fit all three phone input fields on the same row
			font-size: 14px;
		}

		@include printOnly()
		{
			width: 35px;
		}

		&:disabled
		{
			opacity: 0.9;

			@include printOnly()
			{
				opacity: 1.0;
			}
		}
	}

	& > .formDescriptiveText
	{
		margin-top: 10px;
		width: 90%;


		@include printOnly()
		{
			display: none;
		}
	}
}

#customerEmail
{
	@include desktopOnly()
	{
		width: 25%;
	}

	@include mobileOnly()
	{
		width: 280px;
	}

	&:disabled
	{
		opacity: 0.9;

		@include printOnly()
		{
			opacity: 1.0;
		}
	}
}