/* ----------------------- IMPORTS ----------------------------- */

@import '../foundation/general';
@import '../foundation/fonts';
@import '../foundation/form';
@import '../foundation/responsive';
@import '../foundation/colors';

/* ----------------------- STYLES ----------------------------- */

.railingTable
{
	margin:
	{
		top: 35px;
		bottom: 35px;
		left: auto;
		right: auto;
	}

	border:
	{
		radius: 15px;
		width: 1.5px;
		style: solid;
		color: map-get($COLORS, slateGrayTheme);
	}

	width: 90%;

	display: flex;
	flex-wrap: wrap;

	@include phoneOnly()
	{
		flex-direction: column;
	}

	@include printOnly()
	{
		width: 95%;

		page-break-inside: avoid;
	}
}

.idSection
{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;

	background-color: map-get($COLORS, cadetBlueTheme);

	@include desktopOnly()
	{
		border:
		{
			right:
			{
				width: 1.5px;
				style: solid;
				color: map-get($COLORS, slateGrayTheme);
			}

			top-left-radius: 15px;
		}

		flex: 3;
	}

	@include mobileOnly()
	{
		border:
		{
			bottom:
			{
				width: 1.5px;
				style: solid;
				color: map-get($COLORS, slateGrayTheme);
			}

			top-left-radius: 15px;
			top-right-radius: 15px;
		}

		width: 100%;
	}
}

.nameCell
{
	@extend %whiteCapitalHeader;

	border:
	{
		top-left-radius: 15px;
	}

	padding:
	{
		top: 20px;
		bottom: 10px;
	}

	width: 100%;
	text-align: center;

	@include mobileOnly()
	{
		border-top-right-radius: 15px;
	}
}

.previewImageCell
{
	padding:
	{
		top: 10px;
	}

	margin:
	{
		top: 15px;
		bottom: 15px;
	}

	border-top:
	{
		width: 1.5px;
		style: solid;
		color: map-get($COLORS, blackTheme);
	}

	width: 100%;

	display: flex;
	align-items: center;
	justify-content: center;

	@include mobileOnly()
	{
		flex-direction: column;
	}

	@include printOnly()
	{
		padding:
		{
			left: 20px;
			right: 20px;
		}
	}

	& > img
	{
		margin: 10px;

		@include tabletUp()
		{
			max-width: 320px;
			max-height: 320px;
		}

		@include phoneOnly()
		{
			max-width: 225px;
			max-height: 225px;
		}

		@include printOnly()
		{
			max-width: 140px;
			max-height: 105px;
		}
	}
}

.pricingSection
{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;

	@include desktopOnly()
	{
		flex: 2;
	}

	@include mobileOnly()
	{
		width: 100%;
	}
}

.priceColumn
{
	flex: 1;
	height: 100%;

	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;

	@include desktopOnly()
	{
		margin-top: 1px;

		&:last-of-type
		{
			border-top-right-radius: 15px;
		}
	}

	&:nth-of-type(2)
	{
		background-color: map-get($COLORS, lighterGrayTheme);
	}
}

.priceHeader
{
	@extend %littleSpecialSectionHeader;

	padding:
	{
		top: 20px;
		bottom: 20px;
	}

	border-bottom:
	{
		width: 0.75px;
		style: solid;
		color: map-get($COLORS, steelBlueTheme);
	}

	display: flex;
	align-items: center;
	justify-content: center;

	width: 100%;
	height: 50px;
}

.priceCell
{
	@extend %decorativeText;

	margin:
	{
		left: 10px;
		right: 10px;
	}

	padding:
	{
		top: 5px;
		bottom: 5px;
		left: 5px;
		right: 5px;
	}

	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;

	width: 100%;

	@include desktopOnly()
	{
		flex: 3;

		min-height: 100px;
	}

	@include mobileOnly()
	{
		height: 120px;
	}

	& > span
	{
		margin: 10px;

		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
	}
}

.priceCellHeader
{
	font-weight: 700;
	font-style: italic;
}

.curvePriceCell
{
	@include phoneOnly()
	{
		font-size: map-get($FONTS, mobile-tinyFontSize);
	}
}

.noteRow
{
	@extend %italicizedFormDescriptiveText;

	padding:
	{
		top: 15px;
		bottom: 15px;
	}

	border-top:
	{
		style: solid;
		width: 1.5px;
		color: map-get($COLORS, slateGrayTheme);
	}

	width: 100%;

	@include tabletUp()
	{
		font-size: 20px;
	}

	& > span
	{
		width: 90%;
		text-align: center;
		display: inline-block;
	}
}