/* ----------------------- STYLES ----------------------------- */

#areaCode, #phoneOne, #phoneTwo
{
	width: 100px;
}

#areaCode
{
	margin:
	{
		left: 10px;
		right: 10px;
	}
}

#phoneOne
{
	margin:
	{
		left: 10px;
		right: 10px;
	}
}

#customerName, #customerEmail
{
	width: 350px;
}