/* ----------------------- STYLES ----------------------------- */

#submissionSection
{
	padding:
	{
		top: 50px;
		bottom: 30px;
	}

	display: flex;
	align-items: center;
	justify-content: center;
}

#saveAndContinue, #saveAndExit
{
	margin:
	{
		left: 20px;
		right: 20px;
	}

	width: 300px;
}