<div class='pageHeader'>
    <h3>Place an Order</h3>
    <div class='headerUnderline'></div>
</div>

<p>
    Unlike any of our counterparts in this industry, we allow our customers to purchase railings online. In the process of
    placing this order, we will be asking you for measurement estimates.
</p>

<p>
    But don't worry. We will confirm those estimates ourselves by visiting your household shortly after you place an order.
</p>

<p>
    In case you're wondering why we allow orders to be placed online, well.....we do this for your benefit and ours as well.
</p>

<p>
    Not only are we able to get you an estimate online immediately, but should you accept that estimate and place the order,
    we can immediately begin preliminary work while one of our representatives goes out to your household to confirm the
    measurements you provided us. Not only does that save us time, but far more importantly,<span class='italicized spaceBefore'>
    it saves you time as well.</span>
</p>

<p>
    Let's start the ordering process.
</p>

{{> createOrderTypeSection }}

{{> createOrderCustomOrderRequiredSection }}

{{> createOrderLengthSection }}

{{> createOrderSubmissionSection }}

{{> scrollDownLabel }}