<div id='curvesSection'>

	<div class='headlineQuestion'>Will these railings need to be curved? Is there any part of the railing that will be curved?</div>

	<div id='curveInputContainer' >
		<span class='regularRadioInput'><input id='curvesNo' type='radio' name='curves' value='n'/><label for='curvesNo'>No</label></span>
		<span class='regularRadioInput'><input id='curvesYes' type='radio' name='curves' value='y'/><label for='curvesYes'>Yes</label></span>
	</div>

    <div id='curvesYesMessage'>
        <p>
            Given that your railings need to sport some lovely curves, we will need to make the measurements
            ourselves. Don't worry, though...click on the <a href='#' class='spaceBeforeAndAfter'>link</a> here to send us your contact information
            so tht we can schedule a time when we can come by to make the measurements.
        </p>

        <p>
            And don't worry...if you click on that link, you'll still get the same online discounts.
        </p>
    </div>
</div>