<div id='lengthSection'>

	<p>
		Now we need to know the length of railing you will need for the <span class='railingsTypeFillIn spaceBefore'>staircase</span>.
		We will need you to provide us with an estimate of the length needed, in feet. Try to be as accurate as possible.
		When you figured out the proper length of railing needed, please round that figure up if it is a decimal.
		If you have any questions on how to properly measure the length of railing, see the help section below.
	</p>

    <div id='enclosureHelp'>
        <span>
            <div><i class='fa fa-question-circle'></i></div>
            <div>Help</div>
        </span>
        <p>
            To figure out the feet of railing needed, just use measuring tape to measure the length of the sides of the enclosure
            that will need railing. If you need more help on figuring out how to measure the proper length, <a href='#' class='spaceBefore'>click here for more information.</a>
        </p>
    </div>

    <div id='stairsHelp'>
        <span>
            <div><i class='fa fa-question-circle'></i></div>
            <div>Help</div>
        </span>
        <p>
            To figure out the feet of railing needed, figure out the number of steps that the railings will need to accommodate.
            Add that number of steps to the length of the landing area at the top of the stairs.
            If you need more help on figuring out how to measure the proper length, <a href='#' class='spaceBefore'>click here for more information.</a>
        </p>
    </div>

	<div class='headlineQuestion'>How many feet of railing will you need for your <span class='railingsTypeFillIn spaceBefore'>staircase</span>?</div>

    <div class='controlGroupingRow'>
        <input id='railingsLength' type='tel'/><span class='hint hint--right hint--always' data-hint=''></span> <span>feet</span>
    </div>

</div>