<div id='lengthSection'>

	<p>
		Now we need to know the length of railing you will need.
		We will need you to provide us with an estimate of the length needed, in feet. When you figured out the proper
		length of railing needed, please round that figure if it is a decimal. Keep in mind that while we want you
		to be as accurate as possible with your estimate, we will confirm your measurements ourselves after you place
		your order.
	</p>

    <div id='enclosureHelp'>
        <span>
            <div><i class='fa fa-question-circle'></i></div>
            <div>Help</div>
        </span>
        <p>
            To figure out the feet of railing needed, use measuring tape to measure the perimeter of the deck. Please only
			measure the edges of the deck that will need railings. Any part of the deck that is lined up against a wall or
			an opening should not be measured.
			If you need more help, please click <a href='faqs#deckMeasuringHelp' class='spaceBefore' target='_blank'>here</a>.
		</p>
    </div>

    <div id='stairsHelp'>
        <span>
            <div><i class='fa fa-question-circle'></i></div>
            <div>Help</div>
        </span>
        <p>
            To figure out the feet of railing needed, count the number of steps in the staircase. Then figure out the
			length of the landing area you want railed. Add both numbers together to get to your estimate.
			If you need more help, please click <a href='faqs#stairwayMeasuringHelp' class='spaceBefore' target='_blank'>here</a>.
        </p>
    </div>

	<div class='headlineQuestion'>How many feet of railing will you need?</div>

    <div class='controlGroupingRow'>
        <input id='railingsLength' type='tel' maxlength=3 />feet
    </div>

</div>