<div id='preliminaryQuestions'>

	<div class='headlineQuestion'>
		How do you prefer to design your railings?
	</div>

	<div id='designMethodologyInputContainer' >
		<span class='regularRadioInput'><input id='designMethodologyCustom' type='radio' name='designMethodology' value='custom'/>
			<label for='designMethodologyCustom'>
				I want input over all the different components that make up a railing. Let me design from scratch.
			</label>
		</span>
		<span class='regularRadioInput'><input id='designMethodologyPreset' type='radio' name='designMethodology' value='preset'/>
			<label for='designMethodologyPreset'>
				I want to keep things simple. Show me some railings and I'll just pick out one I like.
			</label>
		</span>
	</div>

</div>