<div id='customOrderRequiredSection'>

	<div class='headlineQuestion'>
		Will these railings need to be curved? Is there any part of the railing that will be curved?
	</div>

	<div id='curveInputContainer' >
		<span class='regularRadioInput'><input id='curvesNo' type='radio' name='curves' value='n'/><label for='curvesNo'>No</label></span>
		<span class='regularRadioInput'><input id='curvesYes' type='radio' name='curves' value='y'/><label for='curvesYes'>Yes</label></span>
	</div>

	<div class='separator'></div>

	<div class='headlineQuestion'>
		Are you buying railings for a balcony that's at least two stories off the ground?
	</div>

	<div id='balconyInputContainer' >
		<span class='regularRadioInput'><input id='balconyNo' type='radio' name='balconyOrder' value='n'/>
			<label for='balconyNo'>No</label>
		</span>
		<span class='regularRadioInput'><input id='balconyYes' type='radio' name='balconyOrder' value='y'/>
			<label for='balconyYes'>Yes</label>
		</span>
	</div>

	<div class='separator'></div>

	<div class='headlineQuestion'>
		How do you prefer to design your railings?
	</div>

	<div id='designMethodologyInputContainer' >
		<span class='regularRadioInput'><input id='designMethodologyPremium' type='radio' name='designMethodology' value='premium'/>
			<label for='designMethodologyPremium'>
				I want more decorative railings. Show me all your design options, even those that may cost a little
				extra.
			</label>
		</span>
		<span class='regularRadioInput'><input id='designMethodologyBasic' type='radio' name='designMethodology' value='basic'/>
			<label for='designMethodologyBasic'>
				I just want basic railings. Show me only design options that are free.
			</label>
		</span>
	</div>

</div>