<div id='styleSection'>

	<p>
		Now let's help you figure the style of railing you want. Keep in mind that the styles we list below are our
		basic styles. We will be more than happy to accommodate any design or decoration requests. Just make sure you
		check off the last option to indicate that you want personalized railings.
	</p>

	<div class='headlineQuestion'>What type of railings were you looking for?</div>

    <div class='styleContainer'>
        <span>
    		<input type='checkbox' id='barsCheckbox' value='bars' /><label for='barsCheckbox'></label>
        </span>
        <span class='pictureButtonContainer'>
            <span class='pictureButton' data-style='bars'>
                <div><img src='client/images/traditional-bar-railings.jpg' /></div>
                <div>Bars</div>
            </span>
        </span>
        <span class='styleDescription'>
            <div class='pictureGallery'>
                <img class='railingPhoto' src='client/images/bar-railings-1.jpg' />
                <img class='railingPhoto' src='client/images/bar-railings-2.jpg' />
                <img class='railingPhoto' src='client/images/bar-railings-3.jpg' />
            </div>
            <div class='textualDescription'>
				Beautifully simple and elegant bars that connect the top and bottom parts of the railings.
			</div>
        </span>
    </div>

	<div class='styleContainer'>
        <span>
    		<input type='checkbox' id='collarsCheckbox' value='collars' /><label for='collarsCheckbox'></label>
        </span>
        <span class='pictureButtonContainer'>
            <span class='pictureButton' data-style='collars'>
                <div><img src='client/images/traditional-collar-railings.jpg' /></div>
                <div>Collars</div>
            </span>
        </span>
        <span class='styleDescription'>
            <div class='pictureGallery'>
				<img class='railingPhoto' src='client/images/collars-railings-1.jpg' />
				<img class='railingPhoto' src='client/images/collars-railings-2.jpg' />
				<img class='railingPhoto' src='client/images/collars-railings-3.jpg' />
			</div>
            <div class='textualDescription'>
                Ornate vertical bars connecting the top and bottom parts of the railings, with every other bar studded with a
                lovely round sphere
            </div>
        </span>
	</div>

	<div class='styleContainer'>
        <span>
    		<input type='checkbox' id='customStylingCheckbox' value='custom' /><label for='customStylingCheckbox'></label>
        </span>
        <span class='pictureButtonContainer'>
            <span class='pictureButton' data-style='custom'>
                <div><img src='client/images/custom-railings.jpg' /></div>
                <div>Custom</div>
            </span>
        </span>
        <span class='styleDescription'>
            <div class='pictureGallery'>
                <img class='railingPhoto' src='client/images/custom-railings-1.jpg' />
                <img class='railingPhoto' src='client/images/custom-railings-2.jpg' />
                <img class='railingPhoto' src='client/images/custom-railings-3.jpg' />
            </div>
            <div class='textualDescription'>
                If you want more decorative railings than the options we offer you above, we are more than willing to work with you
                to bring your vision to reality. Please do keep in mind that more complex jobs may require you to pay more.
            </div>
        </span>
	</div>

</div>