<div id='typeSection'>

    <div class='headlineQuestion'>Where exactly do you need to install some new railings?</div>

    <span class='pictureButtonContainer'>
        <span class='pictureButton' data-type='stairs'>
            <div><img src='client/images/traditional-staircase.jpg' /></div>
            <div>Stairs</div>
        </span>
    </span>

    <span class='pictureButtonContainer'>
        <span class='pictureButton' data-type='deck'>
            <div><img src='client/images/balcony-rail.jpg' /></div>
            <div>Patio / Deck / Balcony</div>
        </span>
    </span>

    <span class='pictureButtonContainerCheckbox'>
        <input type='checkbox' id='stairsCheckbox' value='stairs' /><label for='stairsCheckbox'></label>
    </span>

    <span class='pictureButtonContainerCheckbox'>
        <input type='checkbox' id='deckCheckbox' value='deck' /><label for='deckCheckbox'></label>
    </span>

</div>