<div id='modalOverlay'>

	<div id='actionModal'>

		<div id='actionModalBody'> 
			<!-- Custom template will go here -->
		</div>

		<div id='actionModalAnswerBar'>
			<button id='actionModalOk'>
				<i class='fa fa-check-circle'></i>
				<span class='translate'>OK</span>
			</button>
		</div>

	</div>

</div>