<div id='topMenu' class='adminify'>

	<span id='desktopMenuLinks'>
		<img id='topMenuLogo' src='client/images/logo/png/color_logo_transparent_background_small.png' onclick='window.location.href="/orders"'/>
	</span>

	<div id='desktopMenuLinks'>
		<a class='topMenuLink' href='/orders'>ORDER LISTING</a>
		<a class='topMenuLink' href='/priority'>PRIORITIZE ORDERS</a>
		<a class='topMenuLink' href='/shopSchedule'>SHOP PAGE</a>
	</div>

	<span id='topMenuExpander' class='topMenuLink' tabindex='1'>
		<i class='fa fa-bars'></i>
		MENU
	</span>

	<div id='mobileTopMenuLinks'>
		<a class='topMenuLink' href='/orders'>ORDER LISTING</a>
		<a class='topMenuLink' href='/priority'>PRIORITIZE ORDERS</a>
		<a class='topMenuLink' href='/shopSchedule'>SHOP PAGE</a>
	</div>

</div>