{{#unless isAdmin}}
	<span class='footerElement'>
		<span id='desktopContactNumberLister' class='desktopOnly'>{{ contactNumber }}</span>
		<a id='mobileContactUsNavigator' class='mobileOnly' href='/contactUs'>
			<i class='fa fa-calendar'></i>Schedule with Us
		</a>
	</span>
	<span class='footerElement'>
		<span id='desktopCopyrightLister' class='desktopOnly'>
			<i class='fa fa-copyright'></i>{{currentYear}}
		</span>
		<a id='mobileCallUsNavigator' class='mobileOnly' href='tel:{{ contactNumber }}'>
			<i class='fa fa-phone'></i>Call Us
		</a>
	</span>
{{/unless}}