<div id='confirmationModalOverlay' class='modalOverlay'>

    <div id='confirmationModal'>

        <div id='confirmationModalBody'> <!-- Custom written text will go here --> </div>

        <div id='confirmationModalAnswerBar'>
            <button id='confirmationModalYes'>
                <i class='fa fa-check-circle'></i>
                <span class='translate'>Yes</span>
            </button>
            <button id='confirmationModalNo'>
				<i class='fa fa-minus-circle'></i>
				<span class='translate'>No</span>
            </button>
        </div>

    </div>

</div>