<div id='modalOverlay'>

    <div id='confirmationModal'>

        <div id='confirmationModalBody'> <!-- Custom written text will go here --> </div>

        <div id='confirmationModalAnswerBar'>
            <button id='confirmationModalYes'>
                <i class='fa fa-check-circle'></i>
                Yes
            </button>
            <button id='confirmationModalNo'>
				<i class='fa fa-minus-circle'></i>
                No
            </button>
        </div>

    </div>

</div>