<div id='galleryOverlay'>

    <div id='galleryControls'>
        <span id='galleryExitButton'><i class='fa fa-times'></i></span>
		<span id='galleryLeftButton'><i class='fa fa-arrow-left'></i></span>
		<span id='galleryRightButton'><i class='fa fa-arrow-right'></i></span>
    </div>

    <div id='galleryPictureViewer'>
        <img id='galleryPicture' src='' />
    </div>

</div>