<div id='galleryOverlay'>

	<div id='galleryContainer'>

		<div id='galleryExitRow'>
			<i id='galleryExitButton' class='fa fa-times-circle'></i>
		</div>

		<div id='galleryPictureViewer'>
			<img id='galleryPicture' src='' />
		</div>

		<div id='galleryControls'>
			<span id='galleryLeftButton'><i class='fa fa-arrow-circle-left'></i></span>
			<span id='galleryRightButton'><i class='fa fa-arrow-circle-right'></i></span>
		</div>

		<i id='galleryLoadingIcon' class='fa fa-spinner fa-pulse fa-3x fa-fw'></i>
	</div>

</div>