<!-- Loading veil -->
<div id='baseLoaderOverlay'>
	<div>
		<span id='loadingText'>Loading</span>
	</div>
	<div>
		<span class="loadingBall"></span>
		<span class="loadingBall"></span>
		<span class="loadingBall"></span>
	</div>
</div>