<script id='newNoteRecord' type='text/x-handlebars-template'>
	<div class='noteRecord'>
		<span class='noteMetadata'>
			<div class='noteDate'>
				\{{#format_date this.date}}\{{/format_date}}
			</div>
			<div class='noteTime'>
				\{{#format_time this.date}}\{{/format_time}}
			</div>
			<div class='noteAuthor'>
				\{{ this.author }}
			</div>
		</span>
		<span class='noteCell translate'>\{{{ this.note }}}</span>
	</div>
</script>

<script id='newNoteTextarea' type='text/x-handlebars-template'>
	<div class='newNoteUpload'>
		<textarea class='newNoteText' data-order-id='{{ _id }}'></textarea>
		<div class='newNoteActions'>
			<span class='noteField'>
				<span class='labelText'>Type</span>
				<select class='noteType'>
					<option value='n'>Note</option>
					<option value='t'>Task</option>
				</select>
			</span>
	
			<span class='noteField'>
				<span class='labelText'>Assign To:</span>
				<select class='taskAssignTo'>
					<option value='n'>Blah</option>
					<option value='t'>Blah</option>
				</select>
			</span>
	
			<span class='noteField'>
				<span class='labelText'>Assigned From:</span>
				<select class='staticText'>
					kinsho
				</select>
			</span>
	
			<button class='noteSave'>Save New</button>
		</div>
	</div>
</script>