<!-- User notification bar -->
<div id='userNotificationBar' class='infoBar'>
	<i class='fa fa-exclamation-circle'></i>
    <span id='userNotificationMessage'>
        <!-- Notification message will go here -->
    </span>
    <span id='userNotificationBarExitContainer'>
        <i id='userNotificationBarExit' class='fa fa-times infoBarExit'></i>
    </span>
</div>