{{#if notes.internal.length}}
	<div class='notesHistory'>
		{{#unless (is_string notes.internal)}}

			{{#each notes.internal}}

				<div class='noteRecord'>
				<span class='noteMetadata'>
					<span class='noteDate'>
						{{#format_date this.date}}{{/format_date}}
					</span>
					<span class='noteTime'>
						{{#format_time this.date}}{{/format_time}}
					</span>
					<span class='noteAuthor'>{{ this.author }}</span>
				</span>
					<span class='noteCell translate'>{{{ this.note }}}</span>
				</div>

			{{/each}}

		{{else}}
			<!-- Assume we are dealing with a string value here -->
			<span class='translate'>{{ notes.internal }}</span>
		{{/unless}}
	</div>
{{/if}}