<!-- User success bar -->
<div id='userSuccessBar' class='infoBar'>
	<i class='fa fa-check-circle'></i>
	<span id='userSuccessMessage'>
		<!-- Success message will go here -->
	</span>
	<span id='userSuccessBarExitContainer'>
		<i id='userSuccessBarExit' class='fa fa-times infoBarExit'></i>
	</span>
</div>