<div id='topMenu'>
	<a id='topMenuLogoContainer' href='/'><img id='topMenuLogo' src='client/images/logo/png/color_logo_transparent_background_small.png' /></a>
	<a class='topMenuLink' href='/createOrder'>PLACE AN ORDER</a>
	<a class='topMenuLink' href='/gallery'>GALLERY</a>
	<a class='topMenuLink' href='/checkOrder'>CHECK ORDER STATUS</a>
	<a class='topMenuLink' href='/contactUs'>CONTACT US</a>
	<a class='topMenuLink' href='/faqs'>FREQUENTLY ASKED QUESTIONS</a>
	<i id='topMenuExpander' class='fa fa-bars' tabindex='1'></i>
	<div id='mobileTopMenuLinks'>
		<a class='topMenuLink' href='/createOrder'>PLACE AN ORDER</a>
		<a class='topMenuLink' href='/gallery'>GALLERY</a>
		<a class='topMenuLink' href='/checkOrder'>CHECK ORDER STATUS</a>
		<a class='topMenuLink' href='/contactUs'>CONTACT US</a>
		<a class='topMenuLink' href='/faqs'>FREQUENTLY ASKED QUESTIONS</a>
	</div>
</div>