/* ----------------------- IMPORTS ----------------------------- */

@import '../foundation/general';
@import '../foundation/fonts';
@import '../foundation/form';
@import '../foundation/responsive';
@import '../foundation/colors';

/* ----------------------- STYLES ----------------------------- */

#orderSearch
{
	border-bottom:
	{
		style: solid;
		color: map-get($COLORS, blackTheme);
		width: 2px;
	}

	padding-bottom: 30px;

	& > p:first-of-type
	{
		text-align: center;
	}

	& > .formRow
	{
		margin:
		{
			left: 0px;
		}

		display: flex;
		justify-content: center;

		@include tabletUp()
		{
			align-items: center;
		}

		@include tabletOnly()
		{
			flex-wrap: wrap;
		}

		@include phoneOnly()
		{
			align-items: flex-start;
		}
	}
}

.controlGrouping
{
	display: flex;
	justify-content: center;
	flex-direction: column;

	@include tabletUp()
	{
		border-right:
		{
			style: solid;
			width: 2px;
			color: map-get($COLORS, darkGrayTheme);
		}

		padding:
		{
			top: 10px;
			bottom: 10px;
		}

		align-items: center;
	}

	@include phoneOnly()
	{
		margin-left: 25px;
		align-items: flex-start;
	}

	& > label
	{
		margin-bottom: 10px;
	}

	&:nth-of-type(1)
	{
		@include desktopOnly()
		{
			width: 30%;
		}

		@include tabletOnly()
		{
			width: calc(50% - 1px);

			padding-bottom: 25px;
		}

		& > input
		{
			width: 100px;
		}
	}

	&:nth-of-type(2)
	{
		@include desktopOnly()
		{
			width: 30%;
		}

		@include tabletOnly()
		{
			width: calc(50% - 1px);
			padding-bottom: 25px;

			border-right: none;
		}

		& > input
		{
			width: 250px;
		}
	}

	&:nth-of-type(3)
	{
		@include desktopOnly()
		{
			width: 40%;
			border-right: none;
		}

		@include tabletOnly()
		{
			border-top:
			{
				style: solid;
				width: 2px;
				color: map-get($COLORS, darkGrayTheme);
			}
			border-right: none;

			padding-top: 25px;

			width: 100%;
		}

		& > input
		{
			width: 100px;
		}
	}
}

#orderSearchButtonContainer
{
	margin-top: 25px;
}

#orderSearchButton
{
	@include button($bgColor: darkGreenTheme);

	margin:
	{
		left: auto;
		right: auto;
	}

	width: 300px;

	& > i
	{
		margin-left: 10px;
	}
}