/* ----------------------- IMPORTS ----------------------------- */

@import '../foundation/colors';
@import '../foundation/fonts';
@import '../foundation/responsive';

/* ----------------------- STYLES ----------------------------- */

#colorPicker
{
	display: flex;
	align-items: center;
	justify-content: center;

	padding-top: 30px;

	@include mobileOnly()
	{
		flex-direction: column;
	}
}

#colorDemo
{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;

	@include desktopOnly()
	{
		border-right:
		{
			width: 2px;
			style: solid;
			color: map-get($COLORS, lightGrayTheme);
		}

		width: 30%;
		padding-right: 20px;
	}

	@include mobileOnly()
	{
		border-bottom:
		{
			width: 2px;
			style: solid;
			color: map-get($COLORS, lightGrayTheme);
		}

		width: 100%;
		padding-bottom: 20px;
		margin-bottom: 10px;
	}
}

#colorDemoPicture
{
	cursor: pointer;

	@include desktopOnly
	{
		width: 260px;
		height: 260px;
	}

	@include mobileOnly
	{
		width: 200px;
		height: 200px;
	}
}

#colorDemoName
{
	@extend %bigSignificantText;
	@extend %italicizedFont;

	letter-spacing: 0.1em;

	margin-top: 25px;
}

#colorSelector
{
	display: inline-flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;

	@include desktopOnly()
	{
		width: 45%;
	}

	@include mobileOnly()
	{
		width: 100%;
	}

	& > span
	{
		display: inline-flex;
		align-items: center;
		justify-content: center;
		flex-wrap: wrap;

		@include desktopOnly()
		{
			width: 40%;
		}

		@include tabletOnly()
		{
			width: 22%;
		}

		@include phoneOnly()
		{
			width: 25%;
		}
	}
}

.colorContainer
{
	width: 100%;
}

.selectedArrow
{
	margin:
	{
		top: 10px;
		bottom: 10px;
	}

	visibility: hidden;

	font-size: 64px;
	color: map-get($COLORS, noticeTheme);

	cursor: default;

	@include mobileOnly()
	{
		font-size: 48px;
	}

	&.reveal
	{
		visibility: visible;
	}
}

.colorOption
{
	border:
	{
		radius: 50%;

		width: 1.5px;
		style: solid;
		color: map-get($COLORS, blackTheme);
	}

	display: inline-block;

	cursor: pointer;

	@include desktopOnly()
	{
		width: 64px;
		height: 64px;
	}

	@include mobileOnly()
	{
		width: 32px;
		height: 32px;
	}
}

#whiteColor
{
	background-color: map-get($COLORS, smokeWhiteTheme);
}

#blackColor
{
	background-color: map-get($COLORS, blackTheme);
}

#mahoganyColor
{
	background-color: map-get($COLORS, mahoganyTheme);
}

#silverColor
{
	background-color: map-get($COLORS, silverTheme);
}