/* ----------------------- IMPORTS ----------------------------- */

@import '../foundation/colors';
@import '../foundation/fonts';
@import '../foundation/loader';
@import '../foundation/general';
@import '../foundation/form';
@import '../foundation/gallery';
@import '../foundation/responsive';
@import '../foundation/optionsCarousel';
@import '../foundation/scrollDownLabel';

/* ----------------------- STYLES ----------------------------- */

#onlineBenefits
{
	@extend %regularPlusText;
}

#preliminaryQuestions, #submissionSection
{
	border-top:
	{
		color: map-get($COLORS, blackTheme);
		style: solid;
		width: 2px;
	}

	padding:
	{
		top: 20px;
		bottom: 20px;
	}
}