/* ----------------------- IMPORTS ----------------------------- */

@import '../foundation/colors';
@import '../foundation/fonts';
@import '../foundation/animations';

/* ----------------------- STYLES ----------------------------- */

#curveInputContainer
{
	@extend %significantText;

	margin:
	{
		top: 20px;
	}

	display: flex;
	justify-content: center;
	align-items: center;

	& > span
	{
		width: 49%;

		& > input
		{
			cursor: pointer;
		}
	}
}

#curvesYesMessage
{
	@include transitionSettings($property: all, $duration: 0.75s);

	border:
	{
		width: 1px;
		color: map-get($COLORS, whiteTheme);
		style: solid;
		radius: 10px;
	}

	max-height: 0px;
	margin: 20px;

	overflow-y: hidden;
	overflow-x: hidden;

	&.reveal
	{
		max-height: 1000px;
		border-color: map-get($COLORS, darkGrayTheme);
	}
}