/* ----------------------- IMPORTS ----------------------------- */

@import '../foundation/colors';
@import '../foundation/fonts';
@import '../foundation/animations';

/* ----------------------- STYLES ----------------------------- */

#curveInputContainer, #bigOrderInputContainer
{
	@extend %significantText;

	margin:
	{
		top: 20px;
	}

	display: flex;
	justify-content: center;
	align-items: center;

	& > span
	{
		width: 50%;

		& > input
		{
			cursor: pointer;
		}
	}
}

#curvesYesMessage, #bigOrderYesMessage
{
	@include transitionSettings($property: all, $duration: 0.75s);

	border:
	{
		width: 0px;
		color: map-get($COLORS, darkGrayTheme);
		style: solid;
		radius: 10px;
	}

	max-height: 0px;
	margin: 20px;

	overflow: hidden;

	&.reveal
	{
		max-height: 1000px;
		border-width: 1px;
	}
}