/* ----------------------- IMPORTS ----------------------------- */

@import '../foundation/colors';
@import '../foundation/fonts';
@import '../foundation/animations';

/* ----------------------- STYLES ----------------------------- */

#curveInputContainer, #balconyInputContainer
{
	@extend %significantText;

	margin:
	{
		top: 20px;
	}

	display: flex;
	justify-content: center;
	align-items: center;

	& > span
	{
		width: 50%;

		& > input
		{
			cursor: pointer;
		}
	}
}

#designMethodologyInputContainer
{
	@extend %significantText;

	margin:
	{
		top: 20px;
	}

	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

	& > span > input
	{
		cursor: pointer;
	}
}