/* ----------------------- IMPORTS ----------------------------- */

@import '../foundation/colors';
@import '../foundation/fonts';
@import '../foundation/animations';

/* ----------------------- STYLES ----------------------------- */

#curveInputContainer, #balconyInputContainer
{
	margin:
	{
		top: 20px;
	}

	display: flex;
	justify-content: center;
	align-items: center;

	line-height: 26px;

	& > span
	{
		flex: 1;

		& > input
		{
			cursor: pointer;
		}
	}
}

#designMethodologyInputContainer
{
	margin:
	{
		top: 20px;
	}

	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

	& > span
	{
		margin:
		{
			top: 10px;
			bottom: 10px;
		}

		width: 90%;
		text-align: left;

		& > input
		{
			cursor: pointer;
		}
	}
}