/* ----------------------- IMPORTS ----------------------------- */

@import '../foundation/colors';
@import '../foundation/fonts';
@import '../foundation/responsive';

/* ----------------------- STYLES ----------------------------- */

.styleContainer
{
	margin:
	{
		top: 30px;
		bottom: 30px;
		left: auto;
		right: auto;
	}

	border:
	{
		radius: 10px;
		color: map-get($COLORS, grayTheme);
		style: solid;
		width: 2px;
	}

	display: flex;
	align-items: center;
	justify-content: center;

	background-color: map-get($COLORS, lightWhiteTheme);

	width: 95%;

	@include mobileOnly()
	{
		flex-direction: column;
	}
}

.pictureButtonContainer
{
	@extend %smallSignificantText;

	@include mobileOnly()
	{
		flex-direction: column-reverse;

		width: 100%;
	}

	@include desktopOnly()
	{
		width: 33%;
	}

	img
	{
		@include mobileOnly()
		{
			width: 125px;
			height: 125px;
		}

		@include desktopOnly()
		{
			width: 175px;
			height: 175px;
		}
	}

	& > span:nth-of-type(1)
	{
		@include mobileOnly()
		{
			margin-top: 25px;
			margin-bottom: 20px;
		}
	}

	& > .pictureButton
	{
		margin:
		{
			top: 15px;
			bottom: 15px;
		}
	}
}

.styleDescription
{
	margin:
	{
		top: 10px;
		bottom: 10px;
	}

	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;

	@include desktopOnly()
	{
		border-left:
		{
			width: 2px;
			style: solid;
			color: map-get($COLORS, lightGrayTheme);
		}

		width: 67%;
	}

	@include mobileOnly()
	{
		width: 100%;
	}

	& > div
	{
		@include desktopOnly()
		{
			padding:
			{
				top: 10px;
				bottom: 10px;
			}
		}

		display: flex;
		align-items: center;
		justify-content: center;

		height: 135px;
		width: 80%;

		@include mobileOnly()
		{
			border-top:
			{
				width: 2px;
				style: solid;
				color: map-get($COLORS, lightGrayTheme);
			}

			padding:
			{
				top: 15px;
				bottom: 15px;
				left: 10%;
				right: 10%;
			}

			height: auto;
		}
	}
}

.pictureGallery
{
	border-bottom:
	{
		width: 2px;
		style: solid;
		color: map-get($COLORS, lightGrayTheme);
	}

	& > img
	{
		margin:
		{
			left: 20px;
			right: 20px;
		}

		cursor: pointer;

		@include tabletUp()
		{
			width: 115px;
			height: 115px;
		}

		@include phoneOnly()
		{
			width: 80px;
			height: 80px;
		}
	}
}

.textualDescription
{
	@extend %regularPlusText;
}