/* ----------------------- IMPORTS ----------------------------- */

/* ----------------------- STYLES ----------------------------- */

#submissionSection
{
	&.rollDownSection
	{
		height: 100px;
	}
}

#orderSubmissionButton
{
	margin:
	{
		left: auto;
		right: auto;
	}

	width: 200px;
}