/* ----------------------- IMPORTS ----------------------------- */

/* ----------------------- STYLES ----------------------------- */

#orderSubmissionButton
{
	margin:
	{
		left: auto;
		right: auto;
	}

	width: 200px;
}