/* ----------------------- IMPORTS ----------------------------- */

/* ----------------------- STYLES ----------------------------- */

#orderSubmissionButtonContainer
{
	margin-top: 25px;
}

#orderSubmissionButton
{
	margin:
	{
		left: auto;
		right: auto;
	}

	width: 200px;
}