/* ----------------------- IMPORTS ----------------------------- */

@import '../foundation/responsive';

/* ----------------------- STYLES ----------------------------- */

#typeSection
{
	padding:
	{
		top: 20px;
		bottom: 20px;
	}
}

#typeSelection
{
	margin:
	{
		top: 20px;
		bottom: 20px;
	}

	display: flex;
	align-items: center;
	justify-content: center;

	@include phoneOnly()
	{
		flex-direction: column;
	}

	// Picture buttons
	& > .pictureButtonContainer
	{

		@include tabletUp()
		{
			flex-direction: column-reverse;

			height: 400px;
			width: 50%;
		}

		@include phoneOnly()
		{
			margin:
			{
				top: 20px;
				bottom: 20px;
			}
		}

		& > span:first-of-type
		{
			@include tabletUp()
			{
				margin-top: 25px;
			}

			@include phoneOnly()
			{
				margin-right: 25px;
			}
		}

		& > .pictureButton
		{
			@include phoneOnly()
			{
				width: 225px;
				height: 225px;
			}
		}

		img
		{
			width: 250px;
			height: 250px;

			@include phoneOnly()
			{
				width: 175px;
				height: 175px;
			}
		}
	}
}