/* ----------------------- IMPORTS ----------------------------- */

@import '../foundation/colors';
@import '../foundation/fonts';
@import '../foundation/general';
@import '../foundation/form';
@import '../foundation/responsive';
@import '../foundation/animations';
@import '../foundation/gallery';

/* ----------------------- STYLES ----------------------------- */

#galleryCollection
{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}

.pictureHolder
{
	margin: 25px;
	cursor: pointer;

	position: relative;
}

.indexBubble
{
	@extend %significantText;

	border:
	{
		radius: 50%;
		width: 2px;
		style: solid;
		color: map-get($COLORS, blackTheme);
	}

	position: absolute;
	top: 10px;

	padding: 5px;
	background-color: map-get($COLORS, whiteTheme);

	@include tabletUp()
	{
		width: 30px;

		left: calc(100% - 50px);
	}

	@include phoneOnly()
	{
		font-size: map-get($FONTS, tinyFontSize);

		width: 15px;

		left: calc(100% - 35px);
	}
}