/* ----------------------- IMPORTS ----------------------------- */

@import '../foundation/colors';
@import '../foundation/fonts';
@import '../foundation/general';
@import '../foundation/form';
@import '../foundation/responsive';
@import '../foundation/animations';
@import '../foundation/gallery';

/* ----------------------- STYLES ----------------------------- */

#galleryCollection
{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}

.pictureHolder
{
	margin: 25px;
	cursor: pointer;

	position: relative;
}