<div class='pageHeader'>
	<h3>Thank You</h3>
	<div class='headerUnderline'></div>
</div>

<p>
   Your order has been confirmed. If you are paying by check, we will begin work on your order as soon as we receive
	your first check.
</p>

<div id='orderInfo'>
    <span>
        <span class='bolded'>- Your Order Number -</span>
		<span>{{ orderNumber }}</span>
    </span>
    <span>
    	<span class='bolded'>- Your Phone Number -</span>
		<span>{{ phoneNumber }}</span>
    </span>
    <span>
	    <span class='bolded'>- Your E-mail Address -</span>
		<span>{{ email }}</span>
    </span>
</div>

<p>
    <span class='bolded spaceAfter'>It's very IMPORTANT that you double-check your contact information above.</span>
	When we are ready to install your railings, we will be using the information above to reach out to you and
	schedule a time.
</p>

<p>
    If any part of your contact information above is incorrect, please contact us immediately at
    {{ supportPhoneNumber }} and leave us a message with your order number and your corrected contact information.
</p>

<div id='homeLink'>
	<a href='/'>
		<i class='fa fa-arrow-circle-o-left'></i>
		Go back to the main page
	</a>
</div>