<div class='pageHeader'>
	<h3>Thank You</h3>
	<div class='headerUnderline'></div>
</div>

<p>
   Your order has been confirmed and saved into our database. We have e-mailed the order number to you.
</p>

<div class='sectionHeadline'>Order Number: {{ orderNumber }}</div>

<p>
    It's very IMPORTANT that you double-check your contact information below. The next step is for us to reach
    out to you and schedule an appointment where we can come by, verify your measurements, and discuss any other
    details relevant to your order prior to actually fulfilling the order.
</p>

<div id='contactInfo'>
    <div>
        <span>Phone Number: </span><span>{{ phoneNumber }}</span>
		<span>E-mail Address: </span><span>{{ email }}</span>
    </div>
</div>

<p>
    If any part of your contact information above is incorrect, please contact us immediately at
    {{ supportPhoneNumber }} and leave us a message with your order number and your corrected contact information.
</p>