<div id='customInvoiceFormSection'>

	<div class='controlGrouping'>

		<div class='inputGrouping'>
			<label for='orderID'>Order ID</label>
			<input type='tel' id='orderID' maxlength='5' class='optional' />
		</div>

		<div class='inputGrouping'>
			<label for='customerName' class='required'>Name</label>
			<input type='text' id='customerName' />
		</div>

		<div class='inputGrouping'>
			<label for='customerEmail' class='required'>E-mail</label>
			<input type='text' id='customerEmail' />
		</div>

	</div>

	<div class='controlGrouping'>

		<div class='inputGrouping'>
			<label for='customerAddress'>Service Address</label>
			<input type='text' id='customerAddress' />
		</div>

		<div class='inputGrouping'>
			<label for='customerCity'>City</label>
			<input type='text' id='customerCity' />
		</div>

		<div class='inputGrouping'>
			<label for='customerState'>State</label>
			<select id='customerState'>
				<option val='' selected='selected' disabled>Select a state...</option>
				<option val='NJ'>New Jersey</option>
				<option val='NY'>New York</option>
				<option val='PA'>Pennsylvania</option>
			</select>
		</div>

	</div>

</div>