<div id='customInvoiceFormSection'>

	<div class='controlGrouping'>

		<div class='inputGrouping'>
			<label for='orderID'>Order ID</label>
			<input type='tel' id='orderID' maxlength='5' />
		</div>

		<div class='inputGrouping'>
			<label for='customerName'>Name</label>
			<input type='text' id='customerName' />
		</div>

		<div class='inputGrouping'>
			<label for='customerEmail'>E-Mail</label>
			<input type='text' id='customerEmail' />
		</div>

	</div>

</div>