<div id='customInvoiceFormSection'>

	<div class='controlGrouping'>

		<div class='inputGrouping'>
			<label for='orderID'>Order ID</label>
			<input type='tel' id='orderID' maxlength='5' class='optional' />
		</div>

		<div class='inputGrouping'>
			<label for='customerName' class='required'>Name</label>
			<input type='text' id='customerName' />
		</div>

		<div class='inputGrouping'>
			<label for='customerEmail' class='required'>E-mail</label>
			<input type='text' id='customerEmail' />
		</div>

	</div>

</div>